openapi: 3.0.3
info:
  title: AiTEMS
  description: AiTEMS
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn-todo: true
servers:
  - url: https://aitems.apigw.ntruss.com
    description: ai-tems 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /datasets:
    get:
      operationId: DataSetList
      summary: 데이터셋 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-dataset-list
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: '조회 데이터의 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '조회 데이터의 최대 개수 기본값: 1,000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '데이터세 정보: datasets'
                  offset:
                    type: integer
                    description: 조회 데이터의 시작 위치
                  limit:
                    type: integer
                    description: 조회 데이터의 최대 개수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: DataSetCreate
      summary: 데이터셋 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-dataset-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - name
                - description
                - schemaName
                - osInfo
              properties:
                type:
                  type: string
                  description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                name:
                  type: string
                  description: 데이터셋 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~20자 이내로 입력 문자열의 시작은 영문자
                description:
                  type: string
                  description: 데이터셋에 대한 설명 0~100자
                schemaName:
                  type: string
                  description: 데이터셋의 스키마 이름
                osInfo:
                  type: object
                  additionalProperties: true
                  description: 데이터 파일이 저장된 Object Storage 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetId:
                    type: string
                    description: 데이터셋 ID
                  type:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 데이터셋 이름
                  description:
                    type: string
                    description: 데이터셋에 대한 설명
                  schemaName:
                    type: string
                    description: 데이터셋 스키마 이름
                  status:
                    type: string
                    description: '데이터셋 상태 enable | waiting | processing | upload_failed | disable | deleting enable : 학습 가능 waiting , processing : 대기 중 upload_failed , disable , deleting : 업로드 실패'
                  osInfo:
                    type: object
                    additionalProperties: true
                    description: 데이터 파일이 저장된 Object Storage 정보
                  connectedServices:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '데이터셋을 사용 중인 서비스 정보: connectedServices'
                  createdDate:
                    type: string
                    description: 데이터셋 생성 일시
                  updatedDate:
                    type: string
                    description: 데이터셋 최종 업데이트 일시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /datasets/{datasetId}:
    get:
      operationId: DataSetRead
      summary: 데이터셋 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-dataset-read
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: 데이터셋 ID 데이터셋 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetId:
                    type: string
                    description: 데이터셋 ID
                  type:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 데이터셋 이름
                  description:
                    type: string
                    description: 데이터셋에 대한 설명
                  schemaName:
                    type: string
                    description: 데이터셋 스키마 이름
                  status:
                    type: string
                    description: '데이터셋 상태 enable | waiting | processing | upload_failed | disable | deleting enable : 학습 가능 waiting , processing : 대기 중 upload_failed , disable , deleting : 업로드 실패'
                  osInfo:
                    type: object
                    additionalProperties: true
                    description: 데이터 파일이 저장된 Object Storage 정보
                  connectedServices:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '데이터셋을 사용 중인 서비스 정보: connectedServices'
                  createdDate:
                    type: string
                    description: 데이터셋 생성 일시
                  updatedDate:
                    type: string
                    description: 데이터셋 최종 업데이트 일시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: DataSetModify
      summary: 데이터셋 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-dataset-modify
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: 데이터셋 ID 데이터셋 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - name
                - schemaName
                - osInfo
              properties:
                type:
                  type: string
                  description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                name:
                  type: string
                  description: 데이터셋 이름 3~20자로 영문자, 숫자, 특수 문자 '_', '-'를 허용하며 영문자로 시작해야 함
                description:
                  type: string
                  description: 데이터셋에 대한 설명 0~100자
                schemaName:
                  type: string
                  description: 데이터셋의 스키마 이름
                osInfo:
                  type: object
                  additionalProperties: true
                  description: 데이터 파일이 저장된 Object Storage 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetId:
                    type: string
                    description: 데이터셋 ID
                  type:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 데이터셋 이름
                  description:
                    type: string
                    description: 데이터셋에 대한 설명
                  schemaName:
                    type: string
                    description: 데이터셋 스키마 이름
                  status:
                    type: string
                    description: '데이터셋 상태 enable | waiting | processing | upload_failed | disable | deleting enable : 학습 가능 waiting , processing : 대기 중 upload_failed , disable , deleting : 업로드 실패'
                  osInfo:
                    type: object
                    additionalProperties: true
                    description: 데이터 파일이 저장된 Object Storage 정보
                  connectedServices:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '데이터셋을 사용 중인 서비스 정보: connectedServices'
                  createdDate:
                    type: string
                    description: 데이터셋 생성 일시
                  updatedDate:
                    type: string
                    description: 데이터셋 최종 업데이트 일시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: DataSetModifyDesc
      summary: 데이터셋 설명 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-dataset-modifydesc
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: 데이터셋 ID 데이터셋 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  description: 데이터셋에 대한 설명 0~100자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetId:
                    type: string
                    description: 데이터셋 ID
                  type:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 데이터셋 이름
                  description:
                    type: string
                    description: 데이터셋에 대한 설명
                  schemaName:
                    type: string
                    description: 데이터셋 스키마 이름
                  status:
                    type: string
                    description: '데이터셋 상태 enable | waiting | processing | upload_failed | disable | deleting enable : 학습 가능 waiting , processing : 대기 중 upload_failed , disable , deleting : 업로드 실패'
                  osInfo:
                    type: object
                    additionalProperties: true
                    description: 데이터 파일이 저장된 Object Storage 정보
                  connectedServices:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '데이터셋을 사용 중인 서비스 정보: connectedServices'
                  createdDate:
                    type: string
                    description: 데이터셋 생성 일시
                  updatedDate:
                    type: string
                    description: 데이터셋 최종 업데이트 일시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DataSetDelete
      summary: 데이터셋 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-dataset-delete
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: 데이터셋 ID 데이터셋 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: 요청 처리에 대한 결과 메시지
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /schemas:
    get:
      operationId: SchemaList
      summary: 스키마 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-schema-list
      parameters:
        - name: datasetType
          in: query
          required: false
          schema:
            type: string
          description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: '조회 데이터의 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '조회 데이터의 최대 개수 기본값: 1,000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  schemas:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '스키마 정보: schemas'
                  offset:
                    type: integer
                    description: 조회 데이터의 시작 위치
                  limit:
                    type: integer
                    description: 조회 데이터의 최대 개수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: SchemaCreate
      summary: 스키마 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-schema-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasetType
                - name
                - fields
                - type
              properties:
                datasetType:
                  type: string
                  description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                name:
                  type: string
                  description: 스키마 이름< 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~20자 이내로 입력 문자열의 시작은 영문자
                fields:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '스키마 필드 정보: fields'
                description:
                  type: string
                  description: 스키마에 대한 설명 0~100자
                type:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 스키마 필드의 데이터 타입 string | int | long | boolean | null
                categorical:
                  type: boolean
                  description: '범주형 필드 여부 true | false (기본값) true : 범주가 정해진 데이터 false : 범주가 정해지지 않은 데이터'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetType:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 스키마 이름
                  fields:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '스키마 필드 정보: fields'
                  description:
                    type: string
                    description: 스키마에 대한 설명
                  createdDate:
                    type: string
                    description: 스키마 생성 일시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /schemas/default:
    get:
      operationId: SchemaDefault
      summary: 기본 스키마 정보 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-schema-default
      parameters:
        - name: datasetType
          in: query
          required: true
          schema:
            type: string
          description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetType:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 스키마 이름
                  fields:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '스키마 필드 정보: fields'
                  description:
                    type: string
                    description: 스키마에 대한 설명
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /schemas/validation-check:
    post:
      operationId: SchemaValidAtion
      summary: 스키마 유효성 체크
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-schema-validation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasetType
                - name
                - fields
                - description
                - type
                - categorical
              properties:
                datasetType:
                  type: string
                  description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                name:
                  type: string
                  description: 스키마 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~20자 이내로 입력 문자열의 시작은 영문자
                fields:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '스키마 필드 정보: fields'
                description:
                  type: string
                  description: 스키마에 대한 설명 0~100자
                type:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 스키마 필드의 데이터 타입 string | int | long | boolean | null
                categorical:
                  type: boolean
                  description: '범주형 필드 여부 true | false true : 범주가 정해진 데이터 false : 범주가 정해지지 않은 데이터'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: 스키마 필드 이름
                  type:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 스키마 필드의 데이터 타입 string | int | long | boolean | null
                  categorical:
                    type: boolean
                    description: '범주형 필드 여부 true | false true : 범주가 정해진 데이터 false : 범주가 정해지지 않은 데이터 false 일 경우 표시되지 않음'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /schemas/{schemaName}:
    get:
      operationId: SchemaRead
      summary: 스키마 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-schema-read
      parameters:
        - name: schemaName
          in: path
          required: true
          schema:
            type: string
          description: 스키마 이름 스키마 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetType:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 스키마 이름
                  fields:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '스키마 필드 정보: fields'
                  description:
                    type: string
                    description: 스키마에 대한 설명
                  createdDate:
                    type: string
                    description: 스키마 생성 일시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: SchemaModifyDesc
      summary: 스키마 설명 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-schema-modifydesc
      parameters:
        - name: schemaName
          in: path
          required: true
          schema:
            type: string
          description: 스키마 이름 스키마 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  description: 스키마에 대한 설명 0~100자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasetType:
                    type: string
                    description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                  name:
                    type: string
                    description: 스키마 이름
                  fields:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '스키마 필드 정보: fields'
                  description:
                    type: string
                    description: 스키마에 대한 설명
                  createdDate:
                    type: string
                    description: 스키마 생성 일시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: SchemaDelete
      summary: 스키마 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-schema-delete
      parameters:
        - name: schemaName
          in: path
          required: true
          schema:
            type: string
          description: 스키마 이름 스키마 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: 요청 처리에 대한 결과 메시지
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services:
    get:
      operationId: ServiceList
      summary: 서비스 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-list
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: '조회 데이터의 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '조회 데이터의 최대 개수 기본값: 1,000'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스 정보: services'
                  offset:
                    type: integer
                    description: 조회 데이터의 시작 위치
                  limit:
                    type: integer
                    description: 조회 데이터의 최대 개수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ServiceCreate
      summary: 서비스 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: 서비스 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~20자 이내로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                description:
                  type: string
                  description: 서비스에 대한 설명 0~100자
                type:
                  type: string
                  description: '서비스 구분 batch (기본값) | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  name:
                    type: string
                    description: 서비스 이름
                  description:
                    type: string
                    description: 서비스에 대한 설명
                  status:
                    type: string
                    description: '서비스 상태 scheduled | scheduledLearning | learnable | learning | deleting | deleted | disable | drafted | requestLearning | datasetRequired scheduled : 예약됨 scheduledLearning : 예약된 학습 중 learnable : 학습 가능 learning : 학습 진행 중 deleting : 삭제 중 deleted : 삭제됨 disable : 학습 불가 drafted : 임시 저장 상태 requestLearning : 학습 요청 상태 datasetRequired : 서비스 생성 후 데이터셋을 지정하지 않은 상태'
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스에 설정된 데이터셋 정보: datasets'
                  hpConfig:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  infers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 결과 정보: infers type 이 interval 인 경우에만 표시'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  updatedDate:
                    type: string
                    description: 서비스 최종 업데이트 일시
                  type:
                    type: string
                    description: '서비스 타입 batch | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}:
    get:
      operationId: ServiceRead
      summary: 서비스 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-read
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  name:
                    type: string
                    description: 서비스 이름
                  description:
                    type: string
                    description: 서비스에 대한 설명
                  status:
                    type: string
                    description: '서비스 상태 scheduled | scheduledLearning | learnable | learning | deleting | deleted | disable | drafted | requestLearning | datasetRequired scheduled : 예약됨 scheduledLearning : 예약된 학습 중 learnable : 학습 가능 learning : 학습 진행 중 deleting : 삭제 중 deleted : 삭제됨 disable : 학습 불가 drafted : 임시 저장 상태 requestLearning : 학습 요청 상태 datasetRequired : 서비스 생성 후 데이터셋을 지정하지 않은 상태'
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스에 설정된 데이터셋 정보: datasets'
                  hpConfig:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  infers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 결과 정보: infers type 이 interval 인 경우에만 표시'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  updatedDate:
                    type: string
                    description: 서비스 최종 업데이트 일시
                  type:
                    type: string
                    description: '서비스 타입 batch | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
                  learningInterval:
                    type: string
                    description: 데이터셋 업데이트 주기
                  scheduledDate:
                    type: string
                    description: 데이터셋 업데이트 예약 시간
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ServiceLearning
      summary: 서비스 학습 요청
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-learning
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조 type 이 batch 인 서비스의 ID만 입력 가능
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - types
                - hpConfig
              properties:
                types:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '학습 요청 타입 personalRecommend | relatedItem | pop personalRecommend : 고객 서비스 이용자의 과거 이력을 바탕으로 개인별 추천 relatedItem : 아이템의 연관 이력을 바탕으로 개인별 추천 pop : 순위별 인기 아이템 추천'
                description:
                  type: string
                  description: 학습에 대한 설명
                hpConfig:
                  type: object
                  additionalProperties: true
                  description: HPO (Hyperparameter Optimization) 설정 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  name:
                    type: string
                    description: 서비스 이름
                  description:
                    type: string
                    description: 서비스에 대한 설명
                  status:
                    type: string
                    description: '서비스 상태 scheduled | scheduledLearning | learnable | learning | deleting | deleted | disable | drafted | requestLearning | datasetRequired scheduled : 예약됨 scheduledLearning : 예약된 학습 중 learnable : 학습 가능 learning : 학습 진행 중 deleting : 삭제 중 deleted : 삭제됨 disable : 학습 불가 drafted : 임시 저장 상태 requestLearning : 학습 요청 상태 datasetRequired : 서비스 생성 후 데이터셋을 지정하지 않은 상태'
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스에 설정된 데이터셋 정보: datasets'
                  hpConfig:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  infers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 결과 정보: infers type 이 interval 인 경우에만 표시'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  updatedDate:
                    type: string
                    description: 서비스 최종 업데이트 일시
                  type:
                    type: string
                    description: '서비스 타입 batch | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
                  learningInterval:
                    type: string
                    description: 데이터셋 업데이트 주기
                  scheduledDate:
                    type: string
                    description: 데이터셋 업데이트 예약 시간
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: ServiceUpdateDesc
      summary: 서비스 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-updatedesc
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 서비스 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~20자 이내로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                description:
                  type: string
                  description: 서비스에 대한 설명 0~100자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  name:
                    type: string
                    description: 서비스 이름
                  description:
                    type: string
                    description: 서비스에 대한 설명
                  status:
                    type: string
                    description: '서비스 상태 scheduled | scheduledLearning | learnable | learning | deleting | deleted | disable | drafted | requestLearning | datasetRequired scheduled : 예약됨 scheduledLearning : 예약된 학습 중 learnable : 학습 가능 learning : 학습 진행 중 deleting : 삭제 중 deleted : 삭제됨 disable : 학습 불가 drafted : 임시 저장 상태 requestLearning : 학습 요청 상태 datasetRequired : 서비스 생성 후 데이터셋을 지정하지 않은 상태'
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스에 설정된 데이터셋 정보: datasets'
                  hpConfig:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  infers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 결과 정보: infers type 이 interval 인 경우에만 표시'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  updatedDate:
                    type: string
                    description: 서비스 최종 업데이트 일시
                  type:
                    type: string
                    description: '서비스 타입 batch | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
                  learningInterval:
                    type: string
                    description: 데이터셋 업데이트 주기
                  scheduledDate:
                    type: string
                    description: 데이터셋 업데이트 예약 시간
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ServiceDelete
      summary: 서비스 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-delete
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: 요청 처리에 대한 결과 메시지
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/datasets:
    post:
      operationId: ServiceUpdateDataSet
      summary: 서비스 데이터셋 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-updatedataset
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - datasetIds
              properties:
                datasetIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 설정할 데이터셋의 ID 목록 데이터셋 목록 조회 참조 3개 타입의 데이터셋(user, item, interaction) ID를 모두 입력해야 함
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  name:
                    type: string
                    description: 서비스 이름
                  description:
                    type: string
                    description: 서비스에 대한 설명
                  status:
                    type: string
                    description: '서비스 상태 scheduled | scheduledLearning | learnable | learning | deleting | deleted | disable | drafted | requestLearning | datasetRequired scheduled : 예약됨 scheduledLearning : 예약된 학습 중 learnable : 학습 가능 learning : 학습 진행 중 deleting : 삭제 중 deleted : 삭제됨 disable : 학습 불가 drafted : 임시 저장 상태 requestLearning : 학습 요청 상태 datasetRequired : 서비스 생성 후 데이터셋을 지정하지 않은 상태'
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스에 설정된 데이터셋 정보: datasets'
                  hpConfigs:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  infers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 결과 정보: 학습 결과 정보 type 이 interval 인 경우에만 표시'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  updatedDate:
                    type: string
                    description: 서비스 최종 업데이트 일시
                  type:
                    type: string
                    description: '서비스 타입 batch | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
                  learningInterval:
                    type: string
                    description: 데이터셋 업데이트 주기 type 이 interval 인 경우에만 표시
                  scheduledDate:
                    type: string
                    description: 데이터셋 업데이트 예약 시간 type 이 interval 인 경우에만 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/datasets/{datasetId}:
    post:
      operationId: ServiceIntervalUpload
      summary: 주기 학습 데이터 업로드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-intervalupload
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
          description: 서비스에 설정된 데이터셋 ID 데이터셋 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - value
              properties:
                type:
                  type: string
                  description: '데이터셋 타입 user | item | interaction user : 사용자 정보(연령, 성별 등)를 담은 데이터 item : 상품 관련 정보(가격, 출시일, 카테고리 등)를 담은 데이터 interaction : 사용자와 상품 간 상호작용으로 얻은 기록을 담은 데이터'
                value:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 업로드할 데이터 기존 데이터셋과 동일한 스키마로 입력해야 함
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/infers/lookup:
    get:
      operationId: ServiceInfertest
      summary: 학습 결과 테스트
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-infertest
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
        - name: type
          in: query
          required: true
          schema:
            type: string
          description: '학습 후 추천 타입 personalRecommend | relatedItem | pop personalRecommend : 고객 서비스 이용자의 과거 이력을 바탕으로 개인별 추천 relatedItem : 아이템의 연관 이력을 바탕으로 개인별 추천 pop : 순위별 인기 아이템 추천'
        - name: targetId
          in: query
          required: true
          schema:
            type: string
          description: '학습 결과에서 조사할 대상의 ID 개인화 추천: USER_ID 입력 연관 항목 추천: ITEM_ID 입력'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  field:
                    type: string
                    description: 결과 필드 이름
                  values:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 결과 값 목록
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/interval:
    put:
      operationId: ServiceUpdateInterval
      summary: 서비스 업데이트 주기 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-updateinterval
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조 type 이 interval 인 서비스의 ID만 입력 가능
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - term
              properties:
                term:
                  type: string
                  description: '설정할 업데이트 주기 hour1 | hour3 | hour6 | hour12 hour1 : 1시간 hour3 : 3시간 hour6 : 6시간 hour12 : 12시간'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  name:
                    type: string
                    description: 서비스 이름
                  description:
                    type: string
                    description: 서비스에 대한 설명
                  status:
                    type: string
                    description: '서비스 상태 scheduled | scheduledLearning | learnable | learning | deleting | deleted | disable | drafted | requestLearning | datasetRequired scheduled : 예약됨 scheduledLearning : 예약된 학습 중 learnable : 학습 가능 learning : 학습 진행 중 deleting : 삭제 중 deleted : 삭제됨 disable : 학습 불가 drafted : 임시 저장 상태 requestLearning : 학습 요청 상태 datasetRequired : 서비스 생성 후 데이터셋을 지정하지 않은 상태'
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스에 설정된 데이터셋 정보: datasets'
                  hpConfigs:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  infers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 결과 정보: infers type 이 interval 인 경우에만 표시'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  updatedDate:
                    type: string
                    description: 서비스 최종 업데이트 일시
                  type:
                    type: string
                    description: '서비스 타입 batch | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
                  learningInterval:
                    type: string
                    description: 데이터셋 업데이트 주기 type 이 interval 인 경우에만 표시
                  scheduledDate:
                    type: string
                    description: 데이터셋 업데이트 예약 시간 type 이 interval 인 경우에만 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/schedule:
    put:
      operationId: ServiceIntervAllEarning
      summary: 서비스 주기 학습 요청
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-intervallearning
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조 type 이 interval 인 서비스의 ID만 입력 가능
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
                - trainTypes
                - hpConfig
              properties:
                action:
                  type: string
                  description: '주기 학습 실행 여부 start | stop start : 주기 학습 실행 stop : 주기 학습 정지'
                trainTypes:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '학습 요청 타입 personalRecommend | relatedItem | pop personalRecommend : 고객 서비스 이용자의 과거 이력을 바탕으로 개인별 추천 relatedItem : 아이템의 연관 이력을 바탕으로 개인별 추천 pop : 순위별 인기 아이템 추천'
                description:
                  type: string
                  description: 학습에 대한 설명
                hpConfig:
                  type: object
                  additionalProperties: true
                  description: HPO (Hyperparameter Optimization) 설정 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  name:
                    type: string
                    description: 서비스 이름
                  description:
                    type: string
                    description: 서비스에 대한 설명
                  status:
                    type: string
                    description: '서비스 상태 scheduled | scheduledLearning | learnable | learning | deleting | deleted | disable | drafted | requestLearning | datasetRequired scheduled : 예약됨 scheduledLearning : 예약된 학습 중 learnable : 학습 가능 learning : 학습 진행 중 deleting : 삭제 중 deleted : 삭제됨 disable : 학습 불가 drafted : 임시 저장 상태 requestLearning : 학습 요청 상태 datasetRequired : 서비스 생성 후 데이터셋을 지정하지 않은 상태'
                  datasets:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '서비스에 설정된 데이터셋 정보: datasets'
                  hpConfig:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  infers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 결과 정보: infers type 이 interval 인 경우에만 표시'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  updatedDate:
                    type: string
                    description: 서비스 최종 업데이트 일시
                  type:
                    type: string
                    description: '서비스 타입 batch | interval batch : 학습 진행 시 1회 학습 interval : 학습 진행 후 일정 주기로 재학습'
                  learningInterval:
                    type: string
                    description: 데이터셋 업데이트 주기
                  scheduledDate:
                    type: string
                    description: 데이터셋 업데이트 예약 시간
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/trains:
    get:
      operationId: ServiceTrainList
      summary: 학습 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-trainlist
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
        - name: isRecent
          in: query
          required: false
          schema:
            type: boolean
          description: '타입별 최근 요청한 항목인지 여부 true | false true : 최근 요청한 항목 false : 최근 요청한 항목 아님'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  trains:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '학습 정보: trains'
                  offset:
                    type: integer
                    description: 조회 데이터의 시작 위치
                  limit:
                    type: integer
                    description: 조회 데이터의 최대 개수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/trains/{trainType}/versions/{version}:
    get:
      operationId: ServiceTrainRead
      summary: 학습 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-trainread
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
        - name: trainType
          in: path
          required: true
          schema:
            type: string
          description: '학습 후 추천 타입 personalRecommend | relatedItem | pop personalRecommend : 고객 서비스 이용자의 과거 이력을 바탕으로 개인별 추천 relatedItem : 아이템의 연관 이력을 바탕으로 개인별 추천 pop : 순위별 인기 아이템 추천'
        - name: version
          in: path
          required: true
          schema:
            type: string
          description: 학습 버전 학습 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serviceId:
                    type: string
                    description: 서비스 ID
                  type:
                    type: string
                    description: '학습 요청 타입 personalRecommend | relatedItem | pop personalRecommend : 고객 서비스 이용자의 과거 이력을 바탕으로 개인별 추천 relatedItem : 아이템의 연관 이력을 바탕으로 개인별 추천 pop : 순위별 인기 아이템 추천'
                  hpConfig:
                    type: object
                    additionalProperties: true
                    description: HPO (Hyperparameter Optimization) 설정 정보
                  version:
                    type: string
                    description: 학습 버전
                  description:
                    type: string
                    description: 학습에 대한 설명
                  status:
                    type: string
                    description: '학습 상태 ready | learning | completed | waiting | requesting | requestFailed | refinedFailed | stopping \ learningFailed ready : 준비됨(학습 가능) learning : 학습 중 completed : 학습 완료 waiting : 학습 실행 대기 중 requesting : 학습 요청 중 requestFailed : 학습 요청 실패 refinedFailed : 데이터 정제 실패 stopping : 중지 중 learningFailed : 학습 실패'
                  createdDate:
                    type: string
                    description: 서비스 생성 일시
                  inference:
                    type: boolean
                    description: '추론 결과 여부 true | false true : 결과 있음 false : 결과 없음'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /services/{serviceId}/updates:
    get:
      operationId: ServiceUpdateList
      summary: 업데이트 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - ai-tems

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-aitems-service-updatelist
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: 서비스 ID 서비스 목록 조회 참조
        - name: type
          in: query
          required: true
          schema:
            type: string
          description: '학습 요청 타입 personalRecommend | relatedItem | pop personalRecommend : 고객 서비스 이용자의 과거 이력을 바탕으로 개인별 추천 relatedItem : 아이템의 연관 이력을 바탕으로 개인별 추천 pop : 순위별 인기 아이템 추천'
        - name: trainVersion
          in: query
          required: true
          schema:
            type: string
          description: 학습 버전 학습 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  updates:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '업데이트 상세 정보: updates'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
