openapi: 3.0.3
info:
  title: api-gateway
  description: api-gateway
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: true

  x-ncloud-nrn:

    productName: APIGateway
    resource_types:
      - Product
      - API
      - APIKey
      - UsagePlan
      - Authorizer
      - Certificate

servers:
  - url: https://apigateway.apigw.ntruss.com
    description: api-gateway 민간
    x-ncloud-env: public
  - url: https://apigateway.apigw.fin-ntruss.com
    description: api-gateway 금융
    x-ncloud-env: financial
  - url: https://apigateway.apigw.gov-ntruss.com
    description: api-gateway 공공
    x-ncloud-env: gov
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /api-keys:
    get:
      operationId: ApikeyApikeys
      summary: API Key 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-apikeys
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: apiKeyName
          in: query
          required: false
          schema:
            type: string
          description: API Key 이름으로 필터링 0~20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeys:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  total:
                    type: integer
                    description: (inferred from JSON example)
                  initialCount:
                    type: integer
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ApikeyCreate
      summary: API Key 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - apiName
              properties:
                apiKeyDescription:
                  type: string
                  description: 생성할 API Key에 대한 설명 0~50자
                apiName:
                  type: string
                  description: 생성할 API Key의 이름 1~20자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeyDescription:
                    type: string
                    description: (inferred from JSON example)
                  apiKeyName:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /api-keys/search:
    post:
      operationId: ApikeyApikeysSearch
      summary: API Key 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-apikeys-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productId
              properties:
                offset:
                  type: integer
                  format: int64
                  description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
                limit:
                  type: integer
                  format: int64
                  description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
                productId:
                  type: integer
                  format: int64
                  description: API Key와 연결된 Product ID 1~10
                apiKeyName:
                  type: string
                  description: API Key 이름으로 필터링 0~20
                statusSet:
                  type: object
                  additionalProperties: true
                  description: 'Product에 연결된 API Key의 상태로 필터링 ACCEPTED | REJECTED | REQUEST | DENY | BLOCKED_REQUEST ACCEPTED : 승인 REJECTED : 거부 REQUEST : 요청 DENY : 요청 거부 BLOCKED_REQUEST : 요청 차단'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  offset:
                    type: integer
                    description: (inferred from JSON example)
                  limit:
                    type: integer
                    description: (inferred from JSON example)
                  productId:
                    type: string
                    description: (inferred from JSON example)
                  apiKeyName:
                    type: string
                    description: (inferred from JSON example)
                  statusSet:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /api-keys/{api-key-id}:
    get:
      operationId: ApikeyApikeysDetail
      summary: API Key 상세 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-apikeys-detail
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: 조회할 API Key ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeyId:
                    type: string
                    description: (inferred from JSON example)
                  tenantId:
                    type: string
                    description: (inferred from JSON example)
                  apiKeyName:
                    type: string
                    description: (inferred from JSON example)
                  apiKeyDescription:
                    type: string
                    description: (inferred from JSON example)
                  primaryKey:
                    type: string
                    description: (inferred from JSON example)
                  secondaryKey:
                    type: string
                    description: (inferred from JSON example)
                  modifier:
                    type: string
                    description: (inferred from JSON example)
                  isEnabled:
                    type: boolean
                    description: (inferred from JSON example)
                  modTime:
                    type: string
                    description: (inferred from JSON example)
                  domainCode:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: ApikeyChange
      summary: API Key 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-change
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - isEnabled
                - apiName
              properties:
                isEnabled:
                  type: boolean
                  description: 'API Key 활성 여부 true | false true : API Key 활성 false : API Key 비활성'
                apiKeyDescription:
                  type: string
                  description: API Key에 대한 설명 0~50자
                apiName:
                  type: string
                  description: API Key의 이름 1~20자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  isEnabled:
                    type: boolean
                    description: (inferred from JSON example)
                  apiKeyDescription:
                    type: string
                    description: (inferred from JSON example)
                  apiKeyName:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    patch:
      operationId: ApikeyRegenerate
      summary: API Key 재생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-regenerate
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - keyType
              properties:
                keyType:
                  type: string
                  description: '재생성할 API Key의 유형 PRIMARY | SECONDARY PRIMARY : Primary Key SECONDARY : Secondary Key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  keyType:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ApikeyDelete
      summary: API Key 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-delete
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: 삭제할 API Key ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /api-keys/{api-key-id}/products:
    get:
      operationId: ApikeyProductS
      summary: API Key가 연결된 Product 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-products
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: API Key와 연결된 Product를 조회할 대상 API Key ID
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeyRelateProductDtos:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  total:
                    type: integer
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /api-keys/{api-key-id}/subscribe:
    post:
      operationId: ApikeySubScribe
      summary: Product 구독
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-subscribe
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productId
              properties:
                productId:
                  type: string
                  description: API Key를 연결할 Product ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productId:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /api-keys/{api-key-id}/subscription-detail:
    get:
      operationId: ApikeySubScriptIonDetail
      summary: API Key 구독 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-subscription-detail
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: 구독 정보를 조회할 API Key ID
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: apiId
          in: query
          required: false
          schema:
            type: string
          description: Stage가 속한 API ID
        - name: stageId
          in: query
          required: false
          schema:
            type: string
          description: API Key와 연결된 Stage ID
        - name: productId
          in: query
          required: true
          schema:
            type: string
          description: API Key와 연결된 Product ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeyRelations:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /api-keys/{api-key-id}/unsubscribe:
    post:
      operationId: ApikeyUnSubScribe
      summary: product 구독 해제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-apikey-unsubscribe
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productId
              properties:
                productId:
                  type: string
                  description: API Key를 연결 해제할 Product ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productId:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /authorizers:
    get:
      operationId: AuthorizerAuthorizersList
      summary: Authorizer 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-authorizer-authorizers-list
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Authorizer 이름으로 필터링 0~20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  total:
                    type: integer
                    description: (inferred from JSON example)
                  initialCount:
                    type: integer
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: AuthorizerCreate
      summary: Authorizer 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-authorizer-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - authorizerName
                - authorizerConfig
                - authorizerType
                - in
                - name
              properties:
                authorizerName:
                  type: string
                  description: 생성할 Authorizer 이름 영문자, 숫자, 특수문자 '-', '_'를 조합하여 1~20자 이내로 입력
                authorizerConfig:
                  type: object
                  additionalProperties: true
                  description: 생성할 Authorizer의 구성 정보
                authorizerType:
                  type: string
                  description: Authorizer의 지원 서비스(유형) 선택
                authorizerDescription:
                  type: string
                  description: 생성할 Authorizer에 대한 설명 입력 0~300자
                in:
                  type: string
                  description: '지정할 Payload 유형 HEADER | QUERY STRING HEADER : 헤더 QUERY STRING : 쿼리 스트링'
                name:
                  type: string
                  description: Payload 변수 이름
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizerName:
                    type: string
                    description: (inferred from JSON example)
                  authorizerConfig:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
                  authorizerType:
                    type: string
                    description: (inferred from JSON example)
                  authorizerDescription:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /authorizers/{authorizer-id}:
    get:
      operationId: AuthorizerAuthorizers
      summary: Authorizer 상세 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-authorizer-authorizers
      parameters:
        - name: authorizer-id
          in: path
          required: true
          schema:
            type: string
          description: 조회할 Authorizer의 ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizerId:
                    type: string
                    description: (inferred from JSON example)
                  tenantId:
                    type: string
                    description: (inferred from JSON example)
                  authorizerName:
                    type: string
                    description: (inferred from JSON example)
                  authorizerDescription:
                    type: string
                    description: (inferred from JSON example)
                  authorizerType:
                    type: string
                    description: (inferred from JSON example)
                  authorizerConfig:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
                  modifier:
                    type: string
                    description: (inferred from JSON example)
                  domainCode:
                    type: string
                    description: (inferred from JSON example)
                  modTime:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: AuthorizerChange
      summary: Authorizer 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-authorizer-change
      parameters:
        - name: authorizer-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - authorizerName
                - authorizerConfig
                - authorizerType
                - in
                - name
              properties:
                authorizerName:
                  type: string
                  description: Authorizer 이름 영문자, 숫자, 특수문자 '-', '_'를 조합하여 1~20자 이내로 입력
                authorizerConfig:
                  type: object
                  additionalProperties: true
                  description: Authorizer의 구성 정보
                authorizerType:
                  type: string
                  description: Authorizer의 지원 서비스(유형) CLOUD_FUNCTIONS
                authorizerDescription:
                  type: string
                  description: 생성할 Authorizer에 대한 설명 0~300자
                in:
                  type: string
                  description: 'Payload 유형 HEADER | QUERY STRING HEADER : 헤더 QUERY STRING : 쿼리 스트링'
                name:
                  type: string
                  description: Payload 변수 이름
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorizerName:
                    type: string
                    description: (inferred from JSON example)
                  authorizerConfig:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
                  authorizerType:
                    type: string
                    description: (inferred from JSON example)
                  authorizerDescription:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: AuthorizerDelete
      summary: Authorizer 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-authorizer-delete
      parameters:
        - name: authorizer-id
          in: path
          required: true
          schema:
            type: string
          description: 삭제할 Authorizer의 ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /authorizers/{authorizer-id}/test:
    post:
      operationId: AuthorizerTest
      summary: Authorizer 테스트
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-authorizer-test
      parameters:
        - name: authorizer-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                params:
                  type: string
                  description: '테스트할 payload 이름 및 값 <예시> "Test_123" : "{}"'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  params:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/api-keys:
    get:
      operationId: DashboardApikeyApikeys
      summary: API Key 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardapikey-apikeys
      parameters:
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: API Key를 조회할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeyIds:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/api-keys/{api-key-id}/product-ids:
    get:
      operationId: DashboardApikeyProductS
      summary: Product 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardapikey-products
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 연결된 API Key ID
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: Product를 조회할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/api-keys/{api-key-id}/products/{product-id}/api-ids:
    get:
      operationId: DashboardApikeyApis
      summary: API 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardapikey-apis
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 연결된 API Key ID
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: API를 조회할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/api-keys/{api-key-id}/products/{product-id}/apis/{api-id}/stages/{stage-id}/export:
    get:
      operationId: DashboardApikeyExport
      summary: 대시보드 차트 데이터 다운로드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardapikey-export
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 연결된 API Key ID
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 생성된 API ID
        - name: stage-id
          in: path
          required: true
          schema:
            type: string
          description: API에 생성된 Stage ID
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: 대시보드 차트 데이터를 다운로드할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존( +09:00) GET 방식 이용 시 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/api-keys/{api-key-id}/products/{product-id}/charts:
    get:
      operationId: DashboardApikeyChartS
      summary: 대시보드 데이터 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardapikey-charts
      parameters:
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 연결된 API Key ID
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: 대시보드 차트 데이터를 조회할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
        - name: apiId
          in: query
          required: false
          schema:
            type: string
          description: Product에 생성된 API ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/events/search:
    post:
      operationId: DashboardEventEventS
      summary: 이벤트 이력 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardevent-events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - timeZone
                - from
                - to
              properties:
                offset:
                  type: integer
                  format: int64
                  description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
                level:
                  type: string
                  description: '발생 이벤트 레벨 EVENT | ALARM | ALERT EVENT : 이벤트 ALARM : 알람 ALERT : 경고 컬렉션의 아이템은 null일 수 없음'
                limit:
                  type: integer
                  format: int64
                  description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
                timeZone:
                  type: string
                  description: 타임 존(+09:00)
                from:
                  type: string
                  description: 조회 시작 일자 yyyy-MM-dd 형식
                to:
                  type: string
                  description: 조회 종료 일자 yyyy-MM-dd 형식
                type:
                  type: string
                  description: "발생 이벤트 유형 ES010 | ES020 | EU400 | EU410 | EU420 ES010 : 구독 요청(Subscription Request) ES020 : 구독 상태 변경(Change Subscription's Status) EU400 : 사용량 초과(Exceeded Quota) EU410 : 초당 요청수 초과(Exceeded Throttle) EU420 : 초당 사용량 초과(Exceeded Rate) 컬렉션의 아이템은 null일 수 없음"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  offset:
                    type: integer
                    description: (inferred from JSON example)
                  level:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  limit:
                    type: integer
                    description: (inferred from JSON example)
                  timeZone:
                    type: string
                    description: (inferred from JSON example)
                  from:
                    type: string
                    description: (inferred from JSON example)
                  to:
                    type: string
                    description: (inferred from JSON example)
                  type:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/products:
    get:
      operationId: DashboardProductProductS
      summary: Product 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardproduct-products
      parameters:
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: Product를 조회할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/products/{product-id}/api-ids:
    get:
      operationId: DashboardProductApis
      summary: API 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardproduct-apis
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: API를 조회할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/products/{product-id}/apis/{api-id}/stages/{stage-id}/export:
    get:
      operationId: DashboardProductExport
      summary: 대시보드 데이터 다운로드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardproduct-export
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 생성된 API ID
        - name: stage-id
          in: path
          required: true
          schema:
            type: string
          description: API에 생성된 Stage ID
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: 대시보드 차트 데이터를 다운로드할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /dashboards/products/{product-id}/charts:
    get:
      operationId: DashboardProductChartS
      summary: 대시보드 데이터 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-dashboardproduct-charts
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: regions
          in: query
          required: false
          schema:
            type: string
          description: 대시보드 차트 데이터를 조회할 리전 컬렉션의 아이템은 null일 수 없음
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일자 yyyy-MM-dd 형식
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일자 yyyy-MM-dd 형식
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
          description: 타임 존(+09:00) GET 방식 이용 시 URL 인코딩 필요
        - name: apiId
          in: query
          required: false
          schema:
            type: string
          description: Product에 생성된 API ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products:
    get:
      operationId: ProductGetProductList
      summary: Product 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-getproductlist
      parameters:
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 응답 데이터의 시작 지점 0~9,223,372,036,854,775,807 limit 과 함께 페이지네이션 구현에 사용
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 응답 데이터의 최대 수 1~9,223,372,036,854,775,807 offset 과 함께 페이지네이션 구현에 사용
        - name: productName
          in: query
          required: false
          schema:
            type: string
          description: 조회할 Product의 이름 0~100자
        - name: isPublished
          in: query
          required: false
          schema:
            type: boolean
          description: '게시 여부 true | false true : 게시됨 false : 게시 안 됨'
        - name: subscriptionCode
          in: query
          required: false
          schema:
            type: string
          description: '구독 방식 PUBLIC | PROTECTED PUBLIC : API를 승인없이 누구나 사용 가능 PROTECTED : API를 사용하려면 게시자의 승인 필요'
        - name: hasDeployedStage
          in: query
          required: false
          schema:
            type: boolean
          description: 'Stage 생성 여부 true | false true : 생성됨 false : 생성 안 됨'
        - name: hasStageNotAssociatedWithUsagePlanId
          in: query
          required: false
          schema:
            type: string
          description: 특정 Usage Plan과 연결된 Stage는 제외하여 조회 특정 Usage Plan ID를 입력하면 해당 Usage Plan ID와 관계가 없는 API를 응답함
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  initialCount:
                    type: integer
                    description: (inferred from JSON example)
                  productPage:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ProductCreateProduct
      summary: Product 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-createproduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subscriptionCode
                - productName
              properties:
                subscriptionCode:
                  type: string
                  description: '생성할 Product의 구독 방식 PUBLIC | PROTECTED PUBLIC : API를 승인 없이 누구나 사용 가능 PROTECTED : API를 사용하려면 게시자의 승인 필요'
                description:
                  type: string
                  description: 생성할 Product의 설명 0~300자
                productName:
                  type: string
                  description: 생성할 Product의 이름 1~100자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionCode:
                    type: string
                    description: (inferred from JSON example)
                  description:
                    type: string
                    description: (inferred from JSON example)
                  productName:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}:
    get:
      operationId: ProductGetProduct
      summary: Product 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-getproduct
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: 검색할 Product ID 0~10자 Product 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  product:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    patch:
      operationId: ProductPatchProduct
      summary: Product 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-patchproduct
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subscriptionCode
                - productName
              properties:
                subscriptionCode:
                  type: string
                  description: '수정할 구독 방식 PUBLIC | PROTECTED PUBLIC : API를 승인 없이 누구나 사용 가능 PROTECTED : API를 사용하려면 게시자의 승인 필요'
                description:
                  type: string
                  description: 수정할 Product 설명 0~300자
                productName:
                  type: string
                  description: 수정할 Product 이름 0~100자 수정하지 않으려면 기존 Product 이름 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptionCode:
                    type: string
                    description: (inferred from JSON example)
                  description:
                    type: string
                    description: (inferred from JSON example)
                  productName:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ProductDeleteProduct
      summary: Product 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-deleteproduct
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: 삭제할 Product ID 0~10자 Product 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/api-keys/search:
    post:
      operationId: ProductGetApikeyList
      summary: API Key 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-getapikeylist
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKeyValue:
                  type: string
                  description: Primary Key 또는 Secondary Key 값
                offset:
                  type: integer
                  format: int64
                  description: 응답 데이터의 시작 지점 0~9,223,372,036,854,775,807 limit 과 함께 페이지네이션 구현에 사용
                limit:
                  type: integer
                  format: int64
                  description: 응답 데이터의 최대 수 1~9,223,372,036,854,775,807 offset 과 함께 페이지네이션 구현에 사용
                apiKeyId:
                  type: string
                  description: API Key ID 0~10자 API Key 목록 조회 참조
                statusSet:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 'API Key의 상태 REQUEST | DENY | ACCEPTED | REJECTED | BLOCKED_REQUEST REQUEST : 요청 DENY : 요청 거부 ACCEPTED : 승인 REJECTED : 거부 BLOCKED_REQUEST : 요청 차단'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeyValue:
                    type: string
                    description: (inferred from JSON example)
                  offset:
                    type: integer
                    description: (inferred from JSON example)
                  limit:
                    type: integer
                    description: (inferred from JSON example)
                  apiKeyId:
                    type: string
                    description: (inferred from JSON example)
                  statusSet:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/api-keys/{api-key-id}:
    patch:
      operationId: ProductPatchApikey
      summary: API Key 상태 변경
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-patchapikey
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  description: '변경할 상태 ACCEPTED | REJECTED ACCEPTED : 승인 REJECTED : 거부'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/api-keys/{api-key-id}/stages/{stage-id}:
    put:
      operationId: ProductUsagePlan
      summary: Usage Plan 변경
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-product-usageplan
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
        - name: stage-id
          in: path
          required: true
          schema:
            type: string
        - name: api-key-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - usagePlanId
              properties:
                usagePlanId:
                  type: string
                  description: 변경할 Usage Plan ID 0~10자 Stage에 연결된 Usage Plan 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  usagePlanId:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis:
    get:
      operationId: ApiApis
      summary: API 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-apis
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: withStage
          in: query
          required: false
          schema:
            type: boolean
          description: 'Stage 정보 조회 여부 true | false true : Stage 정보 조회함 false : Stage 정보 조회 안 함'
        - name: apiName
          in: query
          required: false
          schema:
            type: string
          description: API 이름으로 필터링 0~20
        - name: hasStage
          in: query
          required: false
          schema:
            type: boolean
          description: 'Stage 유무로 필터링 true | false true : Stage 있음 false : Stage 없음'
        - name: hasStageNotAssociatedWithUsagePlanId
          in: query
          required: false
          schema:
            type: string
          description: 특정 Usage Plan과 연결된 Stage는 제외하여 조회 특정 Usage Plan ID를 입력하면 해당 Usage Plan ID와 관계가 없는 api를 응답함
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  total:
                    type: integer
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ApiCreate
      summary: API 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-create
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - apiName
              properties:
                apiName:
                  type: string
                  description: 생성할 API의 이름 영문자, 숫자, 특수문자 '-', '_'를 조합하여 1~20자 이내로 입력
                apiDescription:
                  type: string
                  description: 생성할 API에 대한 설명 0~300자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiName:
                    type: string
                    description: (inferred from JSON example)
                  apiDescription:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/clone:
    post:
      operationId: ApiClone
      summary: API 복사
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-clone
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - apiName
                - originApiId
              properties:
                apiName:
                  type: string
                  description: 생성할 API의 이름 0~20자로 영문자, 숫자, 특수 문자 '-', '_'을 허용
                apiDescription:
                  type: string
                  description: 생성할 API에 대한 설명 0~300자
                originApiId:
                  type: string
                  description: 복제할 원본 API ID 0~10자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiName:
                    type: string
                    description: (inferred from JSON example)
                  apiDescription:
                    type: string
                    description: (inferred from JSON example)
                  originApiId:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/filter:
    get:
      operationId: ApiApisFilter
      summary: API 조회_Filter
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-apis-filter
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  total:
                    type: integer
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/import:
    post:
      operationId: ApiImport
      summary: Swagger에서 데이터 가져오기
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-import
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - apiName
                - importValidateType
                - swagger
              properties:
                apiName:
                  type: string
                  description: API 배포에 대한 설명 1~20자
                apiDescription:
                  type: string
                  description: 배포할 API에 생성된 Stage ID 0~300자
                importValidateType:
                  type: string
                  description: 'Swagger 파일을 가져올 때 오류 또는 경고가 발생하면 가져오기를 중단할지, 무시하고 가져올지를 결정 FAIL_ON_WARN | IGNORE_WARN FAIL_ON_WARN : 경고 실패 IGNORE_WARN : 경고 무시'
                swagger:
                  type: string
                  description: 가져올 swagger의 전체 값
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiName:
                    type: string
                    description: (inferred from JSON example)
                  apiDescription:
                    type: string
                    description: (inferred from JSON example)
                  importValidateType:
                    type: string
                    description: (inferred from JSON example)
                  swagger:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/infos:
    get:
      operationId: ApiApisInfoS
      summary: API 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-apis-infos
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회할 데이터 목록에서 시작할 위치 0~9,223,372,036,854,775,807
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 한 번에 조회할 데이터 개수 1~9,223,372,036,854,775,807
        - name: withStage
          in: query
          required: false
          schema:
            type: boolean
          description: 'Stage 정보 조회 여부 true | false true : Stage 정보 조회함 false : Stage 정보 조회 안 함'
        - name: apiName
          in: query
          required: false
          schema:
            type: string
          description: API 이름으로 필터링 1~20
        - name: hasStage
          in: query
          required: false
          schema:
            type: boolean
          description: 'Stage 유무로 필터링 true | false true : Stage 있음 false : Stage 없음'
        - name: hasStageNotAssociatedWithUsagePlanId
          in: query
          required: false
          schema:
            type: string
          description: 특정 Usage Plan과 연결된 Stage는 제외하여 조회 특정 Usage Plan ID를 입력하면 해당 Usage Plan ID와 관계 없는 API를 응답함
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apis:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  total:
                    type: integer
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}:
    get:
      operationId: ApiApisDetail
      summary: API 상세 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-apis-detail
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 생성된 API ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    patch:
      operationId: ApiChange
      summary: API 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-change
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - apiDescription
              properties:
                apiDescription:
                  type: string
                  description: 수정할 API에 대한 설명
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiDescription:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ApiDelete
      summary: API 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-delete
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API에 연결된 Product ID
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: Product에 생성된 API ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/deploy:
    post:
      operationId: ApiDeploy
      summary: API 배포
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-deploy
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stageId
              properties:
                deploymentDescription:
                  type: string
                  description: API 배포에 대한 설명 0~300자
                stageId:
                  type: string
                  description: 배포할 API에 생성된 Stage ID 1~10자
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  deploymentDescription:
                    type: string
                    description: (inferred from JSON example)
                  stageId:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/documents:
    get:
      operationId: GetDocuments
      summary: API 문서 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-getdocuments
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API가 속한 Product ID 1~10자 Product 목록 조회 참조
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: 문서를 조회할 API의 ID 1~10자 API 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiId:
                    type: string
                    description: (inferred from JSON example)
                  documentMd:
                    type: string
                    description: (inferred from JSON example)
                  tenantId:
                    type: string
                    description: (inferred from JSON example)
                  modifier:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    patch:
      operationId: PatchDocuments
      summary: API 문서 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-patchdocuments
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - documentMd
              properties:
                documentMd:
                  type: string
                  description: API 설명서의 내용
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  documentMd:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/models:
    get:
      operationId: GetModels
      summary: 모델 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-getmodels
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API가 속한 Product ID 1~10자 Product 목록 조회 참조
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: 모델 목록을 조회할 API의 ID 1~10자 API 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productPage:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostModels
      summary: 모델 추가
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-postmodels
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - modelName
                - modelSchema
              properties:
                modelDescription:
                  type: string
                  description: 모델에 대한 설명 0~300자
                modelName:
                  type: string
                  description: 모델의 이름 1~100자
                modelSchema:
                  type: string
                  description: 모델의 스키마 JSON 스키마 사용
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelDescription:
                    type: string
                    description: (inferred from JSON example)
                  modelName:
                    type: string
                    description: (inferred from JSON example)
                  modelSchema:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/models/preview:
    post:
      operationId: PostModelpreView
      summary: 모델 미리보기
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-postmodelpreview
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - modelSchema
              properties:
                modelId:
                  type: string
                  description: 대상 모델의 ID 모델 조회 참조
                modelSchema:
                  type: string
                  description: 정의해 놓은 모델의 스키마 모델 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelId:
                    type: string
                    description: (inferred from JSON example)
                  modelSchema:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/models/{model-id}:
    get:
      operationId: GetModel
      summary: 모델 상세 정보 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-getmodel
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API가 속한 Product ID 1~10자 Product 목록 조회 참조
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: 모델 정보를 조회할 API의 ID 1~10자 API 조회 참조
        - name: model-id
          in: path
          required: true
          schema:
            type: string
          description: 대상 모델의 ID 1~10자 모델 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelId:
                    type: string
                    description: (inferred from JSON example)
                  apiId:
                    type: string
                    description: (inferred from JSON example)
                  modelName:
                    type: string
                    description: (inferred from JSON example)
                  modelDescription:
                    type: string
                    description: (inferred from JSON example)
                  modelSchema:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: PutModel
      summary: 모델 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-putmodel
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
        - name: model-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - modelSchema
              properties:
                modelDescription:
                  type: string
                  description: 모델에 대한 설명 0~300자
                modelSchema:
                  type: string
                  description: 모델의 스키마 JSON schema 사용
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  modelDescription:
                    type: string
                    description: (inferred from JSON example)
                  modelSchema:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteModels
      summary: 모델 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-deletemodels
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API가 속한 Product ID 1~10자 Product 목록 조회 참조
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: 모델을 삭제할 API의 ID 1~10자 API 조회 참조
        - name: model-id
          in: path
          required: true
          schema:
            type: string
          description: 대상 모델의 ID 1~10자 모델 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/publish:
    post:
      operationId: ApiPublish
      summary: API 게시
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-api-publish
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stages
                - isPublished
                - stageId
              properties:
                stages:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '게시 여부 설정 정보: stages'
                isPublished:
                  type: boolean
                  description: '게시 여부 선택 true | false true : 게시 false : 게시 해제'
                stageId:
                  type: string
                  description: API 게시 또는 해제할 Stage ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  stages:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/resources:
    get:
      operationId: ResourceGetResourceList
      summary: Resource 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-resource-getresourcelist
      parameters:
        - name: product-id
          in: path
          required: true
          schema:
            type: string
          description: API가 속한 Product ID 0~10자 Product 목록 조회 참조
        - name: api-id
          in: path
          required: true
          schema:
            type: string
          description: Resource를 조회할 API ID 0~10자 API 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ResourceCreateResource
      summary: Resource 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-resource-createresource
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resourcePath
              properties:
                corsMaxAge:
                  type: string
                  description: 클라이언트가 Preflight 요청 결과를 저장할 기간
                corsAllowMethods:
                  type: string
                  description: 클라이언트 요청(리소스 접근) 시 허용할 메서드 GET | POST | PUT | PATCH | DELETE | HEAD | OPTIONS
                corsAllowOrigin:
                  type: string
                  description: 클라이언트 요청(리소스 접근) 허용 도메인 설정 모든 도메인 허용 시 * 입력
                resourcePath:
                  type: string
                  description: 리소스 경로 <예시> /resource
                corsAllowCredentials:
                  type: string
                  description: HTTP의 Access-Control-Allow-Credentials 헤더 값에 상응되는 값
                corsExposeHeaders:
                  type: string
                  description: 클라이언트 요청(리소스 접근)에 포함 가능한 사용자 정의 헤더
                corsAllowHeaders:
                  type: string
                  description: 클라이언트 요청(리소스 접근) 시 허용할 헤더
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  corsMaxAge:
                    type: string
                    description: (inferred from JSON example)
                  corsAllowMethods:
                    type: string
                    description: (inferred from JSON example)
                  corsAllowOrigin:
                    type: string
                    description: (inferred from JSON example)
                  resourcePath:
                    type: string
                    description: (inferred from JSON example)
                  corsAllowCredentials:
                    type: string
                    description: (inferred from JSON example)
                  corsExposeHeaders:
                    type: string
                    description: (inferred from JSON example)
                  corsAllowHeaders:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/resources/import:
    post:
      operationId: ResourceImportResource
      summary: Swagger 로부터 Resource 가져오기
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-resource-importresource
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - swagger
              properties:
                importValidateType:
                  type: string
                  description: '경고 발생 시 액션 FAIL_ON_WARN | IGNORE_WARN FAIL_ON_WARN : 경고 실패 IGNORE_WARN : 경고 무시'
                swagger:
                  type: string
                  description: 가져오기할 Swagger의 전체 값
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  importValidateType:
                    type: string
                    description: (inferred from JSON example)
                  swagger:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /products/{product-id}/apis/{api-id}/resources/{resource-id}:
    patch:
      operationId: ResourcePatchResource
      summary: Resource 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - api-gateway

      x-ncloud-source: https://api.ncloud-docs.com/docs/apigateway-resource-patchresource
      parameters:
        - name: api-id
          in: path
          required: true
          schema:
            type: string
        - name: product-id
          in: path
          required: true
          schema:
            type: string
        - name: resource-id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                corsMaxAge:
                  type: string
                  description: 클라이언트가 Preflight 요청 결과를 저장할 기간
                corsAllowMethods:
                  type: string
                  description: 클라이언트 요청(리소스 접근) 시 허용할 메서드 GET | POST | PUT | PATCH | DELETE | HEAD | OPTIONS
                corsAllowOrigin:
                  type: string
                  description: 클라이언트 요청(리소스 접근) 허용 도메인 설정 모든 도메인 허용 시 * 입력
                corsAllowCredentials:
                  type: string
                  description: HTTP의 Access-Control-Allow-Credentials 헤더 값에 상응되는 값
                corsExposeHeaders:
                  type: string
                  description: 클라이언트 요청(리소스 접근)에 포함 가능한 사용자 정의 헤더
                corsAllowHeaders:
                  type: string
                  description: 클라이언트 요청(리소스 접근) 시 허용할 헤더
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  corsMaxAge:
                    type: string
                    description: (inferred from JSON example)
                  corsAllowMethods:
                    type: string
                    description: (inferred from JSON example)
[...]
