openapi: 3.0.3
info:
  title: blockchain
  description: blockchain
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn:

    productName: BlockchainService
    resource_types:
      - Network
      - Channel
      - Orderer
      - Peer
      - CA
      - Organization

servers:
  - url: https://blockchainservice.apigw.ntruss.com/api/v1
    description: blockchain 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /networks:
    get:
      operationId: ViewNetworkList
      summary: Network 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewnetworklist
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 0 (기본값)
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: 조회 결과 목록 크기 20 (기본값)
        - name: sort
          in: query
          required: false
          schema:
            type: string
          description: '정렬 기준 오름차순 (기본값) networkId | networkName | nksClusterName | networkStatus | createDt | updateDt networkId : 네트워크 아이디 networkName : 네트워크 이름 nksClusterName : Ncloud Kubernetes Service 클러스터 이름 networkStatus : 네트워크 상태 createDt : 네트워크 생성 일시 updateDt : 네트워크 수정 일시'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Content 상세 정보: content'
                  totalElements:
                    type: integer
                    format: int64
                    description: 전체 블록체인 네트워크 수
                  totalPages:
                    type: integer
                    description: 전체 페이지 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}:
    get:
      operationId: ViewNetworkDetailS
      summary: Network 정보 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewnetworkdetails
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 네트워크 상세 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/cas:
    get:
      operationId: ViewCaList
      summary: CA 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewcalist
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 0 (기본값)
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: 조회 결과 목록 크기 20 (기본값)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Content 상세 정보: content'
                  totalElements:
                    type: integer
                    format: int64
                    description: 전체 CA 노드 수
                  totalPages:
                    type: integer
                    description: 전체 페이지 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/cas/{caId}:
    get:
      operationId: ViewCaDetailS
      summary: CA 정보 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewcadetails
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: caId
          in: path
          required: true
          schema:
            type: string
          description: CA 아이디 CA 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: CA 상세 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/cas/{caId}/identity/{identityName}/certAndKey:
    post:
      operationId: DownloadCaIdEntityCertKey
      summary: CA Identity 다운로드
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-downloadcaidentitycertkey
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: caId
          in: path
          required: true
          schema:
            type: string
          description: CA 아이디 CA 목록 조회 참조
        - name: identityName
          in: path
          required: true
          schema:
            type: string
          description: CA Identity 이름 CA Identity 목록/정보 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: CA Identity 이름
                  cert:
                    type: string
                    description: CA Identity 인증서 정보 Base64 인코딩 방식
                  type:
                    type: string
                    description: 'CA Identity 타입 admin | peer | orderer | client admin : 네트워크 관리자 peer : 네트워크 상태 저장 및 유지, 체인코드 실행 orderer : 네트워크 거래 정보 수집 및 블록 생성 client : 네트워크 사용자'
                  key:
                    type: string
                    description: CA Identity의 KEY 값 Base64 인코딩 방식
                  tls_key:
                    type: string
                    description: CA Identity의 TLS KEY 값 Base64 인코딩 방식 CA Identity의 타입이 peer , orderer , client 일 경우에 표시
                  tls_cert:
                    type: string
                    description: CA Identity의 TLS 인증서 값 Base64 인코딩 방식 CA Identity의 타입이 peer , orderer , client 일 경우에 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/cas/{caId}/logs:
    get:
      operationId: ViewCaPodsLog
      summary: CA Pod 로그 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewcapodslog
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: caId
          in: path
          required: true
          schema:
            type: string
          description: CA 아이디 CA 목록 조회 참조
        - name: tailLines
          in: query
          required: false
          schema:
            type: integer
          description: 로그의 라인 수 1,000 (기본값)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  log:
                    type: string
                    description: CA Pod 로그
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/cas/{caId}/usage:
    get:
      operationId: ViewCaPodsUsage
      summary: CA Pod 사용량 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewcapodsusage
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: caId
          in: path
          required: true
          schema:
            type: string
          description: CA 아이디 CA 목록 조회 참조
        - name: startTime
          in: query
          required: true
          schema:
            type: integer
          description: 사용량 조회 시작 시각 Unix Timestamp 형식 <예시> 2024년 07월 30일 09시 00분 00초인 경우 startTime=1722297600000
        - name: endTime
          in: query
          required: true
          schema:
            type: integer
          description: 사용량 조회 종료 시각 Unix Timestamp 형식 <예시> 2024년 07월 30일 15시 00분 00초인 경우 endTime=1722319200000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: CA Pod 상세 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/orderers:
    get:
      operationId: ViewOrdererList
      summary: Orderer 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewordererlist
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 0 (기본값)
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: 조회 결과 목록 크기 20 (기본값)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Content 상세 정보: content'
                  totalElements:
                    type: integer
                    format: int64
                    description: 전체 Orderer 노드 수
                  totalPages:
                    type: integer
                    description: 전체 페이지 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/orderers/{ordererId}:
    get:
      operationId: ViewOrdererDetailS
      summary: Orderer 정보 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewordererdetails
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: ordererId
          in: path
          required: true
          schema:
            type: string
          description: Orderer 아이디 Orderer 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: Orderer 상세 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/orderers/{ordererId}/export:
    get:
      operationId: DownloadOrdererConnectionProfile
      summary: Orderer 연결 정보 다운로드
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-downloadordererconnectionprofile
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: ordererId
          in: path
          required: true
          schema:
            type: string
          description: Orderer 아이디 Orderer 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tls_root_certs:
                    type: string
                    description: 루트(Root) TLS 인증서 정보
                  network_id:
                    type: integer
                    format: int64
                    description: 네트워크 아이디
                  orderer_id:
                    type: integer
                    format: int64
                    description: Orderer 아이디
                  node_name:
                    type: string
                    description: Orderer 노드 이름
                  msp_id:
                    type: string
                    description: Orderer MSP 아이디
                  msp_name:
                    type: string
                    description: Orderer MSP 이름
                  type:
                    type: string
                    description: 'Orderer 구성 타입 RAFT_1 | RAFT_5 RAFT_1 : 단일 노드(Single) RAFT_5 : 다중 노드(Multiple)'
                  version:
                    type: integer
                    description: 'Orderer 구성 버전 1 | 5 1 : RAFT_1 타입(단일 노드) 5 : RAFT_5 타입(다중 노드)'
                  end_point_url:
                    type: string
                    description: 'Orderer의 Endpoint URL 주소 단일 노드( RAFT_1 ): URL 1개 다중 노드( RAFT_5 ): URL 5개'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/orderers/{ordererId}/{containerNo}/logs:
    get:
      operationId: ViewOrdererPodsLog
      summary: Orderer Pod 로그 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewordererpodslog
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: ordererId
          in: path
          required: true
          schema:
            type: string
          description: Orderer 아이디 Orderer 목록 조회 를 통해 확인
        - name: containerNo
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 'Ncloud Kubernetes Service 컨테이너 번호 Orderer의 구성 타입에 따라 분류 1 ~ 5 1 : RAFT_1 (단일 노드) 1 ~ 5 : RAFT_5 (다중 노드)'
        - name: tailLines
          in: query
          required: false
          schema:
            type: integer
          description: 로그의 라인 수 1,000~99,000 1,000 (기본값)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  log:
                    type: string
                    description: Orderer Pod 로그
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/orderers/{ordererId}/{containerNo}/usage:
    get:
      operationId: ViewOrdererPodsUsage
      summary: Orderer Pod 사용량 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewordererpodsusage
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: ordererId
          in: path
          required: true
          schema:
            type: string
          description: Orderer 아이디 Orderer 목록 조회 참조
        - name: containerNo
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 'Ncloud Kubernetes Service 컨테이너 번호 Orderer의 구성 타입에 따라 분류 1 ~ 5 1 : RAFT_1 (단일 노드) 1 ~ 5 : RAFT_5 (다중 노드)'
        - name: startTime
          in: query
          required: true
          schema:
            type: integer
          description: 사용량 조회 시작 시각 Unix Timestamp 형식 <예시> 2024년 07월 30일 09시 00분 00초인 경우 startTime=1722297600000
        - name: endTime
          in: query
          required: true
          schema:
            type: integer
          description: 사용량 조회 종료 시각 Unix Timestamp 형식 <예시> 2024년 07월 30일 15시 00분 00초인 경우 endTime=1722319200000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  networkId:
                    type: integer
                    format: int64
                    description: 네트워크 아이디
                  nodeId:
                    type: string
                    description: Orderer 노드 아이디
                  containerNo:
                    type: integer
                    format: int64
                    description: 'Ncloud Kubernetes Service 컨테이너 번호 Orderer의 구성 타입에 따라 분류 1 ~ 5 1 : RAFT_1 (단일 노드) 1 ~ 5 : RAFT_5 (다중 노드)'
                  cpuUsage:
                    type: object
                    additionalProperties:
                      type: string
                    description: '이벤트 발생 시간당 CPU 사용량 (단위: vCPU) <예시> "cpuUsage": {"1722306600000": 0.0027334264}'
                  memUsage:
                    type: object
                    additionalProperties:
                      type: string
                    description: '이벤트 발생 시간당 Memory 사용량 (단위: MiB) <예시> "memUsage": {"1722306600000": 14}'
                  diskUsage:
                    type: object
                    additionalProperties:
                      type: string
                    description: '이벤트 발생 시간당 Storage 사용량(단위: %) <예시> "diskUsage": {"1722306600000": 0}'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/organizations:
    get:
      operationId: ViewOrganizationList
      summary: Organization 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-vieworganizationlist
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 0 (기본값)
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: 조회 결과 목록 크기 20 (기본값)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Content 상세 정보: content'
                  totalElements:
                    type: integer
                    format: int64
                    description: 전체 Organization 수
                  totalPages:
                    type: integer
                    description: 전체 페이지 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/organizations/{mspId}:
    get:
      operationId: ViewOrganizationDetailS
      summary: Organization 정보 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-vieworganizationdetails
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: mspId
          in: path
          required: true
          schema:
            type: string
          description: Organization MSP 아이디 Organization 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: Organization 상세 정보
                  exportNetworkId:
                    type: integer
                    format: int64
                    description: 다른 네트워크에서 가져온 네트워크 아이디 importYn 이 Y 일 때 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/organizations/{mspId}/connection:
    get:
      operationId: DownloadConnectionProfileOfmsp
      summary: Organization 연결 정보 다운로드
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-downloadconnectionprofileofmsp
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: mspId
          in: path
          required: true
          schema:
            type: string
          description: Organization MSP 아이디 Organization 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: 네트워크 이름
                  description:
                    type: string
                    description: 네트워크 상세 설명
                  version:
                    type: string
                    description: 네트워크 버전 정보
                  channels:
                    type: object
                    additionalProperties: true
                    description: 채널 상세 정보
                  organizations:
                    type: object
                    additionalProperties: true
                    description: Organization 상세 정보
                  orderers:
                    type: object
                    additionalProperties: true
                    description: Orderer 정보
                  peers:
                    type: object
                    additionalProperties: true
                    description: Peer 정보
                  certificateAuthorities:
                    type: object
                    additionalProperties: true
                    description: CA 상세 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/peers:
    get:
      operationId: ViewPeerList
      summary: Peer 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewpeerlist
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참고
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 0 (기본값)
        - name: size
          in: query
          required: false
          schema:
            type: integer
          description: 조회 결과 목록 크기 20 (기본값)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Content 상세 정보: content'
                  totalElements:
                    type: integer
                    format: int64
                    description: 전체 Peer 노드 수
                  totalPages:
                    type: integer
                    description: 전체 페이지 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/peers/{peerId}:
    get:
      operationId: ViewPeerDetailS
      summary: Peer 정보 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewpeerdetails
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: peerId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: Peer 아이디 Peer 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: Peer 상세 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/peers/{peerId}/logs:
    get:
      operationId: ViewPeerPodsLog
      summary: Peer Pod 로그 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewpeerpodslog
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: peerId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: Peer 아이디 Peer 목록 조회 참조
        - name: tailLines
          in: query
          required: false
          schema:
            type: integer
          description: 로그의 라인 수 1,000~99,000 1,000 (기본값)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  log:
                    type: string
                    description: Peer Pod 로그
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /networks/{networkId}/peers/{peerId}/usage:
    get:
      operationId: ViewPeerPodsUsage
      summary: Peer Pod 사용량 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - blockchain

      x-ncloud-source: https://api.ncloud-docs.com/docs/blockchainservice-viewpeerpodsusage
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 네트워크 아이디 Network 목록 조회 참조
        - name: peerId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: Peer 아이디 Peer 목록 조회 참조
        - name: startTime
          in: query
          required: true
          schema:
            type: integer
          description: 사용량 조회 시작 시각 Unix Timestamp 형식 <예시> 2024년 07월 30일 09시 00분 00초인 경우 startTime=1722297600000
        - name: endTime
          in: query
          required: true
          schema:
            type: integer
          description: 사용량 조회 종료 시각 Unix Timestamp 형식 <예시> 2024년 07월 30일 15시 00분 00초인 경우 endTime=1722319200000
        - name: isCouchDb
          in: query
          required: false
          schema:
            type: boolean
          description: 'CouchDB 여부 true | false true : CoucbDB일 경우 false : CouchDB가 아닐 경우(LevelDB)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  networkId:
                    type: integer
                    format: int64
                    description: 네트워크 아이디
                  nodeId:
                    type: string
                    description: Peer 노드 아이디
                  nodeType:
                    type: string
                    description: Peer 노드 타입
                  containerNo:
                    type: integer
                    format: int64
                    description: Ncloud Kubernetes Service 컨테이너 번호 CA는 해당사항 없음
                  cpuUsage:
                    type: object
                    additionalProperties:
                      type: string
                    description: '이벤트 발생 시간당 CPU 사용량 (단위: vCPU) <예시> "cpuUsage": {"1722306600000": 0.0077477186}'
                  memUsage:
                    type: object
                    additionalProperties:
                      type: string
                    description: '이벤트 발생 시간당 Memory 사용량 (단위: MiB) <예시> "memUsage": {"1722306600000": 47}'
                  diskUsage:
                    type: object
                    additionalProperties:
                      type: string
                    description: '이벤트 발생 시간당 Storage 사용량(단위: %) <예시> "diskUsage": {"1722306600000": 0}'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
