openapi: 3.0.3
info:
  title: cloud-insight
  description: cloud-insight
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: true

  x-ncloud-nrn:

    productName: CloudInsight
    resource_types:
      - Dashboard
      - EventRule
      - PM
      - MetricExport

servers:
  - url: https://cw.apigw.ntruss.com
    description: cloud-insight 민간
    x-ncloud-env: public
  - url: https://cw.apigw.fin-ntruss.com
    description: cloud-insight 금융
    x-ncloud-env: financial
  - url: https://cw.apigw.gov-ntruss.com
    description: cloud-insight 공공
    x-ncloud-env: gov
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /cw_collector/real/data:
    post:
      operationId: SendData
      summary: SendData
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-senddata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cw_key
                - data
              properties:
                cw_key:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                data:
                  type: string
                  description: JSON 데이터 미리 정의한 데이터 입력 데이터는 {key}:{value} 형태로 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: 응답 결과 메시지
                  dataId:
                    type: integer
                    description: 전송 데이터 아이디
                  message:
                    type: string
                    description: 전송 데이터 설명
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/chart/dashboard:
    get:
      operationId: GetDashboardList
      summary: GetDashboardList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getdashboardlist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: |
                  Top-level array of dashboards. Verified against the live
                  NCP API on 2026-04-26.
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: 대시보드 아이디
                    name:
                      type: string
                      description: 대시보드 이름
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/chart/dashboard/{dashboardId}/widgets:
    get:
      operationId: GetDashboardWidgetList
      summary: GetDashboardWidgetList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getdashboardwidgetlist
      parameters:
        - name: dashboardId
          in: path
          required: true
          schema:
            type: string
          description: 대시보드 아이디 GetDashboardList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboardId:
                    type: string
                    description: 대시보드 아이디
                  name:
                    type: string
                    description: 대시보드 이름
                  widgetId:
                    type: string
                    description: 위젯 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/chart/dashboard/{dashboardId}/widgets/{widgetId}:
    get:
      operationId: GetDashboardWidgetImage
      summary: GetDashboardWidgetImage
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getdashboardwidgetimage
      parameters:
        - name: dashboardId
          in: path
          required: true
          schema:
            type: string
          description: 대시보드 아이디 GetDashboardList 참조
        - name: widgetId
          in: path
          required: true
          schema:
            type: string
          description: 위젯 아이디 GetDashboardWidgetList 참조
        - name: startTime
          in: query
          required: true
          schema:
            type: integer
          description: 측정 시작 일시(밀리초) Unix Timestamp 형식
        - name: endTime
          in: query
          required: true
          schema:
            type: integer
          description: 측정 종료 일시(밀리초) Unix Timestamp 형식
        - name: widgetResolutionMode
          in: query
          required: false
          schema:
            type: string
          description: '조회 주기 AUTO (기본값) | HIGH AUTO : 대시보드와 동일한 주기로 조회 HIGH : 대시보드보다 짧은 주기로 상세 조회'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/custom/resource:
    post:
      operationId: CreateCustomResource
      summary: CreateCustomResource
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createcustomresource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resourceName
                - resourceData
              properties:
                resourceId:
                  type: string
                  description: 사용자 리소스 아이디 입력한 아이디로 생성 미 입력 시 자동 생성 중복 불가
                resourceName:
                  type: string
                  description: 사용자 리소스 이름
                resourceTypeId:
                  type: string
                  description: 사용자 리소스 유형 아이디 resourceData 데이터 타입 인증을 위해 사용되는 값 정의한 데이터 타입의 resourceData 전송 가능 DEFAULT (기본값)
                resourceData:
                  type: object
                  additionalProperties: true
                  description: 사용자 리소스 데이터 resourceTypeId 에서 정의한 데이터 타입의 데이터 입력 resourceTypeId 에서 정의한 데이터 타입에 일치하는 필드만 저장
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceId:
                    type: string
                    description: 사용자 리소스 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/custom/resource/list:
    get:
      operationId: GetAllCustomResource
      summary: GetAllCustomResource
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getallcustomresource
      parameters:
        - name: resourceTypeId
          in: query
          required: false
          schema:
            type: string
          description: 사용자 리소스 유형 아이디 resourceData 데이터 타입 인증을 위해 사용되는 값 정의한 데이터 타입의 사용자 리소스만 조회 DEFAULT (기본값)
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: 조회 키워드 resourceTypeId 에서 정의한 데이터 타입의 사용자 리소스만 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceData:
                    type: object
                    additionalProperties: true
                    description: 사용자 리소스 데이터
                  resourceId:
                    type: string
                    description: 사용자 리소스 아이디
                  resourceName:
                    type: string
                    description: 사용자 리소스 이름
                  resourceTypeId:
                    type: string
                    description: 사용자 리소스 유형 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/custom/resource/{resourceId}:
    get:
      operationId: GetCustomResource
      summary: GetCustomResource
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getcustomresource
      parameters:
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
          description: 사용자 리소스 아이디 GetAllCustomResource 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceData:
                    type: object
                    additionalProperties: true
                    description: 사용자 리소스 데이터
                  resourceId:
                    type: string
                    description: 사용자 리소스 아이디
                  resourceName:
                    type: string
                    description: 사용자 리소스 이름
                  resourceTypeId:
                    type: string
                    description: 사용자 리소스 유형 아이디 resourceData 데이터 타입 인증을 위해 사용되는 값 정의한 데이터 타입의 사용자 리소스만 조회 DEFAULT (기본값)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateCustomResource
      summary: UpdateCustomResource
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updatecustomresource
      parameters:
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
          description: 사용자 리소스 아이디 GetCustomResource 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resourceData
                - resourceName
              properties:
                resourceData:
                  type: object
                  additionalProperties: true
                  description: 사용자 리소스 데이터 resourceTypeId 에서 정의한 데이터 타입의 데이터 입력 resourceTypeId 에서 정의한 데이터 타입에 일치하는 필드만 저장
                resourceName:
                  type: string
                  description: 사용자 리소스 이름
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteCustomResource
      summary: DeleteCustomResource
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletecustomresource
      parameters:
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
          description: 사용자 리소스 아이디 GetAllCustomResource 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/data/chart/preview:
    post:
      operationId: QueryWidgetDataPreView
      summary: QueryWidgetDataPreview
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-querywidgetdatapreview
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cichartdatawidgetdto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChartDataWidgetDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  color:
                    type: string
                    description: 차트 색
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 조회 결과 데이터 포인트(Unix Timestamp 형식), 데이터 값 형태로 표시
                  dimensions:
                    type: object
                    additionalProperties: true
                    description: Dimension 정보
                  displayName:
                    type: string
                    description: 위젯에 노출되는 Metric 이름
                  idDimension:
                    type: string
                    description: Dimension 이름
                  metric:
                    type: string
                    description: Metric 이름
                  period:
                    type: string
                    description: 집계 주기 Min1 | Min5 | Min30 | Hour2 | Day1
                  prodKey:
                    type: string
                    description: 상품 키(cw_key) Cloud Insight 지표 참조
                  prodName:
                    type: string
                    description: 상품 이름 Cloud Insight 지표 참조
                  resourceName:
                    type: string
                    description: 리소스 이름
                  statistic:
                    type: string
                    description: 집계 함수 COUNT | SUM | MAX | MIN | AVG
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/data/query:
    post:
      operationId: QueryData
      summary: QueryData
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-querydata
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cidataqueryrequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataQueryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 조회 결과 데이터 포인트(Unix Timestamp 형식), 데이터 값 형태로 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/data/query/multiple:
    post:
      operationId: QueryDataMultiPle
      summary: QueryDataMultiple
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-querydatamultiple
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - timeStart
                - timeEnd
                - metricInfoList
              properties:
                timeStart:
                  type: integer
                  description: 조회 시작 일시(밀리초) Unix Timestamp 형식
                timeEnd:
                  type: integer
                  description: 조회 종료 일시(밀리초) Unix Timestamp 형식
                metricInfoList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 조회 조건 1회 호출에 최대 20개의 조건 조회 가능
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  aggregation:
                    type: string
                    description: 집계 함수 COUNT | SUM | MAX | MIN | AVG
                  dimensions:
                    type: object
                    additionalProperties: true
                    description: Dimension 정보
                  dps:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 조회 결과 데이터 포인트(Unix Timestamp 형식), 데이터 값 형태로 표시
                  interval:
                    type: string
                    description: 집계 주기 Min1 | Min5 | Min30 | Hour2 | Day1
                  metric:
                    type: string
                    description: Metric 이름
                  productName:
                    type: string
                    description: 상품 이름 Cloud Insight 지표 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/event/search:
    post:
      operationId: SearchEvent
      summary: SearchEvent
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-searchevent
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cieventsearchrequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Event 정보: events'
                  pageNum:
                    type: integer
                    description: 페이지 번호
                  pageSize:
                    type: integer
                    description: 페이지 출력 수
                  totalRecords:
                    type: integer
                    description: 응답 결과 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/event/searchById:
    post:
      operationId: SearchEventById
      summary: SearchEventById
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-searcheventbyid
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cieventsearchrequestbyid
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSearchRequestById'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  detectValue:
                    type: string
                    description: Event 값
                  inMaintenance:
                    type: boolean
                    description: '유지 보수 설정 여부 true | false true : 설정 false : 설정 해제'
                  prodKey:
                    type: string
                    description: 상품 키(cw_key) Cloud Insight 지표 참조
                  criteria:
                    type: string
                    description: Event Rule 값
                  cycles:
                    type: integer
                    description: 'Event 종료 상태 Event 발생 리소스가 삭제되어 Event가 종료 처리됐는지 확인하는 값 0 : 종료 안 됨 (기본값) 1 : 종료'
                  metricGroupItemId:
                    type: string
                    description: Metric Group 항목 아이디
                  operator:
                    type: string
                    description: Event 발생 조건을 평가하기 위한 비교 연산자 LT | LE | EQ | GE | NE | EXP
                  regionCode:
                    type: string
                    description: 리전 코드
                  eventLevel:
                    type: string
                    description: Event 레벨 INFO | WARNING | CRITICAL
                  calcSlidingGroupKey:
                    type: string
                    description: Event 상세 정보
                  ruleName:
                    type: string
                    description: Event Rule 이름
                  startTime:
                    type: integer
                    description: 조회 시작 일시(밀리초) Unix Timestamp 형식
                  ruleId:
                    type: integer
                    description: Event Rule 아이디
                  eventId:
                    type: string
                    description: Event 아이디
                  notificationGroups:
                    type: string
                    description: 통보 대상 그룹 이름
                  unit:
                    type: string
                    description: Event 단위
                  metric:
                    type: string
                    description: Metric 이름
                  eventCause:
                    type: string
                    description: Event 발생 원인
                  plannedMaintains:
                    type: string
                    description: 유지 보수 일정
                  interval:
                    type: string
                    description: 집계 주기 Min1 | Min5 | Min30 | Hour2 | Day1
                  calc:
                    type: string
                    description: 집계 함수 COUNT | AVG | SUM | MAX | MIN
                  describe:
                    type: string
                    description: Event Rule 설명
                  endTime:
                    type: integer
                    description: 조회 종료 일시(밀리초) Unix Timestamp 형식
                  zoneCode:
                    type: string
                    description: 존 코드
                  dimensions:
                    type: object
                    additionalProperties: true
                    description: Dimensions 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/event/searchEventCountConsole:
    post:
      operationId: SearchEventCountConsole
      summary: SearchEventCountConsole
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-searcheventcountconsole
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - startTime
                - endTime
              properties:
                startTime:
                  type: integer
                  description: 조회 시작 일시(밀리초) Unix Timestamp 형식
                endTime:
                  type: integer
                  description: 조회 종료 일시(밀리초) Unix Timestamp 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  closedRecords:
                    type: integer
                    description: 처리 종료된 Event 수
                  openRecords:
                    type: integer
                    description: 처리 대기 중인 Event 수
                  totalRecords:
                    type: integer
                    description: 전체 Event 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/integration/create:
    post:
      operationId: CreateIntegration
      summary: CreateIntegration
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createintegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - payload
                - type
                - url
              properties:
                headers:
                  type: object
                  additionalProperties: true
                  description: 호출 헤더(Bytes) 0~100 (키/값 포함) 영어, 숫자, 특수문자 '-', '_' 조합 최대 10개 입력 가능
                name:
                  type: string
                  description: Integration 이름
                payload:
                  type: string
                  description: 호출 페이로드(Byte) 0~15,000 변수를 포함한 JSON 형식의 전송 데이터 Payload 수정 참조
                type:
                  type: string
                  description: Integration 유형 OUT_GOING (유효 값)
                url:
                  type: string
                  description: 엔드포인트 주소 Event를 전송할 URL 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  integrationId:
                    type: string
                    description: Integration 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/integration/delete:
    post:
      operationId: DeleteIntegration
      summary: DeleteIntegration
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deleteintegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - integrationIds
              properties:
                integrationIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Integration 아이디 목록 GetIntegrationList 참조 2개 이상 삭제 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/integration/page:
    post:
      operationId: GetIntegrationList
      summary: GetIntegrationList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getintegrationlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - pageNum
                - pageSize
              properties:
                query:
                  type: string
                  description: 조회 키워드 지정한 조건의 Integration만 조회 가능
                pageNum:
                  type: integer
                  description: 페이지 번호 1~N
                pageSize:
                  type: integer
                  description: 페이지 출력 수 1~N
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Integration 목록 정보: data'
                  pageNum:
                    type: integer
                    description: 페이지 번호
                  pageSize:
                    type: integer
                    description: 페이지 출력 개수
                  totalPages:
                    type: integer
                    description: 전체 페이지 수
                  totalRecords:
                    type: integer
                    description: 응답 결과 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/integration/update:
    post:
      operationId: UpdateIntegration
      summary: UpdateIntegration
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updateintegration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - name
                - payload
                - type
                - url
              properties:
                headers:
                  type: object
                  additionalProperties: true
                  description: 호출 헤더(Byte) 0~100 (키/값 포함) 영어, 숫자, 특수문자 '-', '_' 조합 최대 10개 입력 가능
                id:
                  type: string
                  description: Integration 아이디 GetIntegrationList 참조
                name:
                  type: string
                  description: Integration 이름
                payload:
                  type: string
                  description: 호출 페이로드(Byte) 변수를 포함한 JSON 형식의 전송 데이터 0~15,000 Payload 수정 참조
                type:
                  type: string
                  description: Integration 유형 OUT_GOING (유효 값)
                url:
                  type: string
                  description: 엔드포인트 주소 Event를 전송할 URL 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/integration/{id}/detail:
    get:
      operationId: GetIntegration
      summary: GetIntegration
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getintegration
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Integration 아이디 GetIntegrationList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  headers:
                    type: object
                    additionalProperties: true
                    description: 호출 헤더
                  id:
                    type: string
                    description: Integration 아이디
                  name:
                    type: string
                    description: Integration 이름
                  payload:
                    type: string
                    description: 호출 페이로드 변수를 포함한 전송 데이터
                  type:
                    type: string
                    description: Integration 유형
                  updateTime:
                    type: integer
                    description: Integration 수정 시간(밀리초) Unix Timestamp 형식
                  url:
                    type: string
                    description: 엔드포인트 주소
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/planned-maintenances:
    get:
      operationId: GetPmList
      summary: GetPlannedMaintenanceList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getpmlist
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: integer
          description: 조회 시작 일시 Unix timestamp 형식 시간 범위로 조회 시 사용
        - name: to
          in: query
          required: false
          schema:
            type: integer
          description: 조회 종료 일시 Unix timestamp 형식 시간 범위로 조회 시 사용
        - name: timeType
          in: query
          required: false
          schema:
            type: string
          description: '조회 기준 startTime | endTime startTime : 시작 시간 endTime : 종료 시간 시간 범위로 조회 시 사용'
        - name: resourceId
          in: query
          required: false
          schema:
            type: string
          description: 리소스 아이디 GetAllCustomResource 참조 리소스 아이디로 조회 시 사용
        - name: productKey
          in: query
          required: false
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조 리소스 아이디로 조회 시 사용
        - name: pageNum
          in: query
          required: true
          schema:
            type: integer
          description: 페이지 번호 1~N
        - name: pageSize
          in: query
          required: true
          schema:
            type: integer
          description: 페이지 출력 수 1~N
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  pageNumCurrent:
                    type: integer
                    description: (inferred from JSON example)
                  pageNumTotal:
                    type: integer
                    description: (inferred from JSON example)
                  pageSize:
                    type: integer
                    description: (inferred from JSON example)
                  total:
                    type: integer
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CreatePm
      summary: CreatePlannedMaintenance
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createpm
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cipmcreateupdatedto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PMCreateUpdateDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  plannedMaintenanceId:
                    type: string
                    description: 유지 보수 일정 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/planned-maintenances/{id}:
    get:
      operationId: GetPmDetailById
      summary: GetPlannedMaintenanceDetailById
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getpmdetailbyid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 유지 보수 일정 아이디 GetPlannedMaintenanceList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  desc:
                    type: string
                    description: (inferred from JSON example)
                  dimensions:
                    type: object
                    additionalProperties: true
                    description: (inferred from JSON example)
                  endTime:
                    type: integer
                    description: (inferred from JSON example)
                  id:
                    type: string
                    description: (inferred from JSON example)
                  startTime:
                    type: integer
                    description: (inferred from JSON example)
                  title:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdatePm
      summary: UpdatePlannedMaintenance
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updatepm
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 유지 보수 일정 아이디 GetPlannedMaintenanceList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeletePm
      summary: DeletePlannedMaintenance
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletepm
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 유지 보수 일정 아이디 GetPlannedMaintenanceList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metric/group/related:
    post:
      operationId: GetRuleGroupByMetricGroupIds
      summary: GetRuleGroupByMetricGroupIds
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getrulegroupbymetricgroupids
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - metricGroupIds
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                metricGroupIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Rule Template 아이디 목록 GetMetricsGroupList 참조 2개 이상 조회 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metric/groups:
    delete:
      operationId: DeleteMetricGroupForCe
      summary: DeleteMetricGroupForce
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletemetricgroupforce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - TypeGroupRelatedRuleDto
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                TypeGroupRelatedRuleDto:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Event Rule 정보 GetRuleGroupByMetricGroupIds 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metric/search:
    post:
      operationId: SearchMetricList
      summary: SearchMetricList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-searchmetriclist
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cimetriclistrequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MetricListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - prodKey
                properties:
                  metrics:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Metric 목록: metrics'
                  prodKey:
                    type: string
                    description: 상품 키(cw_key) Cloud Insight 지표 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metrics:
    post:
      operationId: CreateMetricsGrp
      summary: CreateMetricsGrp
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createmetricsgrp
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cicreateorupdatemetricsgrpdto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateMetricsGrpDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  metricsGroupId:
                    type: string
                    description: Rule Template 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metrics/del:
    delete:
      operationId: DeleteMetricsGrp
      summary: DeleteMetricsGrp
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletemetricsgrp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - metricsGroupIds
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                metricsGroupIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Rule Template 아이디 목록 GetMetricsGroupList 참조 2개 이상 삭제 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metrics/del/{prodKey}/{id}:
    delete:
      operationId: DeleteMetricsGrpByProdKeyAndId
      summary: DeleteMetricsGrpByProdKeyAndId
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletemetricsgrpbyprodkeyandid
      parameters:
        - name: prodKey
          in: path
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Rule Template 아이디 GetMetricsGroupList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metrics/query/{prodKey}:
    get:
      operationId: GetMetricsGroupList
      summary: GetMetricsGroupList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getmetricsgrouplist
      parameters:
        - name: prodKey
          in: path
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  metricsGroups:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Rule Template 목록: metricsGroups'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metrics/query/{prodKey}/{id}:
    get:
      operationId: GetMetricsGroup
      summary: GetMetricsGroup
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getmetricsgroup
      parameters:
        - name: prodKey
          in: path
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Rule Template 아이디 GetMetricsGroupList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - prodKey
                properties:
                  createTime:
                    type: integer
                    description: Rule Template 생성 일시(밀리초) Unix Timestamp 형식
                  domainCode:
                    type: string
                    description: 네이버 클라우드 플랫폼 도메인 코드
                  groupDesc:
                    type: string
                    description: Rule Template 설명
                  groupName:
                    type: string
                    description: Rule Template 이름
                  id:
                    type: string
                    description: Rule Template 아이디
                  idDimension:
                    type: string
                    description: Dimension 이름
                  metrics:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Metric 목록: metrics'
                  prodKey:
                    type: string
                    description: 상품 키(cw_key) Cloud Insight 지표 참조
                  prodType:
                    type: string
                    description: 상품 유형
                  regionCode:
                    type: string
                    description: 리전 코드
                  temporaryGroup:
                    type: boolean
                    description: 'Rule Template 생성 여부 true | false true : Rule Template 생성 없이 Event Rule 생성 false : Rule Template 생성'
                  updateTime:
                    type: integer
                    description: Rule Template 수정 일시(밀리초) Unix Timestamp 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/metrics/update:
    post:
      operationId: UpdateMetricsGroup
      summary: UpdateMetricsGroup
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updatemetricsgroup
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cicreateorupdatemetricsgrpdto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateMetricsGrpDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/monitor:
    post:
      operationId: CreateMonitorGrp
      summary: CreateMonitorGrp
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createmonitorgrp
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cimonitorgrpdto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorGrpDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  monitorGroupId:
                    type: string
                    description: 감시 대상 그룹 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateMonitorGrp
      summary: UpdateMonitorGrp
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updatemonitorgrp
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cimonitorgrpdto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorGrpDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteMonitorGrp
      summary: DeleteMonitorGrp
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletemonitorgrp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - monitorGroupIds
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                monitorGroupIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 감시 대상 그룹 아이디 목록 GetAllMonitorGrp 참조 2개 이상 삭제 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/monitor/group/related:
    post:
      operationId: GetRuleGroupByMonitorGroupIds
      summary: GetRuleGroupByMonitorGroupIds
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getrulegroupbymonitorgroupids
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - monitorGroupIds
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                monitorGroupIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 감시 대상 그룹 아이디 목록 GetAllMonitorGrp 참조 2개 이상 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/monitor/groups:
    delete:
      operationId: DeleteMonitorGroupForCe
      summary: DeleteMonitorGroupForce
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletemonitorgroupforce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - TypeGroupRelatedRuleDto
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                TypeGroupRelatedRuleDto:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Event Rule 정보 GetRuleGroupByMetricGroupIds 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/monitor/removeResourceFromRules:
    post:
      operationId: RemoveResourceFromRules
      summary: RemoveResourceFromRules
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-removeresourcefromrules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - resourceId
                - ruleGroupIds
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                resourceId:
                  type: string
                  description: 감시 대상 아이디 GetAllMonitorGrp 참조
                ruleGroupIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Event Rule 아이디 GetRuleGroupList 참조 2개 이상 삭제 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/monitor/{prodKey}:
    get:
      operationId: GetAllMonitorGrp
      summary: GetAllMonitorGrp
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getallmonitorgrp
      parameters:
        - name: prodKey
          in: path
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/monitor/{prodKey}/{id}:
    get:
      operationId: GetMonitorGrp
      summary: GetMonitorGrp
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getmonitorgrp
      parameters:
        - name: prodKey
          in: path
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 감시 대상 그룹 아이디 GetAllMonitorGrp 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  groupDesc:
                    type: string
                    description: (inferred from JSON example)
                  groupName:
                    type: string
                    description: (inferred from JSON example)
                  id:
                    type: string
                    description: (inferred from JSON example)
                  monitorGroupItemList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: (inferred from JSON example)
                  prodKey:
                    type: string
                    description: (inferred from JSON example)
                  prodName:
                    type: string
                    description: (inferred from JSON example)
                  temporaryGroup:
                    type: boolean
                    description: (inferred from JSON example)
                  type:
                    type: string
                    description: (inferred from JSON example)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp:
    post:
      operationId: CreateRuleGroup
      summary: CreateRuleGroup
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createrulegroup
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cicreateorupdaterulegroupdto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateRuleGroupDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ruleGroupId:
                    type: string
                    description: Event Rule 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp/copy/{id}:
    put:
      operationId: CopyRuleGroup
      summary: CopyRuleGroup
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-copyrulegroup
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Event Rule 아이디 GetRuleGroupList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ruleGroupId:
                    type: integer
                    description: 복사된 Event Rule 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp/createDirectly:
    post:
      operationId: CreateRuleDirectly
      summary: CreateRuleDirectly
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createruledirectly
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cidirectrulegroupcreatedto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectRuleGroupCreateDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ruleGroupId:
                    type: string
                    description: Event Rule 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp/del:
    post:
      operationId: DeleteRuleGroup
      summary: DeleteRuleGroup
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deleterulegroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Event Rule 정보 DeleteRuleGroupItemDto 참조 2개 이상 삭제 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp/del/{prodKey}/{id}:
    delete:
      operationId: DeleteRuleGroupByProdKeyAndId
      summary: DeleteRuleGroupByProdKeyAndId
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deleterulegroupbyprodkeyandid
      parameters:
        - name: prodKey
          in: path
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Event Rule 아이디 GetRuleGroupList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp/query:
    post:
      operationId: GetRuleGroupList
      summary: GetRuleGroupList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getrulegrouplist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodKey
                - pageSize
                - pageNum
              properties:
                prodKey:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                pageSize:
                  type: integer
                  description: 페이지 출력 수
                pageNum:
                  type: integer
                  description: 페이지 번호
                search:
                  type: string
                  description: 조회 키워드
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp/query/{prodKey}/{id}:
    get:
      operationId: GetRuleGroup
      summary: GetRuleGroup
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getrulegroup
      parameters:
        - name: prodKey
          in: path
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Event Rule 아이디 GetRuleGroupList 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/group/ruleGrp/update:
    post:
      operationId: UpdateRuleGroup
      summary: UpdateRuleGroup
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updaterulegroup
      requestBody:
        required: true
        description: See https://api.ncloud-docs.com/docs/common-vapidatatype-cicreateorupdaterulegroupdto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateRuleGroupDto'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/rule/notify/groups:
    get:
      operationId: GetNotificationRecipientList
      summary: GetNotificationRecipientList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getnotificationrecipientlist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  personalNotification:
                    type: boolean
                    description: '통보 대상 유형 true | false true : 통보 대상자 false : 통보 대상자 그룹'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/schema:
    get:
      operationId: GetSchema
      summary: GetProductSchema
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getschema
      parameters:
        - name: prodName
          in: query
          required: true
          schema:
            type: string
          description: '상품 이름 Cloud Insight 지표 참조 사용자 정의 스키마: Custom/ 으로 시작'
        - name: cw_key
          in: query
          required: false
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cw_key:
                    type: string
                    description: 상품 키(cw_key) Cloud Insight 지표 참조
                  fields:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 사용자 정의 스키마
                  prodName:
                    type: string
                    description: 상품 이름 Cloud Insight 지표 참조
                  useCustomResource:
                    type: boolean
                    description: '사용자 정의 리소스 사용 여부 true | false (기본값) true : 사용 false : 사용 안 함'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CreateCustomSchema
      summary: CreateCustomSchema
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-createcustomschema
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodName
                - fields
              properties:
                prodName:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 스키마 이름
                fields:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 사용자 정의 스키마
                useCustomResource:
                  type: boolean
                  description: '사용자 정의 리소스 사용 여부 true | false (기본값) true : 사용 false : 사용 안 함'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cw_key:
                    type: string
                    description: 상품 키(cw_key) Cloud Insight 지표 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateSchema
      summary: UpdateProductSchema
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updateschema
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - prodName
                - cw_key
                - fields
              properties:
                prodName:
                  type: string
                  description: 상품 이름 Cloud Insight 지표 참조
                cw_key:
                  type: string
                  description: 상품 키(cw_key) Cloud Insight 지표 참조
                fields:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 사용자 정의 스키마
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: 응답 결과 메시지
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteChema
      summary: DeleteProductSchema
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-deletechema
      parameters:
        - name: cw_key
          in: query
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: prodName
          in: query
          required: true
          schema:
            type: string
          description: 상품 이름 Cloud Insight 지표 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/schema/extended/disable:
    put:
      operationId: UpdateExtEndEndDisable
      summary: UpdateExtendedDisable
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updateextendenddisable
      parameters:
        - name: cw_key
          in: query
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: instanceIds
          in: query
          required: true
          schema:
            type: string
          description: 인스턴스 아이디 GetExtendedStatus 참조 2개 이상 입력 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/schema/extended/enable:
    put:
      operationId: UpdateExtEndEndEnable
      summary: UpdateExtendedEnable
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updateextendendenable
      parameters:
        - name: cw_key
          in: query
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: instanceIds
          in: query
          required: true
          schema:
            type: string
          description: 인스턴스 아이디 GetExtendedStatus 참조 2개 이상 입력 시 쉼표(,)로 구분
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/schema/extended/status:
    get:
      operationId: GetExtEndEdStatus
      summary: GetExtendedStatus
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getextendedstatus
      parameters:
        - name: cw_key
          in: query
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: instanceIds
          in: query
          required: true
          schema:
            type: string
          description: 인스턴스 아이디
        - name: prodKey
          in: query
          required: true
          schema:
            type: string
          description: 상품 키(cw_key) Cloud Insight 지표 참조
        - name: servers
          in: query
          required: true
          schema:
            type: array
            items:
              type: object
              additionalProperties: true
          description: 인스턴스 아이디 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: 'Extended Metric 수집 설정 여부 true | false true : 설정 false : 설정 해제'
                  instanceId:
                    type: string
                    description: 인스턴스 아이디
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/schema/system/list:
    get:
      operationId: GetSystemSchemaKeyList
      summary: GetSystemSchemaKeyList
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getsystemschemakeylist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  cw_key:
                    type: string
                    description: 상품 키(cw_key) Cloud Insight 지표 참조
                  prodName:
                    type: string
                    description: 상품 이름 Cloud Insight 지표 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_fea/real/cw/api/servers/top:
    post:
      operationId: GetServersTop
      summary: GetServersTop
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getserverstop
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: 'Metric 이름 avg_cpu_used_rto | mem_usert | avg_fs_usert avg_cpu_used_rto : CPU 사용률 평균 mem_usert : 메모리 사용률 avg_fs_usert : 파일 시스템 사용률 평균'
        - name: prod
          in: query
          required: false
          schema:
            type: string
          description: '서버가 속한 환경 VPC (기본값)| Classic VPC : VPC 환경 Classic : Classic 환경'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  avg_cpu_user_rto:
                    type: string
                    description: CPU 사용자 비율 평균(%)
                  hostName:
                    type: string
                    description: 호스트 이름
                  instanceNo:
                    type: string
                    description: 호스트 인스턴스 번호
                  avg_cpu_used_rto:
                    type: number
                    description: CPU 사용률 평균(%)
                  avg_fs_usert:
                    type: number
                    description: 파일 시스템 사용률 평균(%)
                  mem_usert:
                    type: number
                    description: 메모리 사용률(%)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/file:
    get:
      operationId: GetAllFilePlugin
      summary: GetAllFilePlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getallfileplugin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  configList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 파일 경로 목록
                  instanceNo:
                    type: string
                    description: 서버 인스턴스 번호
                  nrn:
                    type: string
                    description: 네이버 클라우드 플랫폼 리소스 식별 값
                  type:
                    type: string
                    description: 서버 유형
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: UpdateFilePlugin
      summary: UpdateFilePlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updatefileplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - configList
                - instanceNo
              properties:
                configList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 파일 경로 목록
                instanceNo:
                  type: string
                  description: 서버 인스턴스 번호 GetAllFilePlugin 참조 1개만 입력 가능
                type:
                  type: string
                  description: '서버 유형 vpcserver (기본값) | classicserver | cloudhadoop vpcserver : VPC 환경의 서버 classicserver : Classic 환경의 서버 cloudhadoop : Cloud Hadoop 서버'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/file/add:
    post:
      operationId: AddFilePlugin
      summary: AddFilePlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-addfileplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - configList
                - instanceNo
              properties:
                configList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 파일 경로 목록
                instanceNo:
                  type: string
                  description: 서버 인스턴스 번호 1개만 입력 가능
                type:
                  type: string
                  description: '서버 유형 vpcserver (기본값) | classicserver | cloudhadoop vpcserver : VPC 환경의 서버 classicserver : Classic 환경의 서버 cloudhadoop : Cloud Hadoop 서버'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/file/instanceNo/{instanceNo}:
    get:
      operationId: GetFilePlugin
      summary: GetFilePlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getfileplugin
      parameters:
        - name: instanceNo
          in: path
          required: true
          schema:
            type: string
          description: 서버 인스턴스 번호 1개만 입력 가능
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  configList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 파일 경로 목록
                  instanceNo:
                    type: string
                    description: 서버 인스턴스 번호
                  nrn:
                    type: string
                    description: 네이버 클라우드 플랫폼 리소스 식별 값
                  type:
                    type: string
                    description: 서버 유형
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/file/remove:
    post:
      operationId: RemoveFilePlugin
      summary: RemoveFilePlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-removefileplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - configList
                - instanceNo
              properties:
                configList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 파일 경로 목록
                instanceNo:
                  type: string
                  description: 서버 인스턴스 번호 GetAllFilePlugin 참조 1개만 입력 가능
                type:
                  type: string
                  description: '서버 유형 vpcserver (기본값) | classicserver | cloudhadoop vpcserver : VPC 환경의 서버 classicserver : Classic 환경의 서버 cloudhadoop : Cloud Hadoop 서버'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/port:
    get:
      operationId: GetAllPortPlugin
      summary: GetAllPortPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getallportplugin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  instanceNo:
                    type: string
                    description: 서버 인스턴스 번호
                  nrn:
                    type: string
                    description: 네이버 클라우드 플랫폼 리소스 식별 값
                  portList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 포트 번호 목록
                  type:
                    type: string
                    description: 서버 유형
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: UpdatePortPlugin
      summary: UpdatePortPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updateportplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - portList
                - instanceNo
              properties:
                portList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 포트 번호 목록
                instanceNo:
                  type: string
                  description: 서버 인스턴스 번호 GetAllPortPlugin 참조 1개만 입력 가능
                type:
                  type: string
                  description: '서버 유형 vpcserver (기본값) | classicserver | cloudhadoop vpcserver : VPC 환경의 서버 classicserver : Classic 환경의 서버 cloudhadoop : Cloud Hadoop 서버'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/port/add:
    post:
      operationId: AddPortPlugin
      summary: AddPortPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-addportplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - portList
                - instanceNo
              properties:
                portList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 포트 번호 목록
                instanceNo:
                  type: string
                  description: 서버 인스턴스 번호 1개만 입력 가능
                type:
                  type: string
                  description: '서버 유형 vpcserver (기본값) | classicserver | cloudhadoop vpcserver : VPC 환경의 서버 classicserver : Classic 환경의 서버 cloudhadoop : Cloud Hadoop 서버'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/port/instanceNo/{instanceNo}:
    get:
      operationId: GetPortPlugin
      summary: GetPortPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getportplugin
      parameters:
        - name: instanceNo
          in: path
          required: true
          schema:
            type: string
          description: 서버 인스턴스 번호 1개만 입력 가능
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  instanceNo:
                    type: string
                    description: 서버 인스턴스 번호
                  nrn:
                    type: string
                    description: 네이버 클라우드 플랫폼 리소스 식별 값
                  portList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 포트 번호 목록
                  type:
                    type: string
                    description: 서버 유형
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/port/remove:
    post:
      operationId: RemovePortPlugin
      summary: RemovePortPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-removeportplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - portList
                - instanceNo
              properties:
                portList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 포트 번호 목록 2개 이상 삭제 시 쉼표(,)로 구분
                instanceNo:
                  type: string
                  description: 서버 인스턴스 번호 GetAllPortPlugin 참조 1개만 입력 가능
                type:
                  type: string
                  description: '서버 유형 vpcserver (기본값) | classicserver | cloudhadoop vpcserver : VPC 환경의 서버 classicserver : Classic 환경의 서버 cloudhadoop : Cloud Hadoop 서버'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/process:
    get:
      operationId: GetAllProcessPlugin
      summary: GetAllProcessPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-getallprocessplugin
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  configList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 프로세스 이름 목록
                  instanceNo:
                    type: string
                    description: 서버 인스턴스 번호
                  nrn:
                    type: string
                    description: 네이버 클라우드 플랫폼 리소스 식별 값
                  type:
                    type: string
                    description: 서버 유형
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: UpdateProcessPlugin
      summary: UpdateProcessPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-updateprocessplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - configList
                - instanceNo
              properties:
                configList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 프로세스 이름 목록 별표(*)를 사용하여 설정 가능 특정 문자열 포함<예시> *abc* 시작 문자열 지정 <예시> abc*
                instanceNo:
                  type: string
                  description: 서버 인스턴스 번호 GetAllProcessPlugin 참조 1개만 입력 가능
                type:
                  type: string
                  description: '서버 유형 vpcserver (기본값) | classicserver | cloudhadoop vpcserver : VPC 환경의 서버 classicserver : Classic 환경의 서버 cloudhadoop : Cloud Hadoop 서버'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cw_server/real/api/plugin/process/add:
    post:
      operationId: AddProcessPlugin
      summary: AddProcessPlugin
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - cloud-insight

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-cloudinsight-addprocessplugin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - configList
                - instanceNo
              properties:
                configList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
[...]
