openapi: 3.0.3
info:
  title: data-stream
  description: data-stream
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn:

    productName: CloudDataStreamingService
    resource_types:
      - Cluster
      - Server
      - ConfigGroup

servers:
  - url: https://datastream.apigw.ntruss.com/api/v1
    description: data-stream 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /api/produce:
    post:
      operationId: PostProdUce
      summary: 메시지 전송
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-postproduce
      parameters:
        - name: topic
          in: query
          required: true
          schema:
            type: string
          description: 토픽 이름 토픽 목록 조회 참조
        - name: key
          in: query
          required: true
          schema:
            type: string
          description: 메시지 키
        - name: value
          in: query
          required: true
          schema:
            type: string
          description: 메시지 값(내용)
        - name: partition
          in: query
          required: false
          schema:
            type: number
          description: 메시지 전송할 토픽 파티션 인덱스 미입력 시 임의의 파티션으로 전송
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - detail
                properties:
                  status:
                    type: number
                    description: 응답 상태 코드
                  detail:
                    type: string
                    description: 응답 상태 코드 메시지
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topic-prefix:
    get:
      operationId: GetTopicprefix
      summary: 토픽 이름 접두사 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-gettopicprefix
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  prefix:
                    type: string
                    description: 토픽 이름 접두사
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics:
    get:
      operationId: GetTopic
      summary: 토픽 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-gettopic
      parameters:
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
          description: '정렬 기준 createdDate (기본값) | topicName createdDate : 생성 일시 topicName : 토픽 이름'
        - name: descending
          in: query
          required: false
          schema:
            type: boolean
          description: '결과 값 정렬 기준으로 내림차순 여부 true (기본값) | false true : 내림차순 false : 오름차순'
        - name: searchText
          in: query
          required: false
          schema:
            type: string
          description: 검색 문자열 토픽 이름, 토픽 설명으로 검색
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '토픽 목록: list'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostTopic
      summary: 토픽 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-posttopic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: "토픽 이름 접두사-이름 형태로 입력 영문 소문자, 숫자, 특수 문자 '-'를 조합하여 접두사 포함 200자 이내로 입력 토픽 이름 접두사 조회 참조 <예시> 토픽 이름 접두사가 h4j6l- , 설정할 이름이 ds001 인 경우: h4j6l-ds001 로 입력"
                description:
                  type: string
                  description: 토픽 설명 (최대 200자)
                partitions:
                  type: number
                  description: '토픽 파티션 수 1~16 (기본값: 1)'
                retentionMs:
                  type: number
                  description: '토픽 파티션 메시지 보존 기간(밀리초) 3600000~1296000000 (기본값: 86400000)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  topicId:
                    type: string
                    description: 토픽 아이디
                  topicName:
                    type: string
                    description: 토픽 이름
                  description:
                    type: string
                    description: 토픽 설명
                  partitions:
                    type: number
                    description: 토픽 파티션 수
                  retentionMs:
                    type: number
                    description: 토픽 파티션 메시지 보존 기간(밀리초)
                  status:
                    type: string
                    description: '토픽 상태 CREATING | CREATED CREATING : 토픽 생성 중 CREATED : 토픽 생성 완료(활성)'
                  tcpEndpoint:
                    type: string
                    description: TCP 엔드포인트
                  createdDate:
                    type: string
                    description: 토픽 생성 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
                  updatedDate:
                    type: string
                    description: 토픽 수정 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}:
    get:
      operationId: GetTopicId
      summary: 토픽 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-gettopicid
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  topicId:
                    type: string
                    description: 토픽 아이디
                  topicName:
                    type: string
                    description: 토픽 이름
                  description:
                    type: string
                    description: 토픽 설명
                  partitions:
                    type: number
                    description: 토픽 파티션 수
                  retentionMs:
                    type: number
                    description: 토픽 파티션 메시지 보존 기간(밀리초)
                  status:
                    type: string
                    description: '토픽 상태 CREATING | CREATED | PENDING_DELETION | DELETE_ERROR | DELETED | UNKNOWN CREATING : 토픽 생성 중 CREATED : 토픽 생성 완료(활성) PENDING_DELETION : 삭제 대기 중 DELETE_ERROR : 삭제 오류 DELETED : 삭제 완료 UNKNOWN : 알 수 없음'
                  tcpEndpoint:
                    type: string
                    description: TCP 엔드포인트
                  createdDate:
                    type: string
                    description: 토픽 생성 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
                  updatedDate:
                    type: string
                    description: 토픽 수정 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: PutTopicId
      summary: 토픽 수정
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-puttopicid
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - description
                - partitions
                - retentionMs
              properties:
                description:
                  type: string
                  description: 토픽 설명 (최대 200자)
                partitions:
                  type: number
                  description: '토픽 파티션 수 1~16 (기본값: 1) 생성 시 설정한 개수에서 줄이는 것은 불가능하고 추가만 가능'
                retentionMs:
                  type: number
                  description: '토픽 파티션 메시지 보존 기간(밀리초) 3600000~1296000000 (기본값: 86400000)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  topicId:
                    type: string
                    description: 토픽 아이디
                  topicName:
                    type: string
                    description: 토픽 이름
                  description:
                    type: string
                    description: 토픽 설명
                  partitions:
                    type: number
                    description: 토픽 파티션 개수
                  retentionMs:
                    type: number
                    description: 토픽 파티션 데이터 보존 기간(밀리초)
                  status:
                    type: string
                    description: 토픽 상태 CREATED (유효 값) 토픽 생성 완료, 정상 작동(활성)
                  tcpEndpoint:
                    type: string
                    description: TCP 엔드포인트
                  createdDate:
                    type: string
                    description: 토픽 생성 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
                  updatedDate:
                    type: string
                    description: 토픽 업데이트 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteTopicId
      summary: 토픽 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-deletetopicid
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  'true':
                    type: string
                    description: 요청 성공
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}/connectors:
    get:
      operationId: GetExport
      summary: 커넥터 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-getexport
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 커넥터 아이디
                  topicId:
                    type: string
                    description: 토픽 아이디
                  status:
                    type: string
                    description: '커넥터 상태 RUNNING | FAILED RUNNING : 정상 작동(활성) FAILED : 작동 오류 커넥터 설정 후 버킷을 삭제한 경우 커넥터 설정 후 버킷에 접근 제어를 설정하여 접근이 불가능한 경우 커넥터 설정 후 해당 버킷을 잠금 버킷으로 설정한 경우'
                  connectorName:
                    type: string
                    description: 커넥터 이름
                  description:
                    type: string
                    description: 커넥터 설명
                  consumerSpec:
                    type: string
                    description: '컨슈머 사양(커넥터 처리 성능) SMALL | MEDIUM SMALL : 컨테이너 1대로 파티션별 초당 최대 250Kbyte 지원 MEDIUM : 컨테이너 2대로 파티션별 초당 최대 500Kbyte 지원'
                  exportType:
                    type: string
                    description: 커넥터 유형 OBJECT_STORAGE (유효값)
                  location:
                    type: string
                    description: 저장 경로
                  locationWithTopicName:
                    type: string
                    description: 토픽 이름 디렉터리가 포함된 저장 경로
                  objectStorageLocation:
                    type: string
                    description: Object Storage 경로
                  includeTopicInPath:
                    type: boolean
                    description: '저장 경로에 토픽 이름 디렉터리 생성 여부 true | false true : 생성 false : 생성 안 함'
                  dateFormat:
                    type: string
                    description: '하위 저장 경로에 날짜 포맷 사용 여부 NONE | YEAR | MONTH | DAY | HOUR NONE : 사용 안 함 YEAR : year={yyyy}/ 사용 MONTH : year={yyyy}/month={MM}/ 사용 DAY : year={yyyy}/month={MM}/day={dd}/ 사용 HOUR : year={yyyy}/month={MM}/day={dd}/hour={HH}/ 사용'
                  roleNrn:
                    type: string
                    description: 커넥터 접근 시 사용되는 Data Stream 서비스의 역할(Role)에 대한 리소스 식별 값
                  groupId:
                    type: string
                    description: 커넥터 그룹 아이디
                  createdDate:
                    type: string
                    description: 커넥터 생성 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
                  failedMessage:
                    type: string
                    description: 커넥터의 상태가 실패 FAILED 인 경우, 실패에 대한 원인
                  failedDate:
                    type: string
                    description: 커넥터의 상태가 실패 FAILED 인 경우, 실패 상태로 변경된 일시
                  flushInterval:
                    type: number
                    description: '저장소에 메시지 기록 시 파일 생성 주기(분) 1~10 (기본값: 10)'
                  flushCount:
                    type: number
                    description: '저장소에 메시지 기록 시 저장 메시지 수(개) 5,000~50,000 (기본값: 5,000)'
                  schemaType:
                    type: string
                    description: '메시지 Value의 직렬화 방식 STRING , JSON , AVRO , PROTOBUF (기본값: STRING )'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostExport
      summary: 커넥터 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-postexport
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consumerSpec
                - exportType
                - location
                - includeTopicInPath
                - dateFormat
                - roleNrn
              properties:
                description:
                  type: string
                  description: 커넥터 설명 (최대 200자)
                consumerSpec:
                  type: string
                  description: '컨슈머 사양(커넥터 처리 성능) SMALL | MEDIUM SMALL : 컨테이너 1대로 파티션별 초당 최대 250Kbyte 지원 MEDIUM : 컨테이너 2대로 파티션별 초당 최대 500Kbyte 지원'
                exportType:
                  type: string
                  description: 커넥터 유형 OBJECT_STORAGE (유효값)
                location:
                  type: string
                  description: 저장 경로 s3a://{bucket}/{path} 형태로 입력
                includeTopicInPath:
                  type: boolean
                  description: '저장 경로에 토픽 이름 디렉터리 생성 여부 true | false true : 생성 false : 생성 안 함'
                dateFormat:
                  type: string
                  description: '하위 저장 경로에 날짜 포맷 사용 여부 NONE | YEAR | MONTH | DAY | HOUR NONE : 사용 안 함 YEAR : year={yyyy}/ 사용 MONTH : year={yyyy}/month={MM}/ 사용 DAY : year={yyyy}/month={MM}/day={dd}/ 사용 HOUR : year={yyyy}/month={MM}/day={dd}/hour={HH}/ 사용'
                roleNrn:
                  type: string
                  description: 커넥터 접근 시 사용되는 Data Stream 서비스의 역할(Role)에 대한 리소스 식별 값
                flushInterval:
                  type: number
                  description: '저장소에 메시지 기록 시 파일 생성 주기(분) 1~10 (기본값: 10)'
                flushCount:
                  type: number
                  description: '저장소에 메시지 기록 시 저장 메시지 수(개) 5,000~50,000 (기본값: 5,000)'
                schemaType:
                  type: string
                  description: '메시지 Value의 직렬화 방식 STRING , JSON , AVRO , PROTOBUF (기본값: STRING )'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 커넥터 아이디
                  topicId:
                    type: string
                    description: 토픽 아이디
                  status:
                    type: string
                    description: '커넥터 상태 RUNNING | FAILED RUNNING : 정상 작동(활성) FAILED : 작동 오류 커넥터 설정 후 버킷을 삭제한 경우 커넥터 설정 후 버킷에 접근 제어를 설정하여 접근이 불가능한 경우 커넥터 설정 후 해당 버킷을 잠금 버킷으로 설정한 경우'
                  connectorName:
                    type: string
                    description: 커넥터 이름
                  description:
                    type: string
                    description: 커넥터 설명
                  consumerSpec:
                    type: string
                    description: '컨슈머 사양(커넥터 처리 성능) SMALL | MEDIUM SMALL : 컨테이너 1대로 파티션별 초당 최대 250Kbyte 지원 MEDIUM : 컨테이너 2대로 파티션별 초당 최대 500Kbyte 지원'
                  exportType:
                    type: string
                    description: 커넥터 유형 OBJECT_STORAGE (유효값)
                  location:
                    type: string
                    description: 저장 경로
                  locationWithTopicName:
                    type: string
                    description: 토픽 이름 디렉터리가 포함된 저장 경로
                  objectStorageLocation:
                    type: string
                    description: Object Storage 경로
                  includeTopicInPath:
                    type: boolean
                    description: '저장 경로에 토픽 이름 디렉터리 생성 여부 true | false true : 생성 false : 생성 안 함'
                  dateFormat:
                    type: string
                    description: '하위 저장 경로에 날짜 포맷 사용 여부 NONE | YEAR | MONTH | DAY | HOUR NONE : 사용 안 함 YEAR : year={yyyy}/ 사용 MONTH : year={yyyy}/month={MM}/ 사용 DAY : year={yyyy}/month={MM}/day={dd}/ 사용 HOUR : year={yyyy}/month={MM}/day={dd}/hour={HH}/ 사용'
                  roleNrn:
                    type: string
                    description: 커넥터 접근 시 사용되는 Data Stream 서비스의 역할(Role)에 대한 리소스 식별 값
                  groupId:
                    type: string
                    description: 커넥터 그룹 아이디
                  createdDate:
                    type: string
                    description: 커넥터 생성 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
                  flushInterval:
                    type: number
                    description: '저장소에 메시지 기록 시 파일 생성 주기(분) 1~10 (기본값: 10)'
                  flushCount:
                    type: number
                    description: '저장소에 메시지 기록 시 저장 메시지 수(개) 5,000~50,000 (기본값: 5,000)'
                  schemaType:
                    type: string
                    description: '메시지 Value의 직렬화 방식 STRING , JSON , AVRO , PROTOBUF (기본값: STRING )'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}/connectors/{connectorId}:
    put:
      operationId: PutExportId
      summary: 커넥터 수정
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-putexportid
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
          description: 커넥터 아이디 커넥터 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consumerSpec
                - exportType
                - location
                - includeTopicInPath
                - dateFormat
                - roleNrn
              properties:
                description:
                  type: string
                  description: 커넥터 설명 (최대 200자)
                consumerSpec:
                  type: string
                  description: '컨슈머 사양(커넥터 처리 성능) SMALL | MEDIUM SMALL : 컨테이너 1대로 파티션별 초당 최대 250Kbyte 지원 MEDIUM : 컨테이너 2대로 파티션별 초당 최대 500Kbyte 지원'
                exportType:
                  type: string
                  description: 커넥터 유형 OBJECT_STORAGE (유효값)
                location:
                  type: string
                  description: 저장 경로 s3a://{bucket}/{path} 형태로 입력
                includeTopicInPath:
                  type: boolean
                  description: '저장 경로에 토픽 이름 디렉터리 생성 여부 true | false true : 생성 false : 생성 안 함'
                dateFormat:
                  type: string
                  description: '하위 저장 경로에 날짜 포맷 사용 여부 NONE | YEAR | MONTH | DAY | HOUR NONE : 사용 안 함 YEAR : year={yyyy}/ 사용 MONTH : year={yyyy}/month={MM}/ 사용 DAY : year={yyyy}/month={MM}/day={dd}/ 사용 HOUR : year={yyyy}/month={MM}/day={dd}/hour={HH}/ 사용'
                roleNrn:
                  type: string
                  description: 커넥터 접근 시 사용되는 Data Stream 서비스의 역할(Role)에 대한 리소스 식별 값
                flushInterval:
                  type: number
                  description: '저장소에 메시지 기록 시 파일 생성 주기(분) 1~10 (기본값: 10)'
                flushCount:
                  type: number
                  description: '저장소에 메시지 기록 시 저장 메시지 수(개) 5,000~50,000 (기본값: 5,000)'
                schemaType:
                  type: string
                  description: '메시지 Value의 직렬화 방식 STRING , JSON , AVRO , PROTOBUF (기본값: STRING )'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: 커넥터 아이디
                  topicId:
                    type: string
                    description: 토픽 아이디
                  status:
                    type: string
                    description: '커넥터 상태 RUNNING | FAILED RUNNING : 정상 작동(활성) FAILED : 작동 오류 커넥터 설정 후 버킷을 삭제한 경우 커넥터 설정 후 버킷에 접근 제어를 설정하여 접근이 불가능한 경우 커넥터 설정 후 해당 버킷을 잠금 버킷으로 설정한 경우'
                  connectorName:
                    type: string
                    description: 커넥터 이름
                  description:
                    type: string
                    description: 커넥터 설명
                  consumerSpec:
                    type: string
                    description: '컨슈머 사양(커넥터 처리 성능) SMALL | MEDIUM SMALL : 컨테이너 1대로 파티션별 초당 최대 250Kbyte 지원 MEDIUM : 컨테이너 2대로 파티션별 초당 최대 500Kbyte 지원'
                  exportType:
                    type: string
                    description: 커넥터 유형 OBJECT_STORAGE (유효값)
                  location:
                    type: string
                    description: 저장 경로
                  locationWithTopicName:
                    type: string
                    description: 토픽 이름 디렉터리가 포함된 저장 경로
                  objectStorageLocation:
                    type: string
                    description: Object Storage 경로
                  includeTopicInPath:
                    type: boolean
                    description: '저장 경로에 토픽 이름 디렉터리 생성 여부 true | false true : 생성 false : 생성 안 함'
                  dateFormat:
                    type: string
                    description: '하위 저장 경로에 날짜 포맷 사용 여부 NONE | YEAR | MONTH | DAY | HOUR NONE : 사용 안 함 YEAR : year={yyyy}/ 사용 MONTH : year={yyyy}/month={MM}/ 사용 DAY : year={yyyy}/month={MM}/day={dd}/ 사용 HOUR : year={yyyy}/month={MM}/day={dd}/hour={HH}/ 사용'
                  roleNrn:
                    type: string
                    description: 커넥터 접근 시 사용되는 Data Stream 서비스의 역할(Role)에 대한 리소스 식별 값
                  groupId:
                    type: string
                    description: 커넥터의 컨슈머 그룹 아이디
                  createdDate:
                    type: string
                    description: 커넥터 생성 일시 ISO 8601 형식 YYYY-MM-DDThh:mm:ssZ
                  flushInterval:
                    type: number
                    description: '저장소에 메시지 기록 시 파일 생성 주기(분) 1~10 (기본값: 10)'
                  flushCount:
                    type: number
                    description: '저장소에 메시지 기록 시 저장 메시지 수(개) 5,000~50,000 (기본값: 5,000)'
                  schemaType:
                    type: string
                    description: '메시지 Value의 직렬화 방식 STRING , JSON , AVRO , PROTOBUF (기본값: STRING )'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteExportId
      summary: 커넥터 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-deleteexportid
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
          description: 커넥터 아이디 커넥터 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}/registry-config:
    get:
      operationId: GetRegistryConfig
      summary: 스키마 레지스트리 설정 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-getregistryconfig
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  compatibility:
                    type: object
                    additionalProperties: true
                    description: 스키마 호환성 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateRegistryConfig
      summary: 스키마 레지스트리 설정 변경
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-updateregistryconfig
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - compatibility
              properties:
                compatibility:
                  type: boolean
                  description: '스키마 호환성 활성화 여부 true : 호환성 검사 활성화 (BACKWARD) false : 호환성 검사 비활성화 (NONE)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}/registry-info:
    get:
      operationId: GetRegistryInfo
      summary: 스키마 레지스트리 정보 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-getregistryinfo
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type: string
                    description: 스키마 레지스트리 엔드포인트 URL
                  isModifiable:
                    type: boolean
                    description: '스키마 설정 변경 가능 여부 true : 스키마가 등록되어 있어 호환성 설정 등의 스키마 설정 변경 가능 false : 등록된 스키마가 없어 스키마 설정 변경 불가능'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}/schemas:
    get:
      operationId: GetSchemaS
      summary: 스키마 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-getschemas
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
        - name: schemaType
          in: query
          required: false
          schema:
            type: string
          description: 스키마 타입 AVRO | JSON | PROTOBUF 미지정 시 모든 스키마 타입 조회
        - name: schemaId
          in: query
          required: false
          schema:
            type: number
          description: 스키마 레지스트리 아이디 특정 스키마 레지스트리 아이디로 필터링
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: '페이지 번호 (0부터 시작, 기본값: 0)'
        - name: size
          in: query
          required: false
          schema:
            type: number
          description: '페이지 크기 (기본값: 10)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  schemas:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 스키마 목록
                  totalCount:
                    type: number
                    description: 전체 스키마 개수
                  pageNo:
                    type: number
                    description: 현재 페이지 번호
                  pageSize:
                    type: number
                    description: 페이지 크기
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CreateSchemaS
      summary: 스키마 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-createschemas
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - schemaType
                - schema
              properties:
                schemaType:
                  type: string
                  description: '스키마 타입 AVRO | JSON | PROTOBUF AVRO : Apache Avro 스키마 JSON : JSON Schema PROTOBUF : Protocol Buffers 스키마'
                schema:
                  type: string
                  description: 스키마 정의 선택한 스키마 타입에 맞는 형식으로 작성 JSON 문자열 형태로 전달
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}/schemas/validate/compatibility/latest:
    post:
      operationId: PostSchemaSVersionsLatest
      summary: 스키마 호환성 검사
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-postschemasversionslatest
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - schemaType
                - schema
              properties:
                schemaType:
                  type: string
                  description: '스키마 타입 AVRO | JSON | PROTOBUF AVRO : Apache Avro 스키마 JSON : JSON Schema PROTOBUF : Protocol Buffers 스키마'
                schema:
                  type: string
                  description: 스키마 정의 선택한 스키마 타입에 맞는 형식으로 작성 JSON 문자열 형태로 전달
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_compatible:
                    type: boolean
                    description: '호환성 여부 true : 호환됨 false : 호환되지 않음'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /topics/{topicId}/schemas/{resourceId}:
    get:
      operationId: GetSchemaId
      summary: 스키마 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-getschemaid
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
          description: 스키마 리소스 아이디 스키마 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  schema:
                    type: string
                    description: 스키마 정의 JSON 문자열 형태로 반환 실제 스키마의 내용
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteSchemaS
      summary: 스키마 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-stream

      x-ncloud-source: https://api.ncloud-docs.com/docs/datastream-deleteschemas
      parameters:
        - name: topicId
          in: path
          required: true
          schema:
            type: string
          description: 토픽 아이디 토픽 목록 조회 참조
        - name: resourceId
          in: path
          required: true
          schema:
            type: string
          description: 스키마 리소스 아이디 스키마 목록 조회 응답의 resourceId 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    SuccessResponse:
      type: object
      description: Trivial success envelope — returned by mutations that don't carry a body.
      required:
        - success
      properties:
        success:
          type: boolean
          description: API 호출 성공 여부
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
