openapi: 3.0.3
info:
  title: Data Flow
  description: Data Flow
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn:

    productName: DataFlow
    resource_types:
      - Workflow
      - Trigger
      - Job

servers:
  - url: https://dataflow.apigw.ntruss.com/api/v1
    description: data-flow 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /jobs:
    get:
      operationId: GetJobs
      summary: getJobs
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getjobs
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: 작업 이름
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: '작업 상태 RUNNABLE | RUNNING | DELETED | UNKNOWN | DRAFT | STOPPED | EDITING RUNNABLE : 작업 실행 가능 RUNNING : 작업 실행 중 DELETED : 작업 삭제 중 또는 삭제 완료 UNKNOWN : 기타 DRAFT : 작업 편집 미완료 STOPPED : 작업 정지 중 EDITING : 작업 수정 중(유효성 검증 필요)'
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 0~N (기본값: 0)'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 출력 수 0~N (기본값: 1000)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '작업 목록: list'
                  count:
                    type: integer
                    description: 응답 결과 수
                  page:
                    type: integer
                    description: 페이지 번호
                  limit:
                    type: integer
                    description: 페이지 출력 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CreateJob
      summary: createJob
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-createjob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - nodes
              properties:
                name:
                  type: string
                  description: 작업 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~100자 이내로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                nodes:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 작업 노드 정보 ETLJobNode 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: 작업 아이디
                  name:
                    type: string
                    description: 작업 이름
                  type:
                    type: string
                    description: 작업 유형 DATAFLOW (기본값)
                  status:
                    type: string
                    description: '작업 상태 RUNNABLE | RUNNING | DELETED | UNKNOWN | DRAFT | STOPPED | EDITING RUNNABLE : 작업 실행 가능 RUNNING : 작업 실행 중 DELETED : 작업 삭제 중 또는 삭제 완료 UNKNOWN : 기타 DRAFT : 작업 편집 미완료 STOPPED : 작업 정지 중 EDITING : 작업 수정 중(유효성 검증 필요)'
                  nodes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 작업 노드 정보 ETLJobNode 참조
                  runCondition:
                    type: object
                    additionalProperties: true
                    description: 작업 실행 옵션
                  createdDate:
                    type: string
                    description: 작업 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 작업 수정 일시 ISO 8601 형식(UTC+9 포함)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /jobs/verify:
    post:
      operationId: VerifyJob
      summary: verifyJob
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-verifyjob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - nodes
              properties:
                name:
                  type: string
                  description: 작업 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~100자 이내로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                nodes:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 작업 노드 정보 ETLJobNode 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /jobs/{jobId}:
    get:
      operationId: GetJobById
      summary: getJobById
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getjobbyid
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: 작업 아이디 getJobs 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: 작업 아이디
                  name:
                    type: string
                    description: 작업 이름
                  type:
                    type: string
                    description: 작업 유형 DATAFLOW (기본값)
                  status:
                    type: string
                    description: '작업 상태 RUNNABLE | RUNNING | DELETED | UNKNOWN | DRAFT | STOPPED | EDITING RUNNABLE : 작업 실행 가능 RUNNING : 작업 실행 중 DELETED : 작업 삭제 중 또는 삭제 완료 UNKNOWN : 기타 DRAFT : 작업 편집 미완료 STOPPED : 작업 정지 중 EDITING : 작업 수정 중(유효성 검증 필요)'
                  lastExecutionStatus:
                    type: string
                    description: '마지막 작업 실행 상태 READY | RUNNING | COMPLETED | FAILED | CANCELED READY : 대기 중 RUNNING : 실행 중 COMPLETED : 완료 FAILED : 실패 CANCELED : 취소'
                  nodes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 작업 노드 정보 ETLJobNode 참조
                  runCondition:
                    type: object
                    additionalProperties: true
                    description: 작업 실행 옵션
                  createdDate:
                    type: string
                    description: 작업 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 작업 수정 일시 ISO 8601 형식(UTC+9 포함)
                  lastExecutionDate:
                    type: string
                    description: 마지막 작업 실행 일시 ISO 8601 형식(UTC+9 포함)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateJob
      summary: updateJob
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-updatejob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: 작업 아이디 getJobs 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
              properties:
                name:
                  type: string
                  description: 작업 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~100자 이내로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                isTemp:
                  type: boolean
                  description: '임시 저장 여부 true | false true : 임시 저장 false : 즉시 완료(임시 저장 안 함)'
                type:
                  type: string
                  description: 작업 유형 DATAFLOW (기본값)
                nodes:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 작업 노드 정보 ETLJobNode 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: 작업 아이디
                  name:
                    type: string
                    description: 작업 이름
                  type:
                    type: string
                    description: 작업 유형 DATAFLOW (기본값)
                  status:
                    type: string
                    description: '작업 상태 RUNNABLE | RUNNING | DELETED | UNKNOWN | DRAFT | STOPPED | EDITING RUNNABLE : 작업 실행 가능 RUNNING : 작업 실행 중 DELETED : 작업 삭제 중 또는 삭제 완료 UNKNOWN : 기타 DRAFT : 작업 편집 미완료 STOPPED : 작업 정지 중 EDITING : 작업 수정 중(유효성 검증 필요)'
                  nodes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 작업 노드 정보 ETLJobNode 참조
                  runCondition:
                    type: object
                    additionalProperties: true
                    description: 작업 실행 옵션
                  createdDate:
                    type: string
                    description: 작업 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 작업 수정 일시 ISO 8601 형식(UTC+9 포함)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteJob
      summary: deleteJob
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-deletejob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: 작업 아이디 getJobs 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /jobs/{jobId}/executions:
    get:
      operationId: GetJobExecutions
      summary: getJobExecutions
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getjobexecutions
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: 작업 아이디 getJobs 참조
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 0~N (기본값: 0)'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 출력 수 0~N (기본값: 1000)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '작업 실행 목록: list'
                  count:
                    type: integer
                    description: 응답 결과 수
                  page:
                    type: integer
                    description: 페이지 번호
                  limit:
                    type: integer
                    description: 페이지 출력 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ExecuteJob
      summary: executeJob
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-executejob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: 작업 아이디 getJobs 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jobCondition
              properties:
                triggerId:
                  type: string
                  description: 트리거 아이디 getTriggers 참조
                workflowId:
                  type: string
                  description: 워크플로 아이디 getWorkflows 참조
                jobCondition:
                  type: object
                  additionalProperties: true
                  description: 작업 실행 옵션 정보
                parameters:
                  type: object
                  additionalProperties: true
                  description: 작업 실행 파라미터
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobExecutionId:
                    type: string
                    description: 작업 실행 아이디
                  jobId:
                    type: string
                    description: 작업 아이디
                  jobCondition:
                    type: object
                    additionalProperties: true
                    description: 작업 실행 옵션 정보
                  status:
                    type: string
                    description: '마지막 작업 실행 상태 READY | RUNNING | COMPLETED | FAILED | CANCELED READY : 대기 중 RUNNING : 실행 중 COMPLETED : 완료 FAILED : 실패 CANCELED : 취소'
                  startDate:
                    type: string
                    description: 작업 실행 일시 ISO 8601 형식(UTC+9 포함)
                  createdDate:
                    type: string
                    description: 작업 생성 일시 ISO 8601 형식(UTC+9 포함)
                  runningTime:
                    type: integer
                    description: 작업 실행 시간(분)
                  parsedParameters:
                    type: object
                    additionalProperties: true
                    description: 파싱된 작업 실행 파라미터
                  type:
                    type: string
                    description: 작업 유형 JOB (기본값)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateJobExecuteConfig
      summary: updateJobExecuteConfig
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-updatejobexecuteconfig
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: 작업 아이디 getJobs 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jobCondition
              properties:
                jobCondition:
                  type: object
                  additionalProperties: true
                  description: 작업 실행 옵션 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                    description: 작업 아이디
                  name:
                    type: string
                    description: 작업 이름
                  type:
                    type: string
                    description: 작업 유형 DATAFLOW (기본값)
                  status:
                    type: string
                    description: '작업 상태 RUNNABLE | RUNNING | DELETED | UNKNOWN | DRAFT | STOPPED | EDITING RUNNABLE : 작업 실행 가능 RUNNING : 작업 실행 중 DELETED : 작업 삭제 중 또는 삭제 완료 UNKNOWN : 기타 DRAFT : 작업 편집 미완료 STOPPED : 작업 정지 중 EDITING : 작업 수정 중(유효성 검증 필요)'
                  nodes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 작업 노드 정보 ETLJobNode 참조
                  runCondition:
                    type: object
                    additionalProperties: true
                    description: 작업 실행 옵션
                  createdDate:
                    type: string
                    description: 작업 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 작업 수정 일시 ISO 8601 형식(UTC+9 포함)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /jobs/{jobId}/executions/{executionId}:
    get:
      operationId: GetJobExecutionbyId
      summary: getJobExecutionById
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getjobexecutionbyid
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
          description: 작업 아이디 getJobs 참조
        - name: executionId
          in: path
          required: true
          schema:
            type: string
          description: 작업 실행 아이디 getJobExecutions 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobExecutionId:
                    type: string
                    description: 작업 실행 아이디
                  jobId:
                    type: string
                    description: 작업 아이디
                  jobCondition:
                    type: object
                    additionalProperties: true
                    description: 작업 실행 옵션 정보
                  status:
                    type: string
                    description: '마지막 작업 실행 상태 READY | RUNNING | COMPLETED | FAILED | CANCELED READY : 대기 중 RUNNING : 실행 중 COMPLETED : 완료 FAILED : 실패 CANCELED : 취소'
                  startDate:
                    type: string
                    description: 작업 실행 일시 ISO 8601 형식(UTC+9 포함)
                  endDate:
                    type: string
                    description: 작업 종료 일시 ISO 8601 형식(UTC+9 포함)
                  createdDate:
                    type: string
                    description: 작업 생성 일시 ISO 8601 형식(UTC+9 포함)
                  triggerId:
                    type: string
                    description: 트리거 아이디
                  triggerName:
                    type: string
                    description: 트리거 이름
                  jobName:
                    type: string
                    description: 작업 이름
                  waitingTime:
                    type: integer
                    description: 작업 대기 시간(분)
                  executorNum:
                    type: integer
                    description: 작업 워커 수
                  runningTime:
                    type: integer
                    description: 작업 실행 시간(분)
                  parsedParameters:
                    type: object
                    additionalProperties: true
                    description: 파싱된 작업 실행 파라미터
                  type:
                    type: string
                    description: 작업 유형 JOB | WORKFLOW
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /stats/executions:
    get:
      operationId: GetExecutionResult
      summary: getExecutionResult
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getexecutionresult
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일시 ISO 8601 형식
        - name: endDate
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일시 ISO 8601 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: 총 실행 횟수
                  completedCount:
                    type: integer
                    description: 성공 횟수
                  failedCount:
                    type: integer
                    description: 실패 횟수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /stats/executions-interval:
    get:
      operationId: GetExecutionCount
      summary: getExecutionInterval
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getexecutioncount
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일시 ISO 8601 형식
        - name: endDate
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일시 ISO 8601 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '응답 결과: result 조회 기간을 일별로 구분하여, 당일 00:00:01 시각부터 다음 날 00:00:00 시각까지 조회한 결과를 차례대로 표시'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /stats/executions-times:
    get:
      operationId: GetExecutionTimeS
      summary: getExecutionTimes
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getexecutiontimes
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: string
          description: 조회 시작 일시 ISO 8601 형식
        - name: endDate
          in: query
          required: true
          schema:
            type: string
          description: 조회 종료 일시 ISO 8601 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '응답 결과: result'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /triggers:
    get:
      operationId: GetTriggerS
      summary: getTriggers
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-gettriggers
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: 트리거 이름
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 0~N (기본값: 0)'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 출력 수 0~N (기본값: 1000)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '트리거 목록: list'
                  count:
                    type: integer
                    description: 응답 결과 수
                  page:
                    type: integer
                    description: 페이지 번호
                  limit:
                    type: integer
                    description: 페이지 출력 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CreateTrigger
      summary: createTrigger
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-createtrigger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - triggerRule
              properties:
                name:
                  type: string
                  description: 작업 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~100자 이내로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                type:
                  type: string
                  description: '트리거 유형 SCHEDULED | EVENT | NONE SCHEDULED : 주기 또는 특정일 실행 EVENT : 특정 이벤트 발생 시 실행(추후 지원 예정) NONE : 트리거 미설정(수동 실행)'
                triggerRule:
                  type: object
                  additionalProperties: true
                  description: 트리거 실행 옵션
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  triggerId:
                    type: string
                    description: 트리거 아이디
                  name:
                    type: string
                    description: 트리거 이름
                  type:
                    type: string
                    description: '트리거 실행 옵션 SCHEDULED | NONE SCHEDULED : 주기 또는 특정일 실행 NONE : 실행 옵션 없음'
                  triggerRule:
                    type: object
                    additionalProperties: true
                    description: 트리거 실행 옵션 정보
                  createdDate:
                    type: string
                    description: 트리거 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 트리거 수정 일시 ISO 8601 형식(UTC+9 포함)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /triggers/{triggerId}:
    get:
      operationId: GetTriggerById
      summary: getTriggerById
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-gettriggerbyid
      parameters:
        - name: triggerId
          in: path
          required: true
          schema:
            type: string
          description: 트리거 아이디 getTriggers 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  triggerId:
                    type: string
                    description: 트리거 아이디
                  name:
                    type: string
                    description: 트리거 이름
                  type:
                    type: string
                    description: '트리거 실행 옵션 SCHEDULED | NONE SCHEDULED : 주기 또는 특정일 실행 NONE : 실행 옵션 없음'
                  triggerRule:
                    type: object
                    additionalProperties: true
                    description: 트리거 실행 옵션 정보
                  createdDate:
                    type: string
                    description: 트리거 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 트리거 수정 일시 ISO 8601 형식(UTC+9 포함)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteTrigger
      summary: deleteTrigger
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-deletetrigger
      parameters:
        - name: triggerId
          in: path
          required: true
          schema:
            type: string
          description: 트리거 아이디 getTriggers 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /workflows:
    get:
      operationId: GetWorkFlowS
      summary: getWorkflows
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getworkflows
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 0~N (기본값: 0)'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 출력 수 0~N (기본값: 1000)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '워크플로 목록: list'
                  count:
                    type: integer
                    description: 응답 결과 수
                  page:
                    type: integer
                    description: 페이지 번호
                  limit:
                    type: integer
                    description: 페이지 출력 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CreateWorkFlow
      summary: createWorkflow
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-createworkflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - nodes
                - isTemp
                - id
                - type
                - parentNodeIds
                - jobCondition
              properties:
                name:
                  type: string
                  description: 워크플로 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~100자 이내로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                nodes:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '노드 정보: nodes'
                isTemp:
                  type: boolean
                  description: '임시 저장 여부 true | false true : 임시 저장 false : 즉시 완료(임시 저장 안 함)'
                id:
                  type: string
                  description: '노드 아이디 triggerId | jobId triggerId : getJobs 참조 ( type 이 TRIGGER 인 경우) jobId : getTriggers 참조 ( type 이 JOB 인 경우)'
                type:
                  type: string
                  description: 노드 유형 TRIGGER | JOB
                parentNodeIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 상위 노드 아이디 목록 작업 노드 오브젝트는 트리거 노드의 아이디 입력 트리거 노드 오브젝트는 빈 값 유지
                triggerRule:
                  type: string
                  description: '트리거 노드 실행 옵션 정보 RECURRING | ONE_TIME | NONE RECURRING : 주기 실행 ONE_TIME : 특정일 실행 NONE : 실행 옵션 없음'
                jobCondition:
                  type: object
                  additionalProperties: true
                  description: 작업 실행 옵션 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowId:
                    type: string
                    description: 워크플로 아이디
                  name:
                    type: string
                    description: 워크플로 이름
                  nodes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '노드 정보: nodes'
                  createdDate:
                    type: string
                    description: 워크플로 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 워크플로 수정 일시 ISO 8601 형식(UTC+9 포함)
                  isTemp:
                    type: boolean
                    description: '임시 저장 여부 true | false true : 임시 저장 false : 즉시 완료(임시 저장 안 함)'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /workflows/{workflowId}:
    get:
      operationId: GetWorkFlowById
      summary: getWorkflowById
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getworkflowbyid
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
          description: 워크플로 아이디 getWorkflows 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowId:
                    type: string
                    description: 워크플로 아이디
                  name:
                    type: string
                    description: 워크플로 이름
                  nodes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '노드 정보: nodes'
                  createdDate:
                    type: string
                    description: 워크플로 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 워크플로 수정 일시 ISO 8601 형식(UTC+9 포함)
                  isTemp:
                    type: boolean
                    description: '임시 저장 여부 true | false true : 임시 저장 false : 즉시 완료(임시 저장 안 함)'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateWorkFlow
      summary: updateWorkflow
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-updateworkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
          description: 워크플로 아이디 getWorkflows 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - nodes
                - id
                - type
                - parentNodeIds
                - jobCondition
              properties:
                name:
                  type: string
                  description: 워크플로 이름 영문자, 숫자, 특수 문자 '_', '-'를 조합하여 3~100자로 입력 문자열의 시작은 영문자 또는 '_'로 구성
                nodes:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '노드 정보: nodes'
                id:
                  type: string
                  description: '노드 아이디 triggerId | jobId jobId : getJobs 참조 ( type 이 TRIGGER 인 경우) jobId : getTriggers 참조 ( type 이 JOB 인 경우)'
                type:
                  type: string
                  description: 노드 유형 TRIGGER | JOB
                parentNodeIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 상위 노드 아이디 목록 작업 노드 오브젝트는 트리거 노드의 아이디 입력 트리거 노드 오브젝트는 빈 값 유지
                triggerRule:
                  type: string
                  description: '트리거 노드 실행 옵션 정보 RECURRING | ONE_TIME | NONE RECURRING : 주기 실행 ONE_TIME : 특정일 실행 NONE : 실행 옵션 없음'
                jobCondition:
                  type: object
                  additionalProperties: true
                  description: 작업 실행 옵션 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  workflowId:
                    type: string
                    description: 워크플로 아이디
                  name:
                    type: string
                    description: 워크플로 이름
                  nodes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '노드 정보: nodes'
                  createdDate:
                    type: string
                    description: 워크플로 생성 일시 ISO 8601 형식(UTC+9 포함)
                  updatedDate:
                    type: string
                    description: 워크플로 수정 일시 ISO 8601 형식(UTC+9 포함)
                  isTemp:
                    type: boolean
                    description: '임시 저장 여부 true | false true : 임시 저장 false : 즉시 완료(임시 저장 안 함)'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteWorkFlow
      summary: deleteWorkflow
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-deleteworkflow
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
          description: 워크플로 아이디 getWorkflows 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /workflows/{workflowId}/executions:
    get:
      operationId: GetWorkFlowExecutions
      summary: getWorkflowExecutions
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - data-flow

      x-ncloud-source: https://api.ncloud-docs.com/docs/analytics-dataflow-getworkflowexecutions
      parameters:
        - name: workflowId
          in: path
          required: true
          schema:
            type: string
          description: 워크플로 아이디 getWorkflows 참조
        - name: filter
          in: query
          required: false
          schema:
            type: string
          description: 워크플로 이름으로 필터링
        - name: page
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 0~N (기본값: 0)'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 출력 수 0~N (기본값: 1000)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '워크플로 실행 목록: list'
                  count:
                    type: integer
                    description: 응답 결과 수
                  page:
                    type: integer
                    description: 페이지 번호
                  limit:
                    type: integer
                    description: 페이지 출력 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    SuccessResponse:
      type: object
      description: Trivial success envelope — returned by mutations that don't carry a body.
      required:
        - success
      properties:
        success:
          type: boolean
          description: API 호출 성공 여부
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
