openapi: 3.0.3
info:
  title: edge
  description: edge
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn-todo: true
servers:
  - url: https://edge.apigw.ntruss.com
    description: edge 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /cdn-edge:
    post:
      operationId: Create
      summary: 엣지 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - profileId
                - edgeName
                - distributionConfig
                - originalCopyConfig
                - cachingConfig
                - managedRule
                - headerPolicies
                - optimizationConfig
                - accessControl
                - protocolType
                - regionType
                - serviceDomain
                - edgeLogging
                - originalCopyLocation
                - forwardHostHeader
                - originalCopyProtocol
                - defaultCaching
                - negativeTtl
                - bypassQueryString
                - cacheKeyHostname
                - cacheKeyIgnoreQueryString
                - removeVaryHeader
                - edgeAuth
                - cachingRules
                - ruleName
                - ruleType
                - ruleConditions
                - ruleDefinitionType
                - cacheRevalidateConfig
                - ruleBasedRoutingConfig
                - browserCache
                - cacheKeyQueryParameter
                - accessDeny
                - urlRedirect
                - urlRewrite
                - cors
                - http2
                - trueClientIpHeader
                - hsts
                - type
                - header
                - httpCompression
                - largeFileOptimization
                - ipPolicies
                - geoPolicies
                - refererPolicies
              properties:
                profileId:
                  type: integer
                  format: int64
                  description: 프로필 아이디 프로필 목록 조회 참조
                edgeName:
                  type: string
                  description: 엣지 이름 영문자, 숫자, 특수 문자 '-', '_'를 조합하여 3~35자 이내로 입력
                distributionConfig:
                  type: object
                  additionalProperties: true
                  description: '배포 설정: CdnDistributionConfig'
                originalCopyConfig:
                  type: object
                  additionalProperties: true
                  description: '오리진 설정: CdnOriginalCopyConfig'
                cachingConfig:
                  type: object
                  additionalProperties: true
                  description: '캐시 설정: CdnCachingConfig'
                managedRule:
                  type: object
                  additionalProperties: true
                  description: '매니지드 룰: ManagedRule'
                headerPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '헤더 설정: HeaderPolicy 미설정 시 빈 값 [] 입력'
                optimizationConfig:
                  type: object
                  additionalProperties: true
                  description: '최적화 설정: OptimizationConfig'
                accessControl:
                  type: object
                  additionalProperties: true
                  description: '접근 제어 설정: AccessControl'
                protocolType:
                  type: string
                  description: 서비스 프로토콜 HTTPS | ALL
                regionType:
                  type: string
                  description: '서비스 지역 KOREA | JAPAN | GLOBAL KOREA : 한국 JAPAN : 일본 GLOBAL : 글로벌'
                serviceDomain:
                  type: object
                  additionalProperties: true
                  description: 서비스 도메인 설정
                edgeLogging:
                  type: object
                  additionalProperties: true
                  description: 엣지 로그 설정
                originalCopyLocation:
                  type: object
                  additionalProperties: true
                  description: 오리진 서버 설정
                forwardHostHeader:
                  type: object
                  additionalProperties: true
                  description: 호스트 헤더 포워딩 설정
                originalCopyProtocol:
                  type: object
                  additionalProperties: true
                  description: 오리진 프로토콜 설정
                originalCopyPath:
                  type: string
                  description: "오리진 경로 오리진 요청 시 추가할 URL /{경로}/ 형식: 영문자, 숫자, 특수 문자 '_' 허용"
                originFailoverConfig:
                  type: object
                  additionalProperties: true
                  description: 오리진 페일오버 설정
                defaultCaching:
                  type: object
                  additionalProperties: true
                  description: 캐시 기본 설정
                negativeTtl:
                  type: boolean
                  description: '네거티브 TTL 사용 여부 true | false true : 사용 false : 사용 안 함 오리진 서버에서 오류 응답 반환 시 응답 캐싱'
                bypassQueryString:
                  type: object
                  additionalProperties: true
                  description: 바이패스 쿼리 스트링 설정 캐싱 없이 오리진 서버로 바이패스하는 조건 문자열 지정
                cacheKeyHostname:
                  type: string
                  description: '캐시 키 호스트 이름 유형 INCOMING_HOST_HEADER | ORIGIN_HOSTNAME INCOMING_HOST_HEADER : 캐시 키에 서비스 도메인 포함 ORIGIN_HOSTNAME : 캐시 키에 오리진 서버의 호스트 이름 포함'
                cacheKeyIgnoreQueryString:
                  type: object
                  additionalProperties: true
                  description: 캐시 키 쿼리 스트링 설정 캐시 키 생성 시 쿼리 문자열의 포함/무시 방식 지정
                urlLetterCaseIgnoreUse:
                  type: boolean
                  description: '캐시 키 대소문자 구분 무시 여부 true | false (기본값) true : 무시 false : 무시 안 함 오리진이 대소문자를 구분하지 않는 경우, URL 및 파일 이름의 대소문자를 무시하고 캐싱 가능'
                removeVaryHeader:
                  type: boolean
                  description: 'Vary 헤더 제거 사용 여부 true | false true : 사용 false : 사용 안 함 사용 시 오리진 서버 응답의 Accept-Encoding 외 Vary 헤더 제거 후 캐싱'
                edgeAuth:
                  type: object
                  additionalProperties: true
                  description: 요청 인증 설정 토큰으로 요청을 인증하여 통과된 경우에만 응답하도록 지정
                cachingRules:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '캐시 상세 룰 설정: CachingRule'
                ruleName:
                  type: string
                  description: 캐시 상세 룰 이름
                ruleType:
                  type: string
                  description: '룰 조건 유형 DIRECTORY | FILE_EXTENSION | ADVANCED DIRECTORY : 디렉터리 FILE_EXTENSION : 파일 확장자 ADVANCED : 디렉터리 및 파일 확장자'
                ruleConditions:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 룰 조건 목록 ruleType 값에 따른 조건 입력 <예시> /* , /sample/*
                ruleDefinitionType:
                  type: string
                  description: '캐시 옵션 CACHING | BYPASS_CACHE | ORIGIN_CACHE_CONTROL_HEADER CACHING : 캐시 BYPASS_CACHE : 오리진 서버로 바이패스 ORIGIN_CACHE_CONTROL_HEADER : 오리진 Cache-Control 헤더 기준으로 처리'
                cacheRevalidateConfig:
                  type: object
                  additionalProperties: true
                  description: 오래된 객체 재검증 설정 캐시 수명이 만료되고 오리진 사용 불가 시 수행 동작 지정
                ruleBasedRoutingConfig:
                  type: object
                  additionalProperties: true
                  description: 룰 기반 오리진 라우팅 설정 룰 조건 부합 시 지정 위치로 오리진 라우팅
                browserCache:
                  type: object
                  additionalProperties: true
                  description: 브라우저 캐시 설정 엣지에서 클라이언트에 보낼 캐싱 동작 지정
                cacheKeyQueryParameter:
                  type: object
                  additionalProperties: true
                  description: 캐시 키 쿼리 파라미터 설정 캐시 키 생성 시 쿼리 문자열의 포함/무시 방식 지정
                accessDeny:
                  type: boolean
                  description: '룰 조건( ruleConditions )에 대한 접근 차단 여부 true | false true : 차단 false : 차단하지 않음'
                urlRedirect:
                  type: object
                  additionalProperties: true
                  description: URL 리디렉션 설정 룰 조건 부합 시 오리진 서버가 아닌 리디렉션으로 응답 urlRedirect 나 urlRewrite 중 하나만 사용 가능
                urlRewrite:
                  type: object
                  additionalProperties: true
                  description: URL 리라이팅 설정 룰 조건 부합 시 요청의 URL 자동 수정 urlRedirect 나 urlRewrite 중 하나만 사용 가능
                cors:
                  type: boolean
                  description: 'CORS 헤더(교차 오리진 리소스 공유 헤더) 추가 여부 true | false true : 추가 false : 추가 안 함'
                corsPolicy:
                  type: object
                  additionalProperties: true
                  description: CORS 헤더(교차 오리진 리소스 공유 헤더) 상세 설정
                http2:
                  type: boolean
                  description: 'HTTP/2(개방형 네트워크 프로토콜) 사용 여부 true | false true : 사용 false : 사용 안 함'
                trueClientIpHeader:
                  type: boolean
                  description: '오리진 서버로 요청 포워딩 시 헤더에 클라이언트 IP 헤더 추가 여부 true | false true : 추가 false : 추가 안 함'
                hsts:
                  type: boolean
                  description: '브라우저 연결에 HTTPS 사용 여부 true | false true : 사용 false : 사용 안 함'
                type:
                  type: string
                  description: '헤더 유형 ORIGIN_REQUEST | CLIENT_RESPONSE ORIGIN_REQUEST : 오리진 서버에 포워딩되는 요청 헤더 CLIENT_RESPONSE : 서버에서 클라이언트로 전송되는 응답 헤더'
                header:
                  type: object
                  additionalProperties: true
                  description: 헤더 상세 설정
                httpCompression:
                  type: boolean
                  description: 'Gzip, Brotli 압축 전송 사용 여부 true | false true : 사용 false : 사용 안 함 사용 시 응답 시간 단축'
                largeFileOptimization:
                  type: boolean
                  description: '대용량 파일 전송 사용 여부 true | false true : 사용 false : 사용 안 함 사용 시 대용량 파일 전송 성능 및 안정성 최적화'
                headerMaxSize:
                  type: object
                  additionalProperties: true
                  description: Request Header Size 설정
                ipPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 클라이언트 IP 또는 CIDR 블록 IP 형식으로 입력 가능 미설정 시 빈 값 [] 입력 ipPolicies , geoPolicies , refererPolicies 중 하나 이상 필수 입력
                geoPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 클라이언트 국가 코드 ISO 3166-1 alpha-2 국가 코드 기준 미설정 시 빈 값 [] 입력 ipPolicies , geoPolicies , refererPolicies 중 하나 이상 필수 입력
                refererPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: HTTP 요청 레퍼러 헤더 도메인 형식으로 입력 가능 미설정 시 빈 값 [] 입력 ipPolicies , geoPolicies , refererPolicies 중 하나 이상 필수 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cdn-edge/{edgeId}:
    get:
      operationId: Information
      summary: 엣지 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-information
      parameters:
        - name: edgeId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 엣지 아이디 엣지 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: object
                    additionalProperties: true
                    description: '응답 결과: result'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cdn-edges:
    delete:
      operationId: Delete
      summary: 엣지 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-delete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - edges
              properties:
                edges:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 엣지 아이디 목록 엣지 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cdn-edges/activate:
    post:
      operationId: Activate
      summary: 엣지 재시작
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-activate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - edges
              properties:
                edges:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 엣지 아이디 목록 엣지 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cdn-edges/stop:
    post:
      operationId: Stop
      summary: 엣지 정지
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-stop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - edges
              properties:
                edges:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 엣지 아이디 목록 엣지 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cdn-edges/{edgeId}:
    put:
      operationId: Edit
      summary: 엣지 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-edit
      parameters:
        - name: edgeId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 엣지 아이디 엣지 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - profileId
                - edgeName
                - distributionConfig
                - originalCopyConfig
                - cachingConfig
                - managedRule
                - headerPolicies
                - optimizationConfig
                - accessControl
                - protocolType
                - regionType
                - serviceDomain
                - edgeLogging
                - originalCopyLocation
                - forwardHostHeader
                - originalCopyProtocol
                - defaultCaching
                - negativeTtl
                - bypassQueryString
                - cacheKeyHostname
                - cacheKeyIgnoreQueryString
                - removeVaryHeader
                - edgeAuth
                - cachingRules
                - ruleName
                - ruleType
                - ruleConditions
                - ruleDefinitionType
                - cacheRevalidateConfig
                - ruleBasedRoutingConfig
                - browserCache
                - cacheKeyQueryParameter
                - accessDeny
                - urlRedirect
                - urlRewrite
                - cors
                - http2
                - trueClientIpHeader
                - hsts
                - type
                - header
                - httpCompression
                - largeFileOptimization
                - ipPolicies
                - geoPolicies
                - refererPolicies
              properties:
                profileId:
                  type: integer
                  format: int64
                  description: 프로필 아이디 프로필 목록 조회 참조
                edgeName:
                  type: string
                  description: 엣지 이름 영문자, 숫자, 특수 문자 '-', '_'를 조합하여 3~35자 이내로 입력
                distributionConfig:
                  type: object
                  additionalProperties: true
                  description: '배포 설정: CdnDistributionConfig'
                originalCopyConfig:
                  type: object
                  additionalProperties: true
                  description: '오리진 설정: CdnOriginalCopyConfig'
                cachingConfig:
                  type: object
                  additionalProperties: true
                  description: '캐시 설정: CdnCachingConfig'
                managedRule:
                  type: object
                  additionalProperties: true
                  description: '매니지드 룰: ManagedRule'
                headerPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '헤더 설정: HeaderPolicy 미설정 시 빈 값 [] 입력'
                optimizationConfig:
                  type: object
                  additionalProperties: true
                  description: '최적화 설정: OptimizationConfig'
                accessControl:
                  type: object
                  additionalProperties: true
                  description: '접근 제어 설정: AccessControl'
                protocolType:
                  type: string
                  description: 서비스 프로토콜 HTTP | HTTPS | ALL
                regionType:
                  type: string
                  description: '서비스 지역 KOREA | JAPAN | GLOBAL KOREA : 한국 JAPAN : 일본 GLOBAL : 글로벌 변경 불가하므로 현재 값 입력'
                serviceDomain:
                  type: object
                  additionalProperties: true
                  description: 서비스 도메인 설정 변경 불가하므로 현재 값 입력
                edgeLogging:
                  type: object
                  additionalProperties: true
                  description: 엣지 로그 설정
                originalCopyLocation:
                  type: object
                  additionalProperties: true
                  description: 오리진 서버 설정
                forwardHostHeader:
                  type: object
                  additionalProperties: true
                  description: 호스트 헤더 포워딩 설정
                originalCopyProtocol:
                  type: object
                  additionalProperties: true
                  description: 오리진 프로토콜 설정
                originalCopyPath:
                  type: string
                  description: "오리진 경로 오리진 요청 시 추가할 URL /{경로}/ 형식: 영문자, 숫자, 특수 문자 '_' 허용"
                originFailoverConfig:
                  type: object
                  additionalProperties: true
                  description: 오리진 페일오버 설정
                defaultCaching:
                  type: object
                  additionalProperties: true
                  description: 캐시 기본 설정
                negativeTtl:
                  type: boolean
                  description: '네거티브 TTL 사용 여부 true | false true : 사용 false : 사용 안 함 오리진 서버에서 오류 응답 반환 시 응답 캐싱'
                bypassQueryString:
                  type: object
                  additionalProperties: true
                  description: 바이패스 쿼리 스트링 설정 캐싱 없이 오리진 서버로 바이패스하는 조건 문자열 지정
                cacheKeyHostname:
                  type: string
                  description: '캐시 키 호스트 이름 유형 INCOMING_HOST_HEADER | ORIGIN_HOSTNAME INCOMING_HOST_HEADER : 캐시 키에 서비스 도메인 포함 ORIGIN_HOSTNAME : 캐시 키에 오리진 서버의 호스트 이름 포함'
                cacheKeyIgnoreQueryString:
                  type: object
                  additionalProperties: true
                  description: 캐시 키 쿼리 스트링 설정 캐시 키 생성 시 쿼리 문자열의 포함/무시 방식 지정
                urlLetterCaseIgnoreUse:
                  type: boolean
                  description: '캐시 키 대소문자 구분 무시 여부 true | false (기본값) true : 무시 false : 무시 안 함 오리진이 대소문자를 구분하지 않는 경우, URL 및 파일 이름의 대소문자를 무시하고 캐싱 가능'
                removeVaryHeader:
                  type: boolean
                  description: 'Vary 헤더 제거 사용 여부 true | false true : 사용 false : 사용 안 함 사용 시 오리진 서버 응답의 Accept-Encoding 외 Vary 헤더 제거 후 캐싱'
                edgeAuth:
                  type: object
                  additionalProperties: true
                  description: 요청 인증 설정 토큰으로 요청을 인증하여 통과된 경우에만 응답하도록 지정
                cachingRules:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '캐시 상세 룰 설정: CachingRule'
                ruleName:
                  type: string
                  description: 캐시 상세 룰 이름
                ruleType:
                  type: string
                  description: '룰 조건 유형 DIRECTORY | FILE_EXTENSION | ADVANCED DIRECTORY : 디렉터리 FILE_EXTENSION : 파일 확장자 ADVANCED : 디렉터리 및 파일 확장자'
                ruleConditions:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 룰 조건 목록 ruleType 값에 따른 조건 입력 <예시> /* , /sample/*
                ruleDefinitionType:
                  type: string
                  description: '캐시 옵션 CACHING | BYPASS_CACHE | ORIGIN_CACHE_CONTROL_HEADER CACHING : 캐시 BYPASS_CACHE : 오리진 서버로 바이패스 ORIGIN_CACHE_CONTROL_HEADER : 오리진 Cache-Control 헤더 기준으로 처리'
                cacheRevalidateConfig:
                  type: object
                  additionalProperties: true
                  description: 오래된 객체 재검증 설정 캐시 수명이 만료되고 오리진 사용 불가 시 수행 동작 지정
                ruleBasedRoutingConfig:
                  type: object
                  additionalProperties: true
                  description: 룰 기반 오리진 라우팅 설정 룰 조건 부합 시 지정 위치로 오리진 라우팅
                browserCache:
                  type: object
                  additionalProperties: true
                  description: 브라우저 캐시 설정 엣지에서 클라이언트에 보낼 캐싱 동작 지정
                cacheKeyQueryParameter:
                  type: object
                  additionalProperties: true
                  description: 캐시 키 쿼리 파라미터 설정 캐시 키 생성 시 쿼리 문자열의 포함/무시 방식 지정
                accessDeny:
                  type: boolean
                  description: '룰 조건( ruleConditions )에 대한 접근 차단 여부 true | false true : 차단 false : 차단하지 않음'
                urlRedirect:
                  type: object
                  additionalProperties: true
                  description: URL 리디렉션 설정 룰 조건 부합 시 오리진 서버가 아닌 리디렉션으로 응답 urlRedirect 나 urlRewrite 중 하나만 사용 가능
                urlRewrite:
                  type: object
                  additionalProperties: true
                  description: URL 리라이팅 설정 룰 조건 부합 시 요청의 URL 자동 수정 urlRedirect 나 urlRewrite 중 하나만 사용 가능
                cors:
                  type: boolean
                  description: 'CORS 헤더(교차 오리진 리소스 공유 헤더) 추가 여부 true | false true : 추가 false : 추가 안 함'
                corsPolicy:
                  type: object
                  additionalProperties: true
                  description: CORS 헤더(교차 오리진 리소스 공유 헤더) 상세 설정
                http2:
                  type: boolean
                  description: 'HTTP/2(개방형 네트워크 프로토콜) 사용 여부 true | false true : 사용 false : 사용 안 함'
                trueClientIpHeader:
                  type: boolean
                  description: '오리진 서버로 요청 포워딩 시 헤더에 클라이언트 IP 헤더 추가 여부 true | false true : 추가 false : 추가 안 함'
                hsts:
                  type: boolean
                  description: '브라우저 연결에 HTTPS 사용 여부 true | false true : 사용 false : 사용 안 함'
                type:
                  type: string
                  description: '헤더 유형 ORIGIN_REQUEST | CLIENT_RESPONSE ORIGIN_REQUEST : 오리진 서버에 포워딩되는 요청 헤더 CLIENT_RESPONSE : 서버에서 클라이언트로 전송되는 응답 헤더'
                header:
                  type: object
                  additionalProperties: true
                  description: 헤더 상세 설정
                httpCompression:
                  type: boolean
                  description: 'Gzip, Brotli 압축 전송 사용 여부 true | false true : 사용 false : 사용 안 함 사용 시 응답 시간 단축'
                largeFileOptimization:
                  type: boolean
                  description: '대용량 파일 전송 사용 여부 true | false true : 사용 false : 사용 안 함 사용 시 대용량 파일 전송 성능 및 안정성 최적화'
                headerMaxSize:
                  type: object
                  additionalProperties: true
                  description: Request Header Size 설정
                ipPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 클라이언트 IP 또는 CIDR 블록 IP 형식으로 입력 가능 미설정 시 빈 값 [] 입력 ipPolicies , geoPolicies , refererPolicies 중 하나 이상 필수 입력
                geoPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 클라이언트 국가 코드 ISO 3166-1 alpha-2 국가 코드 기준 미설정 시 빈 값 [] 입력 ipPolicies , geoPolicies , refererPolicies 중 하나 이상 필수 입력
                refererPolicies:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: HTTP 요청 레퍼러 헤더 도메인 형식으로 입력 가능 미설정 시 빈 값 [] 입력 ipPolicies , geoPolicies , refererPolicies 중 하나 이상 필수 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /cdn-edges/{edgeId}/status:
    get:
      operationId: Status
      summary: 엣지 상태 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-status
      parameters:
        - name: edgeId
          in: path
          required: true
          schema:
            type: number
          description: 엣지 아이디 엣지 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: string
                    description: '엣지 상태 PUBLISHING | RUNNING | STOPPING | STOPPED | ACTIVATING | DELETING | DELETED PUBLISHING : 배포 중 RUNNING : 운영 중 STOPPING : 정지 중 STOPPED : 정지 ACTIVATING : 재시작 중 DELETING : 삭제 중 DELETED : 삭제'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /certificate/provisioning:
    get:
      operationId: GetCertificateList
      summary: 인증서 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-getcertificatelist
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 0~N (기본값: 1)'
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~N (기본값: 15)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  slotId:
                    type: integer
                    format: int64
                    description: 인증서 슬롯 아이디
                  commonName:
                    type: string
                    description: 도메인 이름
                  serviceRegion:
                    type: string
                    description: '인증서 적용 범위 KR_JP | KR_JP_GLOBAL KR_JP : 한국, 일본 KR_JP_GLOBAL : 한국, 일본, 글로벌'
                  tlsVersion:
                    type: string
                    description: TLS 프로토콜 지원 버전
                  cipherProfile:
                    type: string
                    description: 활성 암호 프로필
                  certificateName:
                    type: string
                    description: 인증서 이름
                  expirationDate:
                    type: string
                    description: 인증서 만료 일시 ISO 8601 형식(UTC 기준)
                  provisionStatus:
                    type: string
                    description: '프로비저닝 상태 READY | PUBLISHING | RUNNING | DELETING | DELETED READY : 대기 PUBLISHING : 진행 중(배포 중) RUNNING : 완료(운영 중) DELETING : 삭제 중 DELETED : 삭제 완료'
                  provisionDate:
                    type: string
                    description: 프로비저닝 일시 ISO 8601 형식(UTC 기준)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostCertificate
      summary: 인증서 프로비저닝
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-postcertificate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - serviceRegion
                - cmCertificateIds
                - tlsVersion
                - cipherProfile
              properties:
                serviceRegion:
                  type: string
                  description: '서비스 지역 KR_JP | KR_JP_GLOBAL KR_JP : 한국, 일본 KR_JP_GLOBAL : 글로벌'
                cmCertificateIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '인증서 번호 목록 Certificate Manager 서비스에 등록된 인증서의 번호 KR_JP 인 경우: 한국, 일본 인증서 1개 필요 KR_JP_GLOBAL 인 경우: 한국, 일본 인증서 1개, 글로벌 인증서 1개 필요'
                tlsVersion:
                  type: string
                  description: 'TLS 프로토콜 지원 버전 TLS_ALL_VERSIONS | TLS_MIN_VERSION_1_2 TLS_ALL_VERSIONS : 모든 TLS 버전 TLS_MIN_VERSION_1_2 : TLS 1.2 이상 (권장)'
                cipherProfile:
                  type: string
                  description: '활성 암호 프로필 DEFAULT | GENERAL | STRICT DEFAULT : GE-DEFAULT-v1 GENERAL : GE-GENERAL-v1 STRICT : GE-STRICT-v1 tlsVersion 이 TLS_ALL_VERSIONS 인 경우, STRICT 사용 불가'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /certificate/provisioning/{slotId}:
    get:
      operationId: GetCertificate
      summary: 인증서 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-getcertificate
      parameters:
        - name: slotId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 인증서 슬롯 아이디 인증서 목록 조회 참조
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 0~N (기본값: 1)'
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~N (기본값: 15)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  slotId:
                    type: integer
                    format: int64
                    description: 인증서 슬롯 아이디
                  certificates:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '인증서 정보: Certificate'
                  linkedEdges:
                    type: object
                    additionalProperties: true
                    description: 연결된 엣지 목록
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostCertificateSlotId
      summary: 인증서 적용 범위 설정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-postcertificateslotid
      parameters:
        - name: slotId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 인증서 슬롯 아이디 인증서 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cmCertificateId
              properties:
                cmCertificateId:
                  type: integer
                  format: int64
                  description: 인증서 번호 Certificate Manager 서비스에 등록된 인증서(Global Edge Dedicated 타입) 번호
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: PutCertificate
      summary: 인증서 업데이트
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-putcertificate
      parameters:
        - name: slotId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 인증서 슬롯 아이디 인증서 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cmCertificateId
              properties:
                cmCertificateId:
                  type: integer
                  format: int64
                  description: 인증서 번호 Certificate Manager 서비스에 등록된 인증서(Global Edge Dedicated 타입) 번호
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteCertificate
      summary: 인증서 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-deletecertificate
      parameters:
        - name: slotId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 인증서 슬롯 아이디 인증서 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /certificate/provisioning/{slotId}/certificates:
    delete:
      operationId: DeleteCertificateSlotId
      summary: 글로벌 인증서 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-deletecertificateslotid
      parameters:
        - name: slotId
          in: path
          required: true
          schema:
            type: number
          description: 인증서 슬롯 아이디 인증서 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - certificateItemIds
              properties:
                certificateItemIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 인증서 번호 목록 Certificate Manager 서비스에 등록된 인증서(Global Edge Dedicated 타입) 중 만료 또는 만료 예정 인증서 번호
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /certificate/provisioning/{slotId}/tls:
    put:
      operationId: PutCertificateSlotidtls
      summary: TLS 프로토콜 버전 설정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-putcertificateslotidtls
      parameters:
        - name: slotId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: 인증서 슬롯 아이디 인증서 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - tlsVersion
                - cipherProfile
              properties:
                tlsVersion:
                  type: string
                  description: 'TLS 프로토콜 지원 버전 TLS_ALL_VERSIONS | TLS_MIN_VERSION_1_2 TLS_ALL_VERSIONS : 모든 TLS 버전 TLS_MIN_VERSION_1_2 : TLS 1.2 이상 (권장)'
                cipherProfile:
                  type: string
                  description: '활성 암호 프로필 DEFAULT | GENERAL | STRICT DEFAULT : GE-DEFAULT-v1 GENERAL : GE-GENERAL-v1 STRICT : GE-STRICT-v1 tlsVersion 이 TLS_ALL_VERSIONS 인 경우, STRICT 사용 불가'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: boolean
                    description: '응답 결과 true | false true : 성공 false : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /profiles/{profileId}/cdn-edges:
    get:
      operationId: ListIng
      summary: 엣지 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - edge

      x-ncloud-source: https://api.ncloud-docs.com/docs/edge-listing
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: number
          description: 프로필 아이디 프로필 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  result:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '엣지 목록: result'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
