openapi: 3.0.3
info:
  title: live-station
  description: live-station
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: false

  x-ncloud-nrn:

    productName: LiveStation
    resource_types:
      - GeneralChannel
      - RestreamChannel
      - QualitySetting
      - QualityProfile
      - Callback
      - VODChannel
      - VODSchedule
      - SnapShot
      - CurtainContents

servers:
  - url: https://livestation.apigw.ntruss.com
    description: live-station 민간
    x-ncloud-env: public
  - url: https://livestation.apigw.fin-ntruss.com
    description: live-station 금융
    x-ncloud-env: financial
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /buckets/{bucketName}/upload:
    post:
      operationId: RecordingRecordingUpload
      summary: 녹화 파일 업로드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-recording-recordingupload
      parameters:
        - name: bucketName
          in: path
          required: true
          schema:
            type: string
          description: Object Storage 버킷 이름 ListBuckets 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recordIds
              properties:
                recordIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '녹화 파일 아이디 목록 녹화 파일 목록 조회 참조 업로드 가능 파일 상태: TRANSFER_READY , TRANSFER_FAIL'
                accessControl:
                  type: string
                  description: '녹화 파일 저장 버킷 공개 범위 PRIVATE (기본값) | PUBLIC_READ PRIVATE : 비공개 PUBLIC_READ : 공개 CDN과 연동하여 VOD로 서비스할 경우, PUBLIC_READ 입력'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels:
    get:
      operationId: ChannelChannelList
      summary: 채널 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-channellist
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 1~N
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지당 항목 수 1~100
        - name: channelStatus
          in: query
          required: false
          schema:
            type: string
          description: '채널 상태로 필터링 CREATING | READY | PUBLISHING | DELETED | BLOCK | FORCE_BLOCK | FORCE_DELETED CREATING : 생성 중 READY : 준비 PUBLISHING : 송출 중 DELETED : 반납 BLOCK : 정지 FORCE_BLOCK : 강제 정지 FORCE_DELETED : 사용 불가'
        - name: id
          in: query
          required: false
          schema:
            type: string
          description: 채널 아이디로 필터링 전체 또는 부분 일치하는 값 표시
        - name: channelName
          in: query
          required: false
          schema:
            type: string
          description: 채널 이름으로 필터링 전체 또는 부분 일치하는 값 표시
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '채널 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ChannelChannelCreate
      summary: 송출 영상 보안 설정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-channelcreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelName
                - cdn
                - qualitySetId
                - useDvr
                - record
                - drmEnabledYn
              properties:
                channelName:
                  type: string
                  description: 채널 이름 한글, 영문자, 숫자, 특수 문자 '_'를 조합하여 3~20자 이내로 입력
                envType:
                  type: string
                  description: 채널 타입 REAL (기본값) | DEV | STAGE 적용할 서비스 환경 구분자
                outputProtocol:
                  type: string
                  description: 'Output Protocol 설정 HLS (기본값) | LL_HLS | HLS,DASH HLS : 안정적이고 호환성 높은 HLS 스트리밍을 이용하기 위한 옵션 LL_HLS : CMAF 이용한 저지연 HLS 스트리밍을 위한 옵션 LL-HLS 정식 버전은 Global Edge 연동 환경에서만 지원 Global Edge CDN의 서비스 지역이 한국인 경우에 사용 가능 HLS,DASH : 일반 HLS와 Dash 모두 스트리밍 가능한 옵션'
                cdn:
                  type: object
                  additionalProperties: true
                  description: CDN 설정
                qualitySetId:
                  type: integer
                  description: 화질 설정 아이디 화질 설정 목록 조회 참조 outputProtocol 이 LL_HLS 인 경우, 초저지연(Low Latency)용 화질 설정만 선택 가능
                useDvr:
                  type: boolean
                  description: '타임머신 설정 여부 true | false true : 설정 false : 설정 안 함 설정 시 송출 중인 라이브 방송을 되돌려 볼 수 있음'
                immediateOnAir:
                  type: boolean
                  description: '송출 즉시 자동 녹화 설정 여부 true | false true : 자동 false : 수동'
                timemachineMin:
                  type: integer
                  description: 타임머신 허용 범위(분) 360 (유효 값) useDvr 이 true 인 경우, 필수 입력
                record:
                  type: object
                  additionalProperties: true
                  description: 녹화 저장 정보
                isStreamFailOver:
                  type: boolean
                  description: '송출 이중화 설정 여부 true | false true : 사용 false : 사용 안 함 사용 시 반드시 메인 스트림 먼저 송출'
                drmEnabledYn:
                  type: boolean
                  description: 'Multi DRM 사용 여부 true | false true : 사용 false : 사용 안 함'
                drm:
                  type: object
                  additionalProperties: true
                  description: Multi DRM 설정 drmEnabledYn 이 true 인 경우, 필수 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}:
    get:
      operationId: ChannelChannelInfo
      summary: 채널 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-channelinfo
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
                  isPublishingBackUp:
                    type: boolean
                    description: '백업 송출 소스 활성 여부 true | false true : 백업 송출 활성 false : 백업 송출 비활성'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: ChannelChannelUpdate
      summary: 채널 설정 변경
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-channelupdate
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelName
                - useDvr
                - immediateOnAir
                - record
              properties:
                channelName:
                  type: string
                  description: 채널 이름 한글, 영문자, 숫자, 특수 문자 '_'를 조합하여 3~20자 이내로 입력
                envType:
                  type: string
                  description: 채널 타입 REAL (기본값) | DEV | STAGE 적용할 서비스 환경에 따른 구분자
                outputProtocol:
                  type: string
                  description: 'Output Protocol 설정 HLS (기본값) | LL_HLS | HLS,DASH HLS : 안정적이고 호환성 높은 HLS 스트리밍을 이용하기 위한 옵션 LL_HLS : CMAF을 이용한 저지연 HLS 스트리밍을 위한 옵션 HLS,DASH : 일반 HLS와 Dash 모두 스트리밍 가능한 옵션 HLS / HLS,DASH 와 LL_HLS 간 상호 전환 불가'
                useDvr:
                  type: boolean
                  description: '타임머신 설정 여부 true | false true : 설정 false : 설정 안 함 설정 시 송출 중인 라이브 방송을 되돌려 볼 수 있음'
                immediateOnAir:
                  type: boolean
                  description: '송출 즉시 자동 녹화 설정 여부 true | false true : 자동 false : 수동'
                timemachineMin:
                  type: integer
                  description: 타임머신 허용 범위(분) 360 (유효 값) useDvr 이 true 인 경우, 필수 입력
                record:
                  type: object
                  additionalProperties: true
                  description: 녹화 저장 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ChannelChannelDelete
      summary: 채널 반납
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-channeldelete
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/callbackEndpoint:
    post:
      operationId: EventCAllBackSetTingLive
      summary: Callback Endpoint 등록(Live)
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-callbacksetting-live
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - callbackEndpoint
              properties:
                callbackEndpoint:
                  type: string
                  description: 콜백 엔드포인트 URL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
                  isPublishingBackUp:
                    type: boolean
                    description: '백업 송출 소스 활성 여부 true | false true : 백업 송출 활성 false : 백업 송출 비활성'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/curtain/insert:
    post:
      operationId: CurtainCurtaininsert
      summary: 라이브 커튼 시작
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-curtain-curtaininsert
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contentId
              properties:
                contentId:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '라이브 커튼 콘텐츠 아이디 목록 라이브 커튼 콘텐츠 목록 조회 참조 라이브 커튼 콘텐츠 생성 방법: 라이브 커튼 콘텐츠 생성 참조'
                insertTime:
                  type: integer
                  description: '라이브 커튼 유지 시간(분) 1~10 (기본값: 3)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/curtain/remove:
    post:
      operationId: CurtainCurtainRemove
      summary: 라이브 커튼 종료
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-curtain-curtainremove
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/events:
    get:
      operationId: EventGeneralEventList
      summary: Live 채널 이벤트 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-generaleventlist
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/off:
    put:
      operationId: ChannelChannelOff
      summary: 채널 정지
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-channeloff
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/on:
    put:
      operationId: ChannelChannelOn
      summary: 채널 정지 해제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-channelon
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/publish-log:
    get:
      operationId: EventGeneralPublishEventList
      summary: Live 채널 송출 이벤트 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-generalpublisheventlist
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/records:
    get:
      operationId: RecordingRecordingList
      summary: 녹화 파일 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-recording-recordinglist
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: RecordingRecordingDelete
      summary: 녹화 파일 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-recording-recordingdelete
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recordIds
              properties:
                recordIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 녹화 파일 아이디 목록 녹화 파일 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/records/{recordId}:
    get:
      operationId: RecordingRecordingInfo
      summary: 녹화 파일 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-recording-recordinginfo
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: recordId
          in: path
          required: true
          schema:
            type: integer
          description: 녹화 파일 아이디 녹화 파일 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/serviceUrls:
    get:
      operationId: ChannelServiceUrl
      summary: 채널 Service URL 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-serviceurl
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: serviceUrlType
          in: query
          required: true
          schema:
            type: string
          description: 'Servcie URL 유형 GENERAL | TIMEMACHINE | THUMBNAIL GENERAL : 라이브 재생 URL(HLS 및 MPEG-DASH) TIMEMACHINE : 타임머신 URL. 타임머신(DVR)을 설정한 채널이 송출 중일 때만 조회 가능 THUMBNAIL : 섬네일 이미지 URL'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '라이브 재생 URL 정보: content'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/shortclip/{id}:
    get:
      operationId: ShortClIpShortClIpInfo
      summary: 숏클립 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-shortclip-shortclipinfo
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 숏클립 아이디 숏클립 생성 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/snapshot:
    post:
      operationId: SnapshotSnapshotCreate
      summary: 스냅샷 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-snapshot-snapshotcreate
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조 현재 녹화 중인 채널이어야 함
        - name: limitedDuration
          in: query
          required: false
          schema:
            type: integer
          description: 스냅샷 생성 시간(분) 1~240 현재 시점을 기준으로 역산하여 저장할 재생 시간 미입력 시 방송 시작 시점부터 현재까지 전체 시간 저장(최대 4시간) <예시> 방송 01:00:00 시점에 limitedDuration=1 요청 시 00:59:00~01:00:00 구간 스냅샷 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/snapshot/{snapshotId}:
    get:
      operationId: SnapshotSnapshotInfo
      summary: 스냅샷 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-snapshot-snapshotinfo
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: snapshotId
          in: path
          required: true
          schema:
            type: string
          description: 스냅샷 아이디 스냅샷 생성 , 채널 목록 조회 , 채널 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 스냅샷 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/startRecord:
    put:
      operationId: RecordingRecordingStart
      summary: 녹화 시작
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-recording-recordingstart
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
                  total:
                    type: integer
                    description: 전체 녹화 파일 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/stopRecord:
    put:
      operationId: RecordingRecordingStop
      summary: 녹화 종료
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-recording-recordingstop
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
                  total:
                    type: integer
                    description: 전체 녹화 파일 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/streamMetadata:
    get:
      operationId: ChannelPublishIngmetaInfo
      summary: 채널 스트림 메타데이터 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-publishingmetainfo
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 스트림 메타데이터 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/{snapshotId}:
    post:
      operationId: ShortClIpShortClIpCreate
      summary: 숏클립 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-shortclip-shortclipcreate
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: snapshotId
          in: path
          required: true
          schema:
            type: string
          description: 스냅샷 아이디 스냅샷 생성 , 채널 목록 조회 , 채널 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - startTime
                - endTime
                - shortclip
              properties:
                startTime:
                  type: integer
                  description: 숏클립 시작 지점(밀리초) 스냅샷 재생 시간 기준의 시작 지점 0부터 입력 가능
                endTime:
                  type: integer
                  description: 숏클립 종료 지점(밀리초) 스냅샷 재생 시간 기준의 종료 지점 startTime 의 100ms 이후부터 입력 가능
                shortclip:
                  type: object
                  additionalProperties: true
                  description: 숏클립 저장 설정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/{snapshotId}/shortclips:
    get:
      operationId: ShortClIpShortClIpList
      summary: 숏클립 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-shortclip-shortcliplist
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: snapshotId
          in: path
          required: true
          schema:
            type: string
          description: 스냅샷 아이디 스냅샷 생성 , 채널 목록 조회 , 채널 조회 참조
        - name: shortclipStatus
          in: query
          required: false
          schema:
            type: string
          description: '숏클립 상태로 필터링 CREATING | COMPLETED | PROCESSING_FAIL | UPLOAD_FAIL CREATING : 생성 중 COMPLETED : 완료 PROCESSING_FAIL : 생성 실패 UPLOAD_FAIL : 업로드 실패'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /curtainContents:
    get:
      operationId: CurtaincontentCurtaincontentList
      summary: 라이브 커튼 컨텐츠 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-curtaincontent-curtaincontentlist
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 1~N
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지당 항목 수 1~N
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: '콘텐츠 상태로 필터링 CREATING | READY | PROCESSING_FAIL | DELETED CREATING : 생성 중 READY : 준비 PROCESSING_FAIL : 생성 실패 DELETED : 삭제'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '라이브 커튼 콘텐츠 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CurtaincontentCurtaincontentCreate
      summary: 라이브 커튼 컨텐츠 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-curtaincontent-curtaincontentcreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
                - bucketName
                - filePath
              properties:
                content:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '라이브 커튼 콘텐츠 정보: content'
                bucketName:
                  type: string
                  description: 원본 콘텐츠 파일 저장 버킷 이름
                filePath:
                  type: string
                  description: '저장 상세 경로 / 로 시작 지원 가능 파일 확장자 이미지: *.png, *.jpg, *.jpeg 비디오: *.mp4 오디오: *.aac, *.mp3, *.m4a'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /curtainContents/{contentId}:
    get:
      operationId: CurtaincontentCurtaincontentInfo
      summary: 라이브 커튼 콘텐츠 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-curtaincontent-curtaincontentinfo
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: integer
          description: 라이브 커튼 콘텐츠 아이디 라이브 커튼 콘텐츠 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 라이브 커튼 콘텐츠 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: CurtaincontentCurtaincontentDelete
      summary: 라이브 커튼 컨텐츠 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-curtaincontent-curtaincontentdelete
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: integer
          description: 라이브 커튼 콘텐츠 아이디 라이브 커튼 콘텐츠 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 라이브 커튼 콘텐츠 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /events:
    get:
      operationId: EventEventList
      summary: 이벤트 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-eventlist
      parameters:
        - name: channelId
          in: query
          required: false
          schema:
            type: string
          description: 채널 아이디로 필터링 채널별 목록 조회 참조 라이브 채널 동시 송출 채널 VOD2LIVE 채널 미입력 시 전체 채널의 이벤트 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /events/callbackEndpoint:
    get:
      operationId: EventCAllBackInfo
      summary: Callback Endpoint 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-callbackinfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 콜백 엔드포인트 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: EventCAllBackSetTing
      summary: 콜백 발송 데이터
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-callbacksetting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - callbackUrl
              properties:
                callbackUrl:
                  type: string
                  description: 콜백 엔드포인트 URL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /notification/manager-groups:
    get:
      operationId: EventManageRGroupList
      summary: 관리자 그룹 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-managergrouplist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '관리자 그룹 목록: content'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /notification/manager-groups/{managerGroupNo}:
    get:
      operationId: EventManageRList
      summary: 관리자 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-managerlist
      parameters:
        - name: managerGroupNo
          in: path
          required: true
          schema:
            type: integer
          description: 관리자 그룹 번호 관리자 그룹 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '관리자 목록: content'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /notification/{channelId}/for-general-channel:
    post:
      operationId: EventNotification
      summary: 이벤트 알람 설정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-notification
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - alertOn
                - notificationManagerList
                - managerNo
                - notifyType
              properties:
                alertOn:
                  type: boolean
                  description: '이벤트 알람 설정 여부 true | false true : 설정 false : 설정 안 함'
                alertChangeStatus:
                  type: boolean
                  description: '채널 상태 변경 알람 적용 여부 true | false true : 적용 false : 적용 안 함'
                alertVodUploadFail:
                  type: boolean
                  description: '녹화 파일 업로드 실패 알람 적용 여부 true | false true : 적용 false : 적용 안 함'
                alertReStreamFail:
                  type: boolean
                  description: '동시 송출 릴레이 실패 알람 적용 여부 true | false true : 적용 false : 적용 안 함'
                alertShortClipFail:
                  type: boolean
                  description: '숏클립 생성 실패 알람 적용 여부 true | false true : 적용 false : 적용 안 함'
                alertStreamFailOver:
                  type: boolean
                  description: '메인 스트림 전환 알람 적용 여부 true | false true : 적용 false : 적용 안 함'
                alertGeneralChannelError:
                  type: boolean
                  description: '송출 실패 에러 알람 적용 여부 true | false true : 적용 false : 적용 안 함'
                notificationManagerList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '통보 대상 목록: notificationManagerList'
                emailAddress:
                  type: string
                  description: 관리자 메일 주소 notifyType 이 EMAIL 인 경우, 필수 입력
                cellPhoneNo:
                  type: string
                  description: 관리자 휴대폰 번호 notifyType 이 SMS 인 경우, 필수 입력
                managerNo:
                  type: integer
                  description: 관리자 번호 관리자 조회 참조
                notifyType:
                  type: string
                  description: 수신 타입 EMAIL | SMS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /qualityProfiles:
    get:
      operationId: QualityQualityList
      summary: 화질 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-quality-qualitylist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '화질 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: QualityQualityCreate
      summary: Custom 화질 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-quality-qualitycreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - type
                - audio
              properties:
                name:
                  type: string
                  description: 화질 이름 영문자, 숫자, 특수 문자 '-'를 조합하여 3~20자 이내로 입력 이름 중복 가능
                type:
                  type: string
                  description: '화질 타입 NORMAL | AUDIO NORMAL : 비디오, 오디오 출력 AUDIO : 오디오 전용 출력'
                video:
                  type: object
                  additionalProperties: true
                  description: 비디오 설정 정보 type 이 NORMAL 인 경우, 필수 입력
                audio:
                  type: object
                  additionalProperties: true
                  description: 오디오 설정 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /qualityProfiles/{qualityId}:
    get:
      operationId: QualityQualityInfo
      summary: 화질 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-quality-qualityinfo
      parameters:
        - name: qualityId
          in: path
          required: true
          schema:
            type: integer
          description: 화질 아이디 화질 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 화질 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: QualityQualityDelete
      summary: Custom 화질 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-quality-qualitydelete
      parameters:
        - name: qualityId
          in: path
          required: true
          schema:
            type: integer
          description: 화질 아이디 화질 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /qualitySets:
    get:
      operationId: QualitySetTingQualitySetTingList
      summary: 화질 설정 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-qualitysetting-qualitysettinglist
      parameters:
        - name: genType
          in: query
          required: false
          schema:
            type: string
          description: '설정 분류로 필터링 CUSTOM | SYSTEM CUSTOM : 직접 생성 SYSTEM : 기본 제공'
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: '화질 설정 타입으로 필터링 all | default | llhls all : 모든 타입 default : HLS llhls : LL-HLS'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '화질 설정 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: QualitySetTingQualitySetTingCreate
      summary: Custom 화질 설정 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-qualitysetting-qualitysettingcreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - qualityIds
                - isEnabledUll
                - enableHlsTimedMetadata
              properties:
                name:
                  type: string
                  description: 화질 설정 이름 영문자, 숫자, 특수 문자 '-'를 조합하여 3~20자 이내로 입력 이름 중복 가능
                qualityIds:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 화질 아이디 목록 최대 4개 입력 가능 1920x1080 해상도의 화질은 1개만 입력 가능 화질 목록 조회 참조
                isEnabledUll:
                  type: boolean
                  description: 'Low Latency 설정 여부 true | false true : LL-HLS (CMAF을 이용한 저지연 HLS 스트리밍을 위한 옵션) false : HLS (안정적이고 호환성 높은 HLS 스트리밍을 이용하기 위한 옵션)'
                segmentDuration:
                  type: integer
                  description: 세그먼트당 재생 시간(밀리초) 1000~10000 세그먼트 재생 시간이 길면 파일 크기가 커지고 로딩이 길어질 수 있음 세그먼트 재생 시간이 짧으면 파일 크기는 작아지지만, 버퍼링이 발생할 수 있음 isEnabledUll 이 false 인 경우, 필수 입력
                segmentCount:
                  type: integer
                  description: 세그먼트 수 2~10 세그먼트 수가 많으면 안정적인 재생이 제공되나 지연 시간과 메모리 사용량이 증가됨 세그먼트 수가 적으면 지연이 적은 반면 안정성이 떨어지고 타임머신 재생 범위가 좁아짐 isEnabledUll 이 false 인 경우, 필수 입력
                enableHlsTimedMetadata:
                  type: boolean
                  description: '시간 기반 메타데이터 설정 여부 true | false true : 설정 false : 설정 안 함 설정 시 timedMetadata.interval 마다 각 세그먼트에 메타데이터 삽입'
                timedMetadata:
                  type: object
                  additionalProperties: true
                  description: 시간 기반 메타데이터 설정 enableHlsTimedMetadata 가 true 인 경우, 필수 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /qualitySets/{qualitySetId}:
    get:
      operationId: QualitySetTingQualitySetTingInfo
      summary: 화질 설정 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-qualitysetting-qualitysettinginfo
      parameters:
        - name: qualitySetId
          in: path
          required: true
          schema:
            type: integer
          description: 화질 설정 아이디 화질 설정 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 화질 설정 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: QualitySetTingQualitySetTingUpdate
      summary: Custom 화질 설정 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-qualitysetting-qualitysettingupdate
      parameters:
        - name: qualitySetId
          in: path
          required: true
          schema:
            type: integer
          description: HLS 화질 설정 아이디 화질 설정 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - segmentDuration
                - segmentCount
              properties:
                segmentDuration:
                  type: integer
                  description: 세그먼트당 재생 시간(밀리초) 1000~10000 세그먼트 재생 시간이 길수록 파일 크기가 커지고 로딩 시간 증가 가능성 존재 세그먼트 재생 시간이 짧을수록 파일 크기는 작아지나 버퍼링 발생 가능성 존재 수정하지 않으려면 기존 값 입력
                segmentCount:
                  type: integer
                  description: 세그먼트 수 2~10 세그먼트 수가 많을수록 재생 안정성 증가하나 지연 가능성과 메모리 사용량도 증가 세그먼트 수가 적을수록 지연 가능성 감소하나 재생 안정성 및 타임머신 재생 범위도 감소 수정하지 않으려면 기존 값 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 화질 설정 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: QualitySetTingQualitySetTingDelete
      summary: Custom 화질 설정 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-qualitysetting-qualitysettingdelete
      parameters:
        - name: qualitySetId
          in: path
          required: true
          schema:
            type: integer
          description: 화질 설정 아이디 화질 설정 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /re-stream/channels:
    get:
      operationId: ReStreamChannelList
      summary: 채널 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-re-stream-channellist
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 1~N
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지당 항목 수 1~100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '채널 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ReStreamChannelCreate
      summary: 채널 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-re-stream-channelcreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelName
                - planType
                - restream
                - targetName
                - rtmpUrl
                - streamKey
              properties:
                channelName:
                  type: string
                  description: 채널 이름 한글, 영문자, 숫자, 특수 문자 '_'를 조합하여 3~20자 이내로 입력
                planType:
                  type: string
                  description: '요금제 타입 STANDARD | PROFESSIONAL STANDARD : 최대 3개 플랫폼으로 동시 송출 가능 PROFESSIONAL : 최대 5개 플랫폼으로 동시 송출 가능'
                envType:
                  type: string
                  description: 채널 타입 REAL (기본값) | DEV | STAGE 적용할 서비스 환경에 따른 구분자
                restream:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '동시 송출 플랫폼 목록: restream'
                targetName:
                  type: string
                  description: 동시 송출 플랫폼 이름 YOUTUBE | CHZZK | STEAM | YOUNOW | USTREAM | AFREECATV | PRISM | CUSTOM
                rtmpUrl:
                  type: string
                  description: 동시 송출 플랫폼 RTMP URL
                streamKey:
                  type: string
                  description: 동시 송출 플랫폼 스트림 키
                id:
                  type: string
                  description: RTMP 인증 아이디 인증 설정 필요 시 입력
                password:
                  type: string
                  description: RTMP 인증 비밀번호 인증 설정 필요 시 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /re-stream/channels/{channelId}:
    get:
      operationId: ReStreamChannelInfo
      summary: 채널 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-re-stream-channelinfo
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ReStreamChannelDelete
      summary: 채널 반납
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-re-stream-channeldelete
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /re-stream/channels/{channelId}/callbackEndpoint:
    post:
      operationId: EventCAllBackSetTingRestream
      summary: Callback Endpoint 등록(Re-Stream)
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-callbacksetting-restream
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - callbackEndpoint
              properties:
                callbackEndpoint:
                  type: string
                  description: 콜백 엔드포인트 URL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /re-stream/channels/{channelId}/events:
    get:
      operationId: EventRestreamEventList
      summary: Re-stream 채널 이벤트 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-restreameventlist
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /re-stream/channels/{channelId}/platforms:
    get:
      operationId: ReStreamPlatForMList
      summary: 동시 송출 플랫폼 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-re-stream-platformlist
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '동시 송출 플랫폼 목록: content'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /re-stream/channels/{channelId}/platforms/{platformId}:
    put:
      operationId: ReStreamPlatForMUpdate
      summary: 동시 송출 플랫폼 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-re-stream-platformupdate
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: platformId
          in: path
          required: true
          schema:
            type: integer
          description: 동시 송출 플랫폼 아이디 동시 송출 플랫폼 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rtmpUrl
                - streamKey
              properties:
                rtmpUrl:
                  type: string
                  description: 동시 송출 플랫폼 RTMP URL 수정하지 않으려면 기존 값 입력
                streamKey:
                  type: string
                  description: 동시 송출 플랫폼 스트림 키 수정하지 않으려면 기존 값 입력
                streamId:
                  type: string
                  description: RTMP 인증 아이디 인증 설정 필요 시 입력
                streamPassword:
                  type: string
                  description: RTMP 인증 비밀번호 인증 설정 필요 시 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 동시 송출 플랫폼 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /re-stream/channels/{channelId}/publish-log:
    get:
      operationId: EventRestreamPublishEventList
      summary: Re-stream 채널 송출 이벤트 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-restreampublisheventlist
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels:
    get:
      operationId: ChannelVodChannelList
      summary: 채널 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodchannellist
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지 번호 1~N
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: 페이지당 항목 수 1~100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '채널 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ChannelVodChannelCreate
      summary: 채널 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodchannelcreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelName
                - cdn
                - qualitySetId
                - drmEnabledYn
              properties:
                channelName:
                  type: string
                  description: 채널 이름 한글, 영문자, 숫자, 특수 문자 '_'를 조합하여 3~20자 이내로 입력
                cdn:
                  type: object
                  additionalProperties: true
                  description: CDN 설정
                qualitySetId:
                  type: integer
                  description: 화질 설정 아이디 화질 설정 목록 조회 참조 outputProtocol 이 LL_HLS 인 경우, Low Latency 전용 설정 선택
                envType:
                  type: string
                  description: 채널 타입 REAL (기본값) | DEV | STAGE 적용할 서비스 환경에 따른 구분자
                outputProtocol:
                  type: string
                  description: 'Output Protocol 설정 HLS (기본값) | LL_HLS | HLS,DASH HLS : 안정적이고 호환성 높은 HLS 스트리밍을 이용하기 위한 옵션 LL_HLS : CMAF을 이용한 저지연 HLS 스트리밍을 위한 옵션 HLS,DASH : 일반 HLS와 Dash 모두 스트리밍 가능한 옵션'
                drmEnabledYn:
                  type: boolean
                  description: 'Multi DRM 사용 여부 true | false true : 사용 false : 사용 안 함'
                drm:
                  type: object
                  additionalProperties: true
                  description: Multi DRM 설정 drmEnabledYn 이 true 인 경우, 필수 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels/cdnInfo:
    post:
      operationId: VodChannelBulkChange
      summary: 채널 CDN 일괄 변경
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-vodchannelbulkchange
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cdn
                - channelList
              properties:
                cdn:
                  type: object
                  additionalProperties: true
                  description: CDN 설정
                channelList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 채널 아이디 목록 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels/{channelId}:
    get:
      operationId: ChannelVodChannelInfo
      summary: 채널 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodchannelinfo
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: ChannelVodChannelUpdate
      summary: 채널 설정 변경
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodchannelupdate
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelName
              properties:
                channelName:
                  type: string
                  description: 채널 이름 한글, 영문자, 숫자, 특수 문자 '_'를 조합하여 3~20자 이내로 입력
                envType:
                  type: string
                  description: 채널 타입 REAL (기본값) | DEV | STAGE 적용할 서비스 환경에 따른 구분자이며, 기능 차이는 없음
                outputProtocol:
                  type: string
                  description: 'Output Protocol 설정 HLS (기본값) | LL_HLS | HLS,DASH HLS : 안정적이고 호환성 높은 HLS 스트리밍을 이용하기 위한 옵션 LL_HLS : CMAF을 이용한 저지연 HLS 스트리밍을 위한 옵션 HLS,DASH : 일반 HLS와 Dash 모두 스트리밍 가능한 옵션 HLS / HLS,DASH 와 LL_HLS 간 상호 전환 불가'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ChannelVodChannelDelete
      summary: 채널 반납
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodchanneldelete
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels/{channelId}/callbackEndpoint:
    post:
      operationId: EventCAllBackSetTingVod2live
      summary: Callback Endpoint 등록(VOD2LIVE)
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-event-callbacksetting-vod2live
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - callbackEndpoint
              properties:
                callbackEndpoint:
                  type: string
                  description: 콜백 엔드포인트 URL
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels/{channelId}/cdnInfo:
    post:
      operationId: VodChannelChange
      summary: 채널 CDN 변경
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-vodchannelchange
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cdn
              properties:
                cdn:
                  type: object
                  additionalProperties: true
                  description: CDN 설정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels/{channelId}/off:
    put:
      operationId: ChannelVodChannelOff
      summary: 채널 정지
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodchanneloff
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels/{channelId}/on:
    put:
      operationId: ChannelVodChannelOn
      summary: 채널 정지 해제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodchannelon
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 채널 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/channels/{channelId}/serviceUrls:
    get:
      operationId: ChannelVodServiceUrl
      summary: 채널 Service URL 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-channel-vodserviceurl
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: serviceUrlType
          in: query
          required: true
          schema:
            type: string
          description: '서비스 URL 유형 GENERAL | THUMBNAIL GENERAL : 라이브 재생 URL(HLS 및 MPEG-DASH) THUMBNAIL : 섬네일 이미지 URL'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '라이브 재생 URL 정보: content'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/schedule:
    post:
      operationId: ScheduleScheduleCreate
      summary: 스케줄 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-schedule-schedulecreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channelId
                - startTime
                - vodList
                - bucketName
                - filePath
              properties:
                channelId:
                  type: string
                  description: 채널 아이디 채널 목록 조회 참조 스케줄이 존재하는 채널은 사용 불가
                startTime:
                  type: integer
                  description: 송출 시작 일시 yyyyMMddHHmmss 형식(KST 기준) 요청 시점 기준 10분 후부터 14일 이내로 입력 가능
                vodList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '송출 VOD 목록: vodList mp4 파일만 지원 최대 50개 입력 가능'
                bucketName:
                  type: string
                  description: Object Storage 버킷 이름 ListBuckets 참조
                filePath:
                  type: string
                  description: 상세 경로 / 로 시작
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /vod/schedule/{scheduleId}:
    get:
      operationId: ScheduleSchedulelInfo
      summary: 스케줄 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-schedule-schedulelinfo
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
          description: 스케줄 아이디 스케줄 생성 , 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 스케줄 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: ScheduleScheduleUpdate
      summary: 스케줄 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-schedule-scheduleupdate
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
          description: 스케줄 아이디 스케줄 생성 , 채널 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                startTime:
                  type: integer
                  description: 송출 시작 일시 yyyyMMddHHmmss 형식(KST 기준) 요청 시점 기준 10분 후부터 14일 이내로 입력 가능
                vodList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '송출 VOD 목록: vodList mp4 파일만 지원 최대 50개 입력 가능'
                bucketName:
                  type: string
                  description: 송출 VOD 파일 저장 버킷 이름 ListBuckets 참조
                filePath:
                  type: string
                  description: 상세 경로 / 로 시작
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ScheduleScheduledElete
      summary: 스케줄 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - live-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/media-livestation-schedule-scheduledelete
      parameters:
        - name: scheduleId
          in: path
          required: true
          schema:
            type: integer
          description: 스케줄 아이디 스케줄 생성 , 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 스케줄 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    SuccessResponse:
      type: object
      description: Trivial success envelope — returned by mutations that don't carry a body.
      required:
        - success
      properties:
        success:
          type: boolean
          description: API 호출 성공 여부
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
