openapi: 3.0.3
info:
  title: media-connect-center
  description: media-connect-center
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: false

  x-ncloud-nrn:

    productName: MediaConnectCenter
    resource_types:
      - MediaConnectCenter

servers:
  - url: https://ncloudmcc.apigw.ntruss.com
    description: media-connect-center 민간
    x-ncloud-env: public
  - url: https://ncloudmcc.apigw.fin-ntruss.com
    description: media-connect-center 금융
    x-ncloud-env: financial
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /ncloudmcc/v1/companies/{companyId}/depts:
    get:
      operationId: DeptsListView
      summary: 부서 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-deptslistview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: limit
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 최대 항목 수 기본값: 10'
        - name: offset
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 시작 위치 기본값: 0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: object
                    additionalProperties: true
                    description: 페이지 정보
                  depts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '부서 목록: depts'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncloudmcc/v1/companies/{companyId}/depts/{externalKey}:
    get:
      operationId: DeptsView
      summary: 부서 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-deptsview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 부서 외부 키(External Key) 부서 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dept:
                    type: object
                    additionalProperties: true
                    description: 부서 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: DeptsCreate
      summary: 조직
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-deptscreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 부서 외부 키(External Key) 부서 식별을 위한 구분자
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sortOrd
              properties:
                name:
                  type: string
                  description: 부서 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 부서 다국어 이름
                sortOrd:
                  type: number
                  description: 조회 노출 순서
                uprDeptExternalKey:
                  type: string
                  description: '상위 부서 외부 키 기본값: 최상위 부서 부서 목록 조회 참조'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: DeptsModify
      summary: 부서 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-deptsmodify
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 부서 외부 키(External Key) 부서 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sortOrd
              properties:
                name:
                  type: string
                  description: 부서 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 부서 다국어 이름
                sortOrd:
                  type: number
                  description: 조회 노출 순서
                uprDeptExternalKey:
                  type: string
                  description: '상위 부서 외부 키 기본값: 최상위 부서 부서 목록 조회 참조'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeptsDelete
      summary: 부서 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-deptsdelete
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 부서 외부 키(External Key) 부서 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncloudmcc/v1/companies/{companyId}/job-grades:
    get:
      operationId: PositionListView
      summary: 직급 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-positionlistview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: limit
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 최대 항목 수 기본값: 10'
        - name: offset
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 시작 위치 기본값: 0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: object
                    additionalProperties: true
                    description: 페이지 정보
                  jobGrades:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '직급 목록: jobGrades'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncloudmcc/v1/companies/{companyId}/job-grades/{externalKey}:
    get:
      operationId: PositionView
      summary: 직급 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-positionview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직급 외부 키(External Key) 직급 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobGrade:
                    type: object
                    additionalProperties: true
                    description: 직급 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PositionCreate
      summary: 직급 추가
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-positioncreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직급 외부 키(External Key) 직급 식별을 위한 구분자
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sortOrd
              properties:
                name:
                  type: string
                  description: 직급 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 직급 다국어 이름
                sortOrd:
                  type: number
                  description: 조회 노출 순서
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: PositionModify
      summary: 직급 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-positionmodify
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직급 외부 키(External Key) 직급 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sortOrd
              properties:
                name:
                  type: string
                  description: 직급 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 직급 다국어 이름
                sortOrd:
                  type: number
                  description: 조회 노출 순서
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: PositionDelete
      summary: 직급 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-positiondelete
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직급 외부 키(External Key) 직급 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncloudmcc/v1/companies/{companyId}/job-positions:
    get:
      operationId: JobListView
      summary: 직책 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-joblistview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: limit
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 최대 항목 수 기본값: 10'
        - name: offset
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 시작 위치 기본값: 0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: object
                    additionalProperties: true
                    description: 페이지 정보
                  jobPositions:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '직책 목록: jobPositions'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncloudmcc/v1/companies/{companyId}/job-positions/{externalKey}:
    get:
      operationId: JobView
      summary: 직책 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-jobview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직책 외부 키(External Key) 직책 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobPosition:
                    type: object
                    additionalProperties: true
                    description: 직책 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: JobCreate
      summary: 직책 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-jobcreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직책 외부 키(External Key) 직책 식별을 위한 구분자
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sortOrd
              properties:
                name:
                  type: string
                  description: 직책 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 직책 다국어 이름
                sortOrd:
                  type: number
                  description: 조회 노출 순서
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: JobModify
      summary: 직책 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-jobmodify
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직책 외부 키(External Key) 직책 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - sortOrd
              properties:
                name:
                  type: string
                  description: 직책 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 직책 다국어 이름
                sortOrd:
                  type: number
                  description: 조회 노출 순서
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: JobDelete
      summary: 직책 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-jobdelete
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 직책 외부 키(External Key) 직책 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncloudmcc/v1/companies/{companyId}/users:
    get:
      operationId: MemberListView
      summary: 구성원 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-memberlistview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: limit
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 최대 항목 수 기본값: 10'
        - name: offset
          in: query
          required: false
          schema:
            type: number
          description: '조회 데이터의 시작 위치 기본값: 0'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: object
                    additionalProperties: true
                    description: 페이지 정보
                  users:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '구성원 목록: users'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncloudmcc/v1/companies/{companyId}/users/{externalKey}:
    get:
      operationId: MemberView
      summary: 구성원 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-memberview
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 구성원 외부 키(External Key) 구성원 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    additionalProperties: true
                    description: 구성원 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: MemberCreate
      summary: 구성원 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-membercreate
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 구성원 외부 키(External Key) 구성원 식별을 위한 구분자
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - emailAddr
              properties:
                name:
                  type: string
                  description: 구성원 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 구성원 다국어 이름
                deptExternalKey:
                  type: string
                  description: 부서 외부 키(External Key) 부서 목록 조회 참조
                jobGradeExternalKey:
                  type: string
                  description: 직급 외부 키(External Key) 직급 목록 조회 참조
                jobPositionExternalKey:
                  type: string
                  description: 직책 외부 키(External Key) 직책 목록 조회 참조
                emailAddr:
                  type: string
                  description: 이메일 주소(로그인 아이디) 해당 이메일 주소로 구성원 생성 후 변경 불가
                telNo:
                  type: string
                  description: 전화번호 {ISO 3166-1 국가 코드}+{E.164 국가 번호} {전화번호} 형태로 입력 <예시> KR+82 0212345678
                cphNo:
                  type: string
                  description: 휴대전화번호 {ISO 3166-1 국가 코드}+{E.164 국가 번호} {전화번호} 형태로 입력 <예시> KR+82 01012345678
                localeTypeCd:
                  type: string
                  description: 로케일 코드 ko_KR | ja_JP | en_US
                tmznTypeCd:
                  type: string
                  description: '타임존 코드: 타임존 코드'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: MemberModify
      summary: 구성원 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-membermodify
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 구성원 외부 키(External Key) 구성원 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: 구성원 이름
                i18nNames:
                  type: object
                  additionalProperties: true
                  description: 구성원 다국어 이름
                deptExternalKey:
                  type: string
                  description: 부서 외부 키(External Key) 부서 목록 조회 참조
                jobGradeExternalKey:
                  type: string
                  description: 직급 외부 키(External Key) 직급 목록 조회 참조
                jobPositionExternalKey:
                  type: string
                  description: 직책 외부 키(External Key) 직책 목록 조회 참조
                telNo:
                  type: string
                  description: 전화번호 {ISO 3166-1 국가 코드}+{E.164 국가 번호} {전화번호} 형태로 입력 <예시> KR+82 0212345678
                cphNo:
                  type: string
                  description: 휴대전화번호 {ISO 3166-1 국가 코드}+{E.164 국가 번호} {전화번호} 형태로 입력 <예시> KR+82 01012345678
                localeTypeCd:
                  type: string
                  description: 로케일 코드 ko_KR | ja_JP | en_US
                tmznTypeCd:
                  type: string
                  description: 타임존 코드 타임존 코드 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: MemberDelete
      summary: 구성원 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - media-connect-center

      x-ncloud-source: https://api.ncloud-docs.com/docs/mediaconnectcenter-memberdelete
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: string
          description: '연동키 콘솔에서 확인: Media Connect Center > Developers > 기본 설정 > 연동키'
        - name: externalKey
          in: path
          required: true
          schema:
            type: string
          description: 구성원 외부 키(External Key) 구성원 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    SuccessResponse:
      type: object
      description: Trivial success envelope — returned by mutations that don't carry a body.
      required:
        - success
      properties:
        success:
          type: boolean
          description: API 호출 성공 여부
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
