openapi: 3.0.3
info:
  title: mysql
  description: ''
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: true

  x-ncloud-nrn:

    productName: VPCCloudDBforMySQL
    resource_types:
      - Service
      - Server

servers:
  - url: https://ncloud.apigw.ntruss.com/vmysql/v2
    description: mysql 민간
    x-ncloud-env: public
  - url: https://ncloud.apigw.fin-ntruss.com/vmysql/v2
    description: mysql 금융
    x-ncloud-env: financial
  - url: https://ncloud.apigw.gov-ntruss.com/vmysql/v2
    description: mysql 공공
    x-ncloud-env: gov
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /addCloudMysqlDatabaseList:
    post:
      operationId: AddCloudMysqlDatabaseList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddCloudMysqlDatabaseListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCloudMysqlDatabaseListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스에 Database를 추가합니다.
  /addCloudMysqlUserList:
    post:
      operationId: AddCloudMysqlUserList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddCloudMysqlUserListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCloudMysqlUserListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스에 DB User를 추가합니다.
  /changeCloudMysqlUserList:
    post:
      operationId: ChangeCloudMysqlUserList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChangeCloudMysqlUserListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeCloudMysqlUserListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스에 등록된 DB User의 정보를 수정합니다.
  /createCloudMysqlInstance:
    post:
      operationId: CreateCloudMysqlInstance
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCloudMysqlInstanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCloudMysqlInstanceResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: 가이드는 GET 방식 기준으로 안내합니다. POST 방식의 호출 테스트는 네이버 클라우드 플랫폼 콘솔의 API Gateway 서비스에서 Swagger를 통해서 가능합니다.
  /createCloudMysqlRecoveryInstance:
    post:
      operationId: CreateCloudMysqlRecoveryInstance
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCloudMysqlRecoveryInstanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCloudMysqlRecoveryInstanceResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스에 Recovery 서버 인스턴스를 생성합니다.
      description: |
        생성한 Recovery 서버 인스턴스는 마스터 서버의 데이터 손실 또는 시스템 장애 발생 시
        백업 파일 또는 특정 시점 데이터베이스 스냅숏을 기반으로 데이터 복구 작업을 수행할 수 있습니다.
  /createCloudMysqlSlaveInstance:
    post:
      operationId: CreateCloudMysqlSlaveInstance
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateCloudMysqlSlaveInstanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCloudMysqlSlaveInstanceResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스에 Slave 서버 인스턴스를 추가합니다.
  /deleteCloudMysqlDatabaseList:
    post:
      operationId: DeleteCloudMysqlDatabaseList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteCloudMysqlDatabaseListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCloudMysqlDatabaseListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 Database를 삭제합니다.
  /deleteCloudMysqlInstance:
    post:
      operationId: DeleteCloudMysqlInstance
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteCloudMysqlInstanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCloudMysqlInstanceResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스를 삭제합니다.
  /deleteCloudMysqlServerInstance:
    post:
      operationId: DeleteCloudMysqlServerInstance
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteCloudMysqlServerInstanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCloudMysqlServerInstanceResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 서버 인스턴스를 삭제합니다.
  /deleteCloudMysqlUserList:
    post:
      operationId: DeleteCloudMysqlUserList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteCloudMysqlUserListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCloudMysqlUserListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 DB User를 삭제합니다.
  /exportBackupToObjectStorage:
    post:
      operationId: ExportBackupToObjectStorage
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExportBackupToObjectStorageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportBackupToObjectStorageResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 백업 파일을 Object Storage로 전송합니다.
      description: |
        백업 파일을 Object Storage로 전송하기 전에 백업 파일을 저장하고, 검색하기 위한
        Object Storage 버킷이 생성되어 있어야 합니다. 자세한 내용은 Object Storage 가이드를
        참조해 주십시오.
  /exportDbServerLogToObjectStorage:
    post:
      operationId: ExportDbServerLogToObjectStorage
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExportDbServerLogToObjectStorageRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportDbServerLogToObjectStorageResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 DB Server 로그 파일을 Object Storage로 전송합니다.
      description: |
        DB Server 로그 파일을 Object Storage로 전송하기 전에 DB Server 로그 파일을 저장하고,
        검색하기 위한 Object Storage 버킷이 생성되어 있어야 합니다. 자세한 내용은
        Object Storage 가이드를 참조해 주십시오.
  /getCloudMysqlBackupDetailList:
    post:
      operationId: GetCloudMysqlBackupDetailList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlBackupDetailListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlBackupDetailListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 백업 상세 정보를 목록으로 조회합니다.
  /getCloudMysqlBackupList:
    post:
      operationId: GetCloudMysqlBackupList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlBackupListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlBackupListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Get cloud my sql backup list
  /getCloudMysqlDatabaseList:
    post:
      operationId: GetCloudMysqlDatabaseList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlDatabaseListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlDatabaseListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 Database 목록을 조회합니다.
  /getCloudMysqlImageProductList:
    post:
      operationId: GetCloudMysqlImageProductList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlImageProductListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlImageProductListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 이미지 상품 코드 목록을 조회합니다.
  /getCloudMysqlInstanceDetail:
    post:
      operationId: GetCloudMysqlInstanceDetail
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlInstanceDetailRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlInstanceDetailResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스 상세 정보를 조회합니다.
  /getCloudMysqlInstanceList:
    post:
      operationId: GetCloudMysqlInstanceList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlInstanceListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlInstanceListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: 가이드는 GET 방식 기준으로 안내합니다. POST 방식의 호출 테스트는 네이버 클라우드 플랫폼 콘솔의 API Gateway 서비스에서 Swagger를 통해서 가능합니다.
  /getCloudMysqlProductList:
    post:
      operationId: GetCloudMysqlProductList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlProductListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlProductListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: 사용할 수 있는 Cloud DB for MySQL 서버 스펙 코드 목록을 조회합니다.
  /getCloudMysqlRecoveryTime:
    post:
      operationId: GetCloudMysqlRecoveryTime
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlRecoveryTimeRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlRecoveryTimeResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 복원 가능 시간을 조회합니다.
  /getCloudMysqlTargetSubnetList:
    post:
      operationId: GetCloudMysqlTargetSubnetList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlTargetSubnetListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlTargetSubnetListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL에서 사용할 수 있는 Subnet 목록을 조회합니다.
  /getCloudMysqlTargetVpcList:
    post:
      operationId: GetCloudMysqlTargetVpcList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlTargetVpcListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlTargetVpcListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL에서 사용할 수 있는 VPC 목록을 조회합니다.
  /getCloudMysqlUserList:
    post:
      operationId: GetCloudMysqlUserList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetCloudMysqlUserListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudMysqlUserListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 DB User 목록을 조회합니다.
  /getDbServerLogList:
    post:
      operationId: GetDbServerLogList
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GetDbServerLogListRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDbServerLogListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: Cloud DB for MySQL 인스턴스의 DB Server 로그 목록을 조회합니다.
  /rebootCloudMysqlServerInstance:
    post:
      operationId: RebootCloudMysqlServerInstance
      tags:
        - mysql
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RebootCloudMysqlServerInstanceRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RebootCloudMysqlServerInstanceResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'

      x-ncloud-source: sdk:NaverCloudPlatform/ncloud-sdk-go-v2@6eac36b
      summary: 가이드는 GET 방식 기준으로 안내합니다. POST 방식의 호출 테스트는 네이버 클라우드 플랫폼 콘솔의 API Gateway 서비스에서 Swagger를 통해서 가능합니다.
components:
  schemas:
    AddCloudMysqlDatabaseListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlDatabaseNameList:
          type: array
          description: CloudMysqlDatabase 리스트
          items:
            type: string
      required:
        - cloudMysqlDatabaseNameList
    AddCloudMysqlDatabaseListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
    AddCloudMysqlUserListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlUserList:
          type: array
          description: CloudMysqlDBUser 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlUserParameter'
      required:
        - cloudMysqlUserList
    AddCloudMysqlUserListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
    ChangeCloudMysqlUserListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlUserList:
          type: array
          description: CloudMysqlDBUser 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlUserParameter'
      required:
        - cloudMysqlUserList
    ChangeCloudMysqlUserListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
    CloudDbProduct:
      type: object
      properties:
        productCode:
          type: string
          description: 상품코드
        productName:
          type: string
          description: 상품이름
        productType:
          $ref: '#/components/schemas/CommonCode'
        productDescription:
          type: string
          description: 상품설명
        infraResourceType:
          $ref: '#/components/schemas/CommonCode'
        infraResourceDetailType:
          $ref: '#/components/schemas/CommonCode'
        cpuCount:
          type: integer
          format: int32
          description: CPU 개수
        memorySize:
          type: integer
          format: int64
          description: 메모리사이즈
        baseBlockStorageSize:
          type: integer
          format: int64
          description: 기본블록스토리지사이즈
        platformType:
          $ref: '#/components/schemas/CommonCode'
        osInformation:
          type: string
          description: OS 정보
        diskType:
          $ref: '#/components/schemas/CommonCode'
        dbKindCode:
          type: string
          description: DB 유형 코드
        addBlockStorageSize:
          type: integer
          format: int64
          description: 추가블록스토리지사이즈
        generationCode:
          type: string
          description: 세대코드
        engineVersionCode:
          type: string
          description: engineVersionCode
    CloudMysqlBackup:
      type: object
      properties:
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlServiceName:
          type: string
          description: CloudMysql 서비스이름
        backupFileRetentionPeriod:
          type: integer
          format: int32
          description: 백업파일보관기간
        backupTime:
          type: string
          description: 백업시간
        backupSize:
          type: integer
          format: int64
          description: 백업사이즈
        lastBackupDate:
          type: string
          description: 마지막백업일시
    CloudMysqlBackupDetail:
      type: object
      properties:
        fileName:
          type: string
          description: 백업파일이름
        startTime:
          type: string
          description: 백업시작시간
        endTime:
          type: string
          description: 백업종료시간
        backupSize:
          type: integer
          format: int64
          description: 백업사이즈
        dataStorageSize:
          type: integer
          format: int64
          description: 데이터스토리지사이즈
    CloudMysqlDatabase:
      type: object
      properties:
        databaseName:
          type: string
          description: database 이름
    CloudMysqlDbServerLog:
      type: object
      properties:
        fileName:
          type: string
          description: 데이터베이스서버로그파일이름
        fileSize:
          type: integer
          format: int64
          description: 데이터베이스서버로그파일사이즈
        fileDate:
          type: string
          description: 데이터베이스서버로그파일수정일시
    CloudMysqlInstance:
      type: object
      properties:
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlServiceName:
          type: string
          description: CloudMysql 서비스이름
        cloudMysqlInstanceStatusName:
          type: string
          description: CloudMysql 인스턴스 상태이름
        cloudMysqlInstanceStatus:
          $ref: '#/components/schemas/CommonCode'
        cloudMysqlInstanceOperation:
          $ref: '#/components/schemas/CommonCode'
        cloudMysqlImageProductCode:
          type: string
          description: CloudMysql 이미지상품코드
        engineVersion:
          type: string
          description: CloudMysql 엔진버전
        license:
          $ref: '#/components/schemas/CommonCode'
        cloudMysqlPort:
          type: integer
          format: int32
          description: CloudMysql 포트
        isHa:
          type: boolean
          description: 고가용성여부
        isMultiZone:
          type: boolean
          description: 멀티존여부
        generationCode:
          type: string
          description: 서버 세대 코드
        isBackup:
          type: boolean
          description: 백업여부
        backupFileRetentionPeriod:
          type: integer
          format: int32
          description: 백업파일보관기간
        backupTime:
          type: string
          description: 백업시간
        createDate:
          type: string
          description: 생성일자
        accessControlGroupNoList:
          type: array
          description: ACG 번호 리스트
          items:
            type: string
        cloudMysqlConfigList:
          type: array
          description: CloudMysqlConfig 리스트
          items:
            type: string
        cloudMysqlServerInstanceList:
          type: array
          description: CloudMysql 서버인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlServerInstance'
    CloudMysqlRecoveryTime:
      type: object
      properties:
        recoveryStartTime:
          type: string
          description: 시점복원가능한시작시간
        recoveryEndTime:
          type: string
          description: 시점복원가능한마지막시간
    CloudMysqlServerInstance:
      type: object
      properties:
        cloudMysqlServerInstanceNo:
          type: string
          description: CloudMysql 서버인스턴스 번호
        cloudMysqlServerName:
          type: string
          description: CloudMysql 서버 이름
        cloudMysqlServerRole:
          $ref: '#/components/schemas/CommonCode'
        cloudMysqlServerInstanceStatusName:
          type: string
          description: CloudMysql 인스턴스 상태이름
        cloudMysqlServerInstanceStatus:
          $ref: '#/components/schemas/CommonCode'
        cloudMysqlServerInstanceOperation:
          $ref: '#/components/schemas/CommonCode'
        cloudMysqlProductCode:
          type: string
          description: CloudMysql 상품코드
        regionCode:
          type: string
          description: REGION 코드
        zoneCode:
          type: string
          description: ZONE 코드
        vpcNo:
          type: string
          description: VPC 번호
        subnetNo:
          type: string
          description: Subnet 번호
        isPublicSubnet:
          type: boolean
          description: PublicSubnet 여부
        publicDomain:
          type: string
          description: 공인도메인명
        privateDomain:
          type: string
          description: 사설도메인명
        privateIp:
          type: string
          description: 사설 IP
        dataStorageType:
          $ref: '#/components/schemas/CommonCode'
        isStorageEncryption:
          type: boolean
          description: 데이터스토리지암호화여부
        dataStorageSize:
          type: integer
          format: int64
          description: 데이터스토리지사이즈
        usedDataStorageSize:
          type: integer
          format: int64
          description: 사용중인데이터스토리지사이즈
        cpuCount:
          type: integer
          format: int32
          description: virtualCPU 개수
        memorySize:
          type: integer
          format: int64
          description: 메모리사이즈
        uptime:
          type: string
          description: 업시간
        createDate:
          type: string
          description: 생성일자
    CloudMysqlUser:
      type: object
      properties:
        userName:
          type: string
          description: DBUserID
        hostIp:
          type: string
          description: 접근 IP
        authority:
          type: string
          description: DB 권한
        isSystemTableAccess:
          type: boolean
          description: 시스템테이블 접근 가능여부
    CloudMysqlUserKeyParameter:
      type: object
      properties:
        name:
          type: string
          description: DBUserID
        hostIp:
          type: string
          description: 접근 IP
    CloudMysqlUserParameter:
      type: object
      properties:
        name:
          type: string
          description: DBUserID
        hostIp:
          type: string
          description: 접근 IP
        password:
          type: string
          description: DBUserPassword
        authority:
          type: string
          description: DB 권한
        isSystemTableAccess:
          type: boolean
          description: 시스템테이블 접근 가능여부
    CommonCode:
      type: object
      properties:
        code:
          type: string
          description: 코드
        codeName:
          type: string
          description: 코드명
    CreateCloudMysqlInstanceRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        vpcNo:
          type: string
          description: VPC 번호
        cloudMysqlImageProductCode:
          type: string
          description: CloudMysql 이미지상품코드
        cloudMysqlProductCode:
          type: string
          description: CloudMysql 상품코드
        dataStorageTypeCode:
          type: string
          description: 데이터스토리지유형 코드
        isHa:
          type: boolean
          description: 고가용성여부
        isMultiZone:
          type: boolean
          description: 멀티존여부
        isStorageEncryption:
          type: boolean
          description: 데이터스토리지암호화여부
        isBackup:
          type: boolean
          description: 백업여부
        backupFileRetentionPeriod:
          type: integer
          format: int32
          description: 백업파일보관기간
        backupTime:
          type: string
          description: 백업시간
        isAutomaticBackup:
          type: boolean
          description: 백업시간자동여부
        cloudMysqlServiceName:
          type: string
          description: CloudMysql 서비스이름
        cloudMysqlServerNamePrefix:
          type: string
          description: CloudMysql 서버 이름
        cloudMysqlUserName:
          type: string
          description: CloudMysql 유저명
        cloudMysqlUserPassword:
          type: string
          description: CloudMysql 유저패스워드
        hostIp:
          type: string
          description: 호스트 IP
        cloudMysqlPort:
          type: integer
          format: int32
          description: CloudMysql 포트
        cloudMysqlDatabaseName:
          type: string
          description: CloudMysqlDB 명
        subnetNo:
          type: string
          description: Subnet 번호
        standbyMasterSubnetNo:
          type: string
          description: StandbyMasterSubnet 번호
        isPrivateSubDomain:
          type: boolean
          description: privateSubDomain 사용여부
        isDeleteProtection:
          type: boolean
          description: 클러스터반납보호여부
        privateSubDomainPrefix:
          type: string
          description: privateSubDomain 접두어
        engineVersionCode:
          type: string
          description: engineVersionCode
    CreateCloudMysqlInstanceResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    CreateCloudMysqlRecoveryInstanceRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        subnetNo:
          type: string
          description: Subnet 번호
        fileName:
          type: string
          description: 백업파일이름
        recoveryTime:
          type: string
          description: 복원시간
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlRecoveryServerName:
          type: string
          description: CloudMysqlRecovery 서버 이름
    CreateCloudMysqlRecoveryInstanceResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    CreateCloudMysqlSlaveInstanceRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        subnetNo:
          type: string
          description: Subnet 번호
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
    CreateCloudMysqlSlaveInstanceResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    DeleteCloudMysqlDatabaseListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlDatabaseNameList:
          type: array
          description: CloudMysqlDatabase 리스트
          items:
            type: string
      required:
        - cloudMysqlDatabaseNameList
    DeleteCloudMysqlDatabaseListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
    DeleteCloudMysqlInstanceRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
    DeleteCloudMysqlInstanceResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    DeleteCloudMysqlServerInstanceRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlServerInstanceNo:
          type: string
          description: CloudMysql 서버인스턴스 번호
    DeleteCloudMysqlServerInstanceResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    DeleteCloudMysqlUserListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        cloudMysqlUserList:
          type: array
          description: CloudMysqlDBUser 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlUserKeyParameter'
      required:
        - cloudMysqlUserList
    DeleteCloudMysqlUserListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
    ExportBackupToObjectStorageRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        fileName:
          type: string
          description: 백업파일이름
        bucketName:
          type: string
          description: ObjectStorage 버킷이름
        folderPath:
          type: string
          description: 폴더경로
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
    ExportBackupToObjectStorageResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
    ExportDbServerLogToObjectStorageRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        logType:
          type: string
          description: 데이터베이스서버로그파일타입
        fileName:
          type: string
          description: 데이터베이스서버로그파일이름
        bucketName:
          type: string
          description: ObjectStorage 버킷이름
        cloudMysqlServerInstanceNo:
          type: string
          description: CloudMysql 서버인스턴스 번호
        folderPath:
          type: string
          description: 폴더경로
    ExportDbServerLogToObjectStorageResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
    GetCloudMysqlBackupDetailListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        pageNo:
          type: integer
          format: int32
          description: 페이지번호
        pageSize:
          type: integer
          format: int32
          description: 페이지사이즈
    GetCloudMysqlBackupDetailListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlBackupDetailList:
          type: array
          description: CloudMysql 백업상세리스트
          items:
            $ref: '#/components/schemas/CloudMysqlBackupDetail'
    GetCloudMysqlBackupListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
    GetCloudMysqlBackupListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlBackupList:
          type: array
          description: CloudMysql 백업리스트
          items:
            $ref: '#/components/schemas/CloudMysqlBackup'
    GetCloudMysqlDatabaseListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        pageNo:
          type: integer
          format: int32
          description: 페이지번호
        pageSize:
          type: integer
          format: int32
          description: 페이지사이즈
    GetCloudMysqlDatabaseListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlDatabaseList:
          type: array
          description: CloudMysqlDatabase 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlDatabase'
    GetCloudMysqlImageProductListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        productCode:
          type: string
          description: 조회할상품코드
        exclusionProductCode:
          type: string
          description: 제외할상품코드
        generationCode:
          type: string
          description: 세대코드
    GetCloudMysqlImageProductListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        productList:
          type: array
          description: 상품리스트
          items:
            $ref: '#/components/schemas/CloudDbProduct'
    GetCloudMysqlInstanceDetailRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
    GetCloudMysqlInstanceDetailResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    GetCloudMysqlInstanceListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        zoneCode:
          type: string
          description: ZONE 코드
        vpcNo:
          type: string
          description: VPC 번호
        subnetNo:
          type: string
          description: Subnet 번호
        cloudMysqlServiceName:
          type: string
          description: CloudMysql 서비스이름
        cloudMysqlInstanceNoList:
          type: array
          description: CloudMysql 인스턴스 번호 리스트
          items:
            type: string
        cloudMysqlServerName:
          type: string
          description: CloudMysql 서버 이름
        cloudMysqlServerInstanceNoList:
          type: array
          description: CloudMysql 서버인스턴스 번호 리스트
          items:
            type: string
        pageNo:
          type: integer
          format: int32
          description: 페이지번호
        generationCode:
          type: string
          description: 세대코드
        pageSize:
          type: integer
          format: int32
          description: 페이지사이즈
    GetCloudMysqlInstanceListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    GetCloudMysqlProductListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        zoneCode:
          type: string
          description: ZONE 코드
        cloudMysqlImageProductCode:
          type: string
          description: CloudMysql 이미지상품코드
        productCode:
          type: string
          description: 조회할상품코드
        exclusionProductCode:
          type: string
          description: 제외할상품코드
    GetCloudMysqlProductListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        productList:
          type: array
          description: 상품리스트
          items:
            $ref: '#/components/schemas/CloudDbProduct'
    GetCloudMysqlRecoveryTimeRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
    GetCloudMysqlRecoveryTimeResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          $ref: '#/components/schemas/CloudMysqlRecoveryTime'
    GetCloudMysqlTargetSubnetListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        vpcNo:
          type: string
          description: VPC 번호
        cloudMysqlImageProductCode:
          type: string
          description: CloudMysql 이미지상품코드
        isPublic:
          type: boolean
          description: public 서브넷여부
    GetCloudMysqlTargetSubnetListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        targetSubnetList:
          type: array
          description: 상품리스트
          items:
            $ref: '#/components/schemas/TargetSubnet'
    GetCloudMysqlTargetVpcListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
    GetCloudMysqlTargetVpcListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        targetVpcList:
          type: array
          description: 상품리스트
          items:
            $ref: '#/components/schemas/TargetVpc'
    GetCloudMysqlUserListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlInstanceNo:
          type: string
          description: CloudMysql 인스턴스 번호
        pageNo:
          type: integer
          format: int32
          description: 페이지번호
        pageSize:
          type: integer
          format: int32
          description: 페이지사이즈
    GetCloudMysqlUserListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlUserList:
          type: array
          description: CloudMysqlUser 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlUser'
    GetDbServerLogListRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        logType:
          type: string
          description: 데이터베이스서버로그파일타입
        cloudMysqlServerInstanceNo:
          type: string
          description: CloudMysql 서버인스턴스 번호
    GetDbServerLogListResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlDbServerLogList:
          type: array
          description: CloudMysql 데이터베이스서버로그리스트
          items:
            $ref: '#/components/schemas/CloudMysqlDbServerLog'
    RebootCloudMysqlServerInstanceRequest:
      type: object
      properties:
        regionCode:
          type: string
          description: REGION 코드
        cloudMysqlServerInstanceNo:
          type: string
          description: CloudMysql 서버인스턴스 번호
    RebootCloudMysqlServerInstanceResponse:
      type: object
      properties:
        requestId:
          type: string
        returnCode:
          type: string
        returnMessage:
          type: string
        totalRows:
          type: integer
          format: int32
        cloudMysqlInstanceList:
          type: array
          description: CloudMysql 인스턴스 리스트
          items:
            $ref: '#/components/schemas/CloudMysqlInstance'
    TargetSubnet:
      type: object
      properties:
        subnetNo:
          type: string
          description: Subnet 번호
        subnetName:
          type: string
          description: Subnet 이름
        vpcNo:
          type: string
          description: VPC 번호
        vpcName:
          type: string
          description: VPC 이름
        zoneCode:
          type: string
          description: ZONE 코드
        subnet:
          type: string
          description: Subnet
        isPublic:
          type: string
          description: Public 여부
        createdDate:
          type: string
          description: 생성시간
    TargetVpc:
      type: object
      properties:
        vpcNo:
          type: string
          description: VPC 번호
        vpcName:
          type: string
          description: VPC 이름
        ipv4Cidr:
          type: string
          description: IPv4 CIDR
        regionCode:
          type: string
          description: REGION 코드
        createdDate:
          type: string
          description: 생성시간
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
