openapi: 3.0.3
info:
  title: Naver CLUE
  description: Naver CLUE
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn-todo: true
servers:
  - url: https://nclue.apigw.ntruss.com/api/v1
    description: nclue 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /features:
    get:
      operationId: GetFeatureList
      summary: Feature 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-getfeaturelist
      parameters:
        - name: index
          in: query
          required: false
          schema:
            type: integer
          description: '목록 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '목록 출력 제한 값 1~100 (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: integer
                    description: 목록 시작 위치
                  limit:
                    type: integer
                    description: 목록 출력 제한 값
                  total:
                    type: integer
                    description: 조회된 Feature 개수
                  features:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Feature 목록: features'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostFeature
      summary: Feature 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-postfeature
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - source_bucket
                - source_file_path
              properties:
                name:
                  type: string
                  description: Feature 이름 1~100자
                source_bucket:
                  type: string
                  description: 시퀀스 데이터셋 파일이 저장된 Object Storage 버킷 이름
                source_file_path:
                  type: string
                  description: source_bucket 내 시퀀스 데이터셋 파일 경로 다음 특수 문자가 포함된 파일 경로는 입력 불가 &$@;:+,?*\{}^%`[]<>~#|"' ASCII 코드가 0~31, 128~255인 문자 공백(스페이스) 파일이 여러 개 있는 경우, 디렉토리 경로 입력(Hadoop 작업으로 데이터가 디렉토리 단위로 사용될 때)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature_id:
                    type: string
                    description: Feature ID
                  feature_name:
                    type: string
                    description: Feature 이름
                  created_at:
                    type: string
                    description: Feature 생성 요청 일시 ISO 8601 형식
                  source_bucket:
                    type: string
                    description: 시퀀스 데이터셋 파일이 저장된 Object Storage 버킷 이름
                  source_file_path:
                    type: string
                    description: source_bucket 내 시퀀스 데이터셋 파일 경로
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /features/{feature_id}:
    get:
      operationId: GetFeature
      summary: Feature 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-getfeature
      parameters:
        - name: feature_id
          in: path
          required: true
          schema:
            type: string
          description: Feature ID Feature 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature_id:
                    type: string
                    description: Feature ID
                  feature_name:
                    type: string
                    description: Feature 이름
                  status:
                    type: string
                    description: 'Feature 상태 registered | pending | in_progress | completed | failed registered : 등록됨 pending : 대기 중 in_progress : 생성 중 completed : 사용 가능 failed : 실패'
                  created_at:
                    type: string
                    description: Feature 생성 요청 일시(ISO 8601 형식)
                  completed_at:
                    type: string
                    description: Feature 생성 완료 일시(ISO 8601 형식)
                  source_bucket:
                    type: string
                    description: 시퀀스 데이터셋 파일이 저장된 Object Storage 버킷 이름
                  source_file_path:
                    type: string
                    description: source_bucket 내 시퀀스 데이터셋 파일 경로
                  user_count:
                    type: integer
                    description: 시퀀스 데이터셋의 사용자 수
                  token_count:
                    type: integer
                    description: 시퀀스 데이터셋의 토큰 수
                  disk_usage:
                    type: integer
                    description: Feature 용량(Byte)
                  fail_message:
                    type: string
                    description: 생성 실패 메시지 생성 실패 시 메시지를 반환하며, 성공 시에는 null 리턴 메시지별 해결 방법은 NCLUE 문제 해결 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteFeature
      summary: Feature 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-deletefeature
      parameters:
        - name: feature_id
          in: path
          required: true
          schema:
            type: string
          description: Feature ID Feature 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  feature_id:
                    type: string
                    description: Feature ID
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /profile/custom-attributes:
    get:
      operationId: GetCustomAttributesList
      summary: Custom Attributes 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-getcustomattributeslist
      parameters:
        - name: index
          in: query
          required: false
          schema:
            type: integer
          description: '목록 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '목록 출력 제한 값 1~100 (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: integer
                    description: 목록 시작 위치
                  limit:
                    type: integer
                    description: 목록 출력 제한 값
                  total:
                    type: integer
                    description: 조회된 Profile 개수
                  profiles:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Profile 목록: profiles'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostCustomAttributes
      summary: Custom Attributes 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-postcustomattributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - feature_id
                - keyword_set
                - result_bucket
                - result_file_path
              properties:
                name:
                  type: string
                  description: Profile 이름 1~100 자
                feature_id:
                  type: string
                  description: 프로파일링에 적용할 Feature ID Feature 목록 조회 참조
                keyword_set:
                  type: string
                  description: 대상 사용자와 유사도를 확인할 속성 키워드 목록 전체 키워드 총합 1,000 글자 이내 각 키워드는 '\n'으로 구분 <예시> 러닝\n 달리기\n 마라톤
                result_bucket:
                  type: string
                  description: 프로파일링 결과를 저장할 Object Storage 버킷 이름
                result_file_path:
                  type: string
                  description: 프로파일링 결과를 저장할 result_bucket 내 파일 경로 다음 특수 문자가 포함된 파일 경로는 입력 불가 &$@;:+,?*\{}^%`[]<>~#|"' ASCII 코드가 0~31, 128~255인 문자 공백(스페이스) 파일명 생성 규칙 입력 문자열이 '/'로 끝나면 디렉토리로 간주하여, 디렉토리 내부에 'nclue_{난수}_{연 월시}.tsv' 파일명으로 생성 그 외는 입력 문자열을 파일명으로 간주하여 '{입력문자열}_{난수}_{연월시}.tsv' 파일명으로 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                    description: Profile ID
                  profile_name:
                    type: string
                    description: Profile 이름
                  feature_id:
                    type: string
                    description: 프로파일링할 Feature ID
                  feature_name:
                    type: string
                    description: 프로파일링할 Feature 이름
                  keyword_set:
                    type: string
                    description: 속성 키워드 목록 각 키워드는 ','로 구분
                  created_at:
                    type: string
                    description: Profile 생성 요청 일시 ISO 8601 형식
                  result_bucket:
                    type: string
                    description: 프로파일링 결과를 저장할 Object Storage 버킷 이름
                  result_file_path:
                    type: string
                    description: 프로파일링 결과를 저장할 result_bucket 내 파일 경로
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /profile/custom-attributes/{profile_id}:
    get:
      operationId: GetCustomAttributes
      summary: Custom Attributes 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-getcustomattributes
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: Profile ID Custom Attributes 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                    description: Profile ID
                  profile_name:
                    type: string
                    description: Profile 이름
                  feature_id:
                    type: string
                    description: 프로파일링에 적용할 Feature ID
                  feature_name:
                    type: string
                    description: 프로파일링에 적용할 Feature 이름
                  keyword_set:
                    type: string
                    description: 속성 키워드 목록 각 키워드는 ','로 구분
                  status:
                    type: string
                    description: 'Profile 상태 registered | pending | in_progress | completed | failed registered : 등록됨 pending : 대기 중 in_progress : 생성 중 completed : 사용 가능 failed : 실패'
                  created_at:
                    type: string
                    description: Profile 생성 요청 일시 ISO 8601 형식
                  completed_at:
                    type: string
                    description: Profile 생성 완료 일시 ISO 8601 형식
                  result_bucket:
                    type: string
                    description: 프로파일링 결과가 저장된 Object Storage 버킷 이름
                  result_file_path:
                    type: string
                    description: 프로파일링 결과가 저장된 result_bucket 내 파일 경로
                  line_count:
                    type: integer
                    description: 프로파일링에 적용할 Feature의 라인 수
                  fail_message:
                    type: string
                    description: 생성 실패 메시지 생성 실패 시 메시지를 반환하며, 성공 시에는 null 리턴 메시지별 해결 방법은 NCLUE 문제 해결 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteCustomAttributes
      summary: Custom Attributes 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-deletecustomattributes
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: Profile ID Custom Attributes 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                    description: Profile ID
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /profile/shopping-intents:
    get:
      operationId: GetShoppingintentList
      summary: Shopping Intent 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-getshoppingintentlist
      parameters:
        - name: index
          in: query
          required: false
          schema:
            type: integer
          description: '목록 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '목록 출력 제한 값 1~100 (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: integer
                    description: 목록 시작 위치
                  limit:
                    type: integer
                    description: 목록 출력 제한 값
                  total:
                    type: integer
                    description: 조회된 Profile 개수
                  profiles:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Profile 목록: profiles'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostShoppingintent
      summary: Shopping Intent 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-postshoppingintent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - task_id
              properties:
                name:
                  type: string
                  description: Profile 이름 1~100 자
                task_id:
                  type: string
                  description: 프로파일링에 적용할 Task ID Task 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                    description: Profile ID
                  profile_name:
                    type: string
                    description: Profile 이름
                  task_id:
                    type: string
                    description: 프로파일링에 적용할 Task ID
                  task_name:
                    type: string
                    description: 프로파일링에 적용할 Task 이름
                  created_at:
                    type: string
                    description: Profile 생성 요청 일시 ISO 8601 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /profile/shopping-intents-download/{profile_id}:
    get:
      operationId: GetShoppingintentDownload
      summary: Shopping Intent 다운로드
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-getshoppingintentdownload
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: Profile ID Shopping Intent 목록 조회 를 통해 확인
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  File:
                    type: string
                    description: 'Shopping Intent 프로파일링 결과 파일 파일명: {profile_id}.tsv API를 호출한 서버에 저장됨'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /profile/shopping-intents/{profile_id}:
    get:
      operationId: GetShoppingintent
      summary: Shopping Intent 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-getshoppingintent
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: Profile ID Shopping Intent 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                    description: Profile ID
                  profile_name:
                    type: string
                    description: Profile 이름
                  task_id:
                    type: string
                    description: 프로파일링에 적용할 Task ID
                  task_name:
                    type: string
                    description: 프로파일링에 적용할 Task 이름
                  status:
                    type: string
                    description: 'Profile 상태 registered | pending | in_progress | completed | failed registered : 등록됨 pending : 대기 중 in_progress : 생성 중 completed : 사용 가능 failed : 실패'
                  created_at:
                    type: string
                    description: Profile 생성 요청 일시 ISO 8601 형식
                  completed_at:
                    type: string
                    description: Profile 생성 완료 일시 ISO 8601 형식
                  line_count:
                    type: integer
                    description: Task에 적용된 Feature의 라인 수
                  disk_usage:
                    type: integer
                    description: Profile 용량(Byte)
                  fail_message:
                    type: string
                    description: 생성 실패 메시지 생성 실패 시 메시지를 반환하며, 성공 시에는 null 리턴 메시지별 해결 방법은 NCLUE 문제 해결 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteShoppingintent
      summary: Shopping Intent 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-deleteshoppingintent
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: string
          description: Profile ID Shopping Intent 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                    description: Profile ID
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /task-runs:
    get:
      operationId: GetTaskrunList
      summary: Task Run 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-gettaskrunlist
      parameters:
        - name: index
          in: query
          required: false
          schema:
            type: integer
          description: '목록 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '목록 출력 제한 값 1~100 (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: integer
                    description: 목록 시작 위치
                  limit:
                    type: integer
                    description: 목록 출력 제한 값
                  total:
                    type: integer
                    description: 조회된 Run 개수
                  runs:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Run 목록: runs'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostTaskrun
      summary: Task Run 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-posttaskrun
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - task_id
                - feature_id
                - result_bucket
                - result_file_path
              properties:
                name:
                  type: string
                  description: Task 이름 1~100자
                task_id:
                  type: string
                  description: 적용하려는 Task ID
                feature_id:
                  type: string
                  description: Task에 적용된 Feature ID Task 조회 참조
                result_bucket:
                  type: string
                  description: 작업 결과를 저장할 Object Storage 버킷 이름
                result_file_path:
                  type: string
                  description: result_bucket 내 작업 결과를 저장할 파일 경로 다음 특수 문자가 포함된 파일 경로는 입력 불가 &$@;:+,?*\{}^%`[]<>~#|"' ASCII 코드가 0~31, 128~255인 문자 공백(스페이스) 파일명 생성 규칙 입력 문자열이 '/'로 끝나면 디렉토리로 간주하여, 디렉토리 내부에 'nclue_{난수}_{연 월시}.tsv' 파일명으로 생성 그 외는 입력 문자열을 파일명으로 간주하여 '{입력문자열}_{난수}_{연월시}.tsv' 파일명으로 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    description: Run ID
                  run_name:
                    type: string
                    description: Run 이름
                  task_id:
                    type: string
                    description: 적용하려는 Task ID
                  task_name:
                    type: string
                    description: 적용하려는 Task 이름
                  feature_id:
                    type: string
                    description: Task에 적용된 Feature ID
                  feature_name:
                    type: string
                    description: Task에 적용된 Feature 이름
                  created_at:
                    type: string
                    description: Task 생성 요청 일시 ISO 8601 형식
                  result_bucket:
                    type: string
                    description: 작업 결과를 저장할 Object Storage 버킷 이름
                  result_file_path:
                    type: string
                    description: 작업 결과를 저장할 Object Storage 버킷의 파일 경로
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /task-runs/{run_id}:
    get:
      operationId: GetTaskrun
      summary: Task Run 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-gettaskrun
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: string
          description: Run ID Task Run 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    description: Run ID
                  run_name:
                    type: string
                    description: Run 이름
                  task_id:
                    type: string
                    description: 적용하려는 Task ID
                  task_name:
                    type: string
                    description: 적용하려는 Task 이름
                  feature_id:
                    type: string
                    description: Task에 적용된 Feature ID
                  feature_name:
                    type: string
                    description: Task에 적용된 Feature 이름
                  status:
                    type: string
                    description: 'Run 상태 registered | pending | in_progress | completed | failed registered : 등록됨 pending : 대기 중 in_progress : 생성 중 completed : 사용 가능 failed : 실패'
                  created_at:
                    type: string
                    description: Run 생성 요청 일시 ISO 8601 형식
                  completed_at:
                    type: string
                    description: Run 생성 완료 일시 ISO 8601 형식
                  result_bucket:
                    type: string
                    description: 작업 결과가 저장된 Object Storage 버킷 이름
                  result_file_path:
                    type: string
                    description: 작업 결과가 저장된 result_bucket 내 파일 경로
                  line_count:
                    type: integer
                    description: Task에 적용된 Feature의 라인 수
                  fail_message:
                    type: string
                    description: 생성 실패 메시지 생성 실패 시 메시지를 반환하며, 성공 시에는 null 리턴 메시지별 해결 방법은 NCLUE 문제 해결 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteTaskrun
      summary: Task Run 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-deletetaskrun
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: string
          description: Run ID Task Run 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  run_id:
                    type: string
                    description: Run ID
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /tasks:
    get:
      operationId: GetTaskList
      summary: Task 목록 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-gettasklist
      parameters:
        - name: index
          in: query
          required: false
          schema:
            type: integer
          description: '목록 시작 위치 기본값: 0'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: '목록 출력 제한 값 1~100 (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  index:
                    type: integer
                    description: 목록 시작 위치
                  limit:
                    type: integer
                    description: 목록 출력 제한 값
                  total:
                    type: integer
                    description: 조회된 Task 개수
                  tasks:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'Task 목록: tasks'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostTask
      summary: Task 생성
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-posttask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - train_feature_id
                - train_bucket
                - train_file_path
              properties:
                name:
                  type: string
                  description: Task 이름 1~100자
                train_feature_id:
                  type: string
                  description: Train 정답 데이터에 적용할 Feature ID Feature 목록 조회 참조
                train_bucket:
                  type: string
                  description: Train 정답 데이터 파일이 저장된 Object Storage 버킷 이름
                train_file_path:
                  type: string
                  description: train_bucket 내 Train 정답 데이터 파일 경로 다음 특수 문자가 포함된 파일 경로는 입력 불가 &$@;:+,?*\{}^%`[]<>~#|"' ASCII 코드가 0~31, 128~255인 문자 공백(스페이스)
                test_feature_id:
                  type: string
                  description: Test 정답 데이터에 적용할 Feature ID Feature 목록 조회 참조
                test_bucket:
                  type: string
                  description: Test 정답 데이터 파일이 파일이 저장된 Object Storage 버킷 이름
                test_file_path:
                  type: string
                  description: test_bucket 내 Test 정답 데이터 파일 경로 다음 특수 문자가 포함된 파일 경로는 입력 불가 &$@;:+,?*\{}^%`[]<>~#|"' ASCII 코드가 0~31, 128~255인 문자 공백(스페이스)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: Task ID
                  task_name:
                    type: string
                    description: Task 이름
                  created_at:
                    type: string
                    description: Task 생성 요청 일시 ISO 8601 형식
                  train_feature_id:
                    type: string
                    description: Train 정답 데이터에 적용할 Feature ID
                  train_feature_name:
                    type: string
                    description: Train 정답 데이터에 적용할 Feature 이름
                  train_bucket:
                    type: string
                    description: Train 정답 데이터 파일이 저장된 Object Storage 버킷 이름
                  train_file_path:
                    type: string
                    description: train_bucket 내 Train 정답 데이터 파일 경로
                  test_feature_id:
                    type: string
                    description: Test 정답 데이터에 적용할 Feature ID
                  test_feature_name:
                    type: string
                    description: Test 정답 데이터에 적용할 Feature 이름
                  test_bucket:
                    type: string
                    description: Test 정답 데이터 파일이 저장된 Object Storage 버킷 이름
                  test_file_path:
                    type: string
                    description: test_bucket 내 Test 정답 데이터 파일 경로
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /tasks/{task_id}:
    get:
      operationId: GetTask
      summary: Task 조회
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-gettask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: Task ID Task 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: Task ID
                  task_name:
                    type: string
                    description: Task 이름
                  status:
                    type: string
                    description: 'Task 상태 registered | pending | in_progress | completed | failed registered : 등록됨 pending : 대기 중 in_progress : 생성 중 completed : 사용 가능 failed : 실패'
                  created_at:
                    type: string
                    description: Task 생성 요청 일시 ISO 8601 형식
                  completed_at:
                    type: string
                    description: Task 생성 완료 일시 ISO 8601 형식
                  train_feature_id:
                    type: string
                    description: Train 정답 데이터에 적용할 Feature ID
                  train_feature_name:
                    type: string
                    description: Train 정답 데이터에 적용할 Feature 이름
                  train_bucket:
                    type: string
                    description: Train 정답 데이터 파일이 저장된 Object Storage 버킷 이름
                  train_file_path:
                    type: string
                    description: train_bucket 내 Train 정답 데이터 파일 경로
                  test_feature_id:
                    type: string
                    description: Test 정답 데이터에 적용할 Feature ID
                  test_feature_name:
                    type: string
                    description: Test 정답 데이터에 적용할 Feature 이름
                  test_bucket:
                    type: string
                    description: Test 정답 데이터 파일이 저장된 Object Storage 버킷 이름
                  test_file_path:
                    type: string
                    description: test_bucket 내 Test 정답 데이터 파일 경로
                  AUROC:
                    type: string
                    description: Task Model의 성능 0~1 ROC 곡선 아래 면적으로 산출
                  line_count:
                    type: integer
                    description: Task에 적용된 Feature의 라인 수 Train, Test 정답 데이터 모두 사용한 경우 각 데이터에 적용된 두 Feature의 라인 수를 합산
                  disk_usage:
                    type: integer
                    description: Task 용량(Byte)
                  fail_message:
                    type: string
                    description: 생성 실패 메시지 생성 실패 시 메시지를 반환하며, 성공 시에는 null 리턴 메시지별 해결 방법은 NCLUE 문제 해결 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteTask
      summary: Task 삭제
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - nclue

      x-ncloud-source: https://api.ncloud-docs.com/docs/nclue-deletetask
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
          description: Task ID Task 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  task_id:
                    type: string
                    description: Task ID
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
