openapi: 3.0.3
info:
  title: organization
  description: organization
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn:

    productName: Organization
    resource_types:
      - Organization
      - AccountGroup
      - QuotaPolicy

servers:
  - url: https://organization.apigw.ntruss.com
    description: organization 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /open-api/v1/account/accept:
    post:
      operationId: PostAccountAccept
      summary: 초대 승인
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-account-accept
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - masterMemberNo
                - organizationNo
                - pinCode
              properties:
                masterMemberNo:
                  type: integer
                  description: 마스터 계정 회원 번호 마스터 계정에서 받은 정보 입력
                organizationNo:
                  type: integer
                  description: Organization 번호 마스터 계정에서 받은 정보 입력
                pinCode:
                  type: string
                  description: 인증용 핀 코드 수신한 Organization 초대 알림 메일에서 확인
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/account/group/{organizationGroupNo}:
    get:
      operationId: GetAccountGroup
      summary: 계정 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-account-group
      parameters:
        - name: organizationGroupNo
          in: path
          required: true
          schema:
            type: integer
          description: 계정 그룹 번호 계정 그룹 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberNo:
                    type: integer
                    description: 계정 회원 번호
                  organizationNo:
                    type: integer
                    description: Organization 번호
                  organizationGroupNo:
                    type: integer
                    description: 계정 그룹 번호
                  masterMemberNo:
                    type: integer
                    description: 마스터 계정 회원 번호
                  masterMemberYn:
                    type: string
                    description: '마스터 계정 여부 Y | N Y : 마스터 계정 N : 마스터 계정 아님'
                  loginId:
                    type: string
                    description: 계정 로그인 아이디
                  memberName:
                    type: string
                    description: 계정 사용자 이름
                  memberAlias:
                    type: string
                    description: 멤버 계정 Alias(별칭) 콘솔에서 Alias 설정 시 표시
                  memberStatusCode:
                    type: string
                    description: 계정 상태 코드
                  memberStatusName:
                    type: string
                    description: 계정 상태
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/account/invite:
    post:
      operationId: PostAccountInvite
      summary: 계정 초대
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-account-invite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - loginId
                - memberName
                - inviteMessage
              properties:
                loginId:
                  type: string
                  description: 초대 계정 로그인 아이디
                memberName:
                  type: string
                  description: 초대 계정 사용자 이름
                inviteMessage:
                  type: string
                  description: 초대 메시지
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/account/invite/invitation:
    get:
      operationId: GetAccountInvite
      summary: 초대 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-account-invite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationNo:
                    type: integer
                    description: Organization 번호
                  memberNo:
                    type: integer
                    description: 초대 계정 회원 번호
                  memberName:
                    type: string
                    description: 초대 계정 사용자 이름
                  memberEmailAddress:
                    type: string
                    description: 초대 계정 사용자 메일 주소
                  masterMemberNo:
                    type: integer
                    description: 마스터 계정 회원 번호
                  masterMemberName:
                    type: string
                    description: 마스터 계정 사용자 이름
                  masterMemberEmailAddress:
                    type: string
                    description: 마스터 계정 사용자 메일 주소
                  expireDay:
                    type: integer
                    description: 초대 만료 기한(일)
                  regYmdt:
                    type: integer
                    description: 초대 일시(밀리초) Unix Timestamp 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/account/leave:
    get:
      operationId: GetAccountLeave
      summary: 탈퇴 신청 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-account-leave
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  memberNo:
                    type: integer
                    description: 멤버 계정 회원 번호
                  organizationNo:
                    type: integer
                    description: Organization 번호
                  masterMemberNo:
                    type: integer
                    description: 마스터 계정 회원 번호
                  loginId:
                    type: string
                    description: 멤버 계정 로그인 아이디
                  memberName:
                    type: string
                    description: 멤버 계정 사용자 이름
                  memberStatusCode:
                    type: string
                    description: '멤버 계정 상태 코드 LVREQ : 탈퇴 신청 (유효 값)'
                  modYmdt:
                    type: integer
                    description: 탈퇴 신청 일시(밀리초) Unix Timestamp 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostAccountLeave
      summary: 탈퇴 신청 승인 및 거절
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-account-leave
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - memberNo
                - organizationNo
                - leavePermission
              properties:
                memberNo:
                  type: integer
                  description: 멤버 계정 회원 번호 계정 목록 조회 참조
                organizationNo:
                  type: integer
                  description: Organization 번호 계정 목록 조회 참조
                leavePermission:
                  type: string
                  description: '탈퇴 신청 승인 여부 ACCPT | RJCT ACCPT : 승인 RJCT : 반려'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/account/leave/force:
    post:
      operationId: GetAccountLeaveForCe
      summary: 강제 탈퇴
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-account-leave-force
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - memberNo
                - memberName
              properties:
                memberNo:
                  type: integer
                  description: 멤버 계정 회원 번호 계정 목록 조회 참조
                memberName:
                  type: string
                  description: 멤버 계정 사용자 이름 계정 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/account/reject:
    post:
      operationId: PostAccountReject
      summary: 초대 거절
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-account-reject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - masterMemberNo
                - organizationNo
              properties:
                masterMemberNo:
                  type: integer
                  description: 마스터 계정 회원 번호 마스터 계정에서 받은 정보 입력
                organizationNo:
                  type: integer
                  description: Organization 번호 마스터 계정에서 받은 정보 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/group:
    post:
      operationId: PostGroup
      summary: 계정 그룹 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organizationGroupName
                - upperOrganizationGroupNo
              properties:
                organizationGroupName:
                  type: string
                  description: 계정 그룹 이름 영문자, 숫자, 특수 문자 '-', '_', '.'를 조합하여 3~50자 이내로 입력
                upperOrganizationGroupNo:
                  type: integer
                  description: 상위 계정 그룹 번호 계정 그룹 목록 조회 참조 폴더 구조로 최대 5단계까지 입력 가능
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationGroupNo:
                    type: integer
                    description: 계정 그룹 번호
                  organizationGroupName:
                    type: string
                    description: 계정 그룹 이름
                  upperOrganizationGroupNo:
                    type: integer
                    description: 상위 계정 그룹 번호
                  wholePath:
                    type: string
                    description: 계정 그룹 계층 구조 계정 그룹 번호 기준
                  wholePathName:
                    type: string
                    description: 계정 그룹 계층 구조 계정 그룹 이름 기준
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/group/move:
    post:
      operationId: PostGroupMove
      summary: 계정 그룹 이동
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-group-move
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organizationGroupNo
                - upperOrganizationGroupNo
                - groupYn
                - wholePath
              properties:
                organizationGroupNo:
                  type: integer
                  description: 계정 그룹 번호 계정 그룹 목록 조회 참조
                upperOrganizationGroupNo:
                  type: integer
                  description: 상위 계정 그룹 번호 계정 그룹 목록 조회 참조 원하는 위치 바로 위에 있는 계정 그룹 번호 입력
                groupYn:
                  type: string
                  description: '계정 그룹 여부 Y | N Y : 계정 그룹 N : 계정 그룹 아님 Y 입력해야 정상 동작'
                wholePath:
                  type: string
                  description: 계정 그룹 계층 구조 마스터 계층부터 대상 그룹 위치까지 전체 경로 입력 계층 구분은 / 사용
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  displayName:
                    type: string
                    description: 계정 그룹/계정 이름
                  organizationGroupNo:
                    type: integer
                    description: 계정 그룹 번호
                  organizationGroupName:
                    type: string
                    description: 계정 그룹 이름
                  upperOrganizationGroupNo:
                    type: integer
                    description: 상위 계정 그룹 번호
                  memberNo:
                    type: integer
                    description: 계정 회원 번호
                  memberName:
                    type: string
                    description: 계정 사용자 이름
                  memberAlias:
                    type: string
                    description: '계정 Alias(별칭) 마스터 계정: Master 표시 멤버 계정: 콘솔에서 Alias 설정 시 표시'
                  loginId:
                    type: string
                    description: 계정 로그인 아이디
                  memberStatusCode:
                    type: string
                    description: 계정 상태 코드
                  memberStatusName:
                    type: string
                    description: 계정 상태
                  wholePath:
                    type: string
                    description: 계정 그룹 계층 구조
                  policyNo:
                    type: integer
                    description: 정책 번호
                  policyName:
                    type: string
                    description: 정책 이름
                  groupYn:
                    type: string
                    description: '계정 그룹 여부 Y | N Y : 계정 그룹 N : 계정 그룹 아님'
                  masterMemberYn:
                    type: string
                    description: '마스터 계정 여부 Y | N Y : 마스터 계정 N : 마스터 계정 아님'
                  modYmdt:
                    type: string
                    description: 생성/가입 일시(밀리초) Unix Timestamp 형식
                  orgNoForLev:
                    type: integer
                    description: 계정 그룹 번호
                  leaveReqYmdt:
                    type: string
                    description: 탈퇴 신청 일시 탈퇴 신청 시 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/group/tree:
    get:
      operationId: GetGroupTree
      summary: 계정 그룹 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-group-tree
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  displayName:
                    type: string
                    description: 계정 그룹/계정 이름
                  organizationGroupNo:
                    type: integer
                    description: 계정 그룹 번호
                  organizationGroupName:
                    type: string
                    description: 계정 그룹 이름
                  upperOrganizationGroupNo:
                    type: integer
                    description: 상위 계정 그룹 번호
                  memberNo:
                    type: integer
                    description: 계정 회원 번호
                  memberName:
                    type: string
                    description: 계정 사용자 이름
                  memberAlias:
                    type: string
                    description: '계정 Alias(별칭) 마스터 계정: Master 표시 멤버 계정: 콘솔에서 Alias 설정 시 표시'
                  loginId:
                    type: string
                    description: 계정 로그인 아이디
                  memberStatusCode:
                    type: string
                    description: 계정 상태 코드
                  memberStatusName:
                    type: string
                    description: 계정 상태
                  wholePath:
                    type: string
                    description: 계정 그룹 계층 구조
                  policyNo:
                    type: integer
                    description: 정책 번호
                  policyName:
                    type: string
                    description: 정책 이름
                  groupYn:
                    type: string
                    description: '계정 그룹 여부 Y | N Y : 계정 그룹 N : 계정 그룹 아님'
                  masterMemberYn:
                    type: string
                    description: '마스터 계정 여부 Y | N Y : 마스터 계정 N : 마스터 계정 아님'
                  modYmdt:
                    type: string
                    description: 생성/가입 일시(밀리초) Unix Timestamp 형식
                  orgNoForLev:
                    type: integer
                    description: 계정 그룹 번호
                  leaveReqYmdt:
                    type: string
                    description: 탈퇴 신청 일시 탈퇴 신청 시 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/group/{organizationGroupNo}:
    put:
      operationId: PutGroup
      summary: 계정 그룹 이름 변경
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-put-group
      parameters:
        - name: organizationGroupNo
          in: path
          required: true
          schema:
            type: integer
          description: 계정 그룹 번호 계정 그룹 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organizationGroupName
              properties:
                organizationGroupName:
                  type: string
                  description: 계정 그룹 이름 영문자, 숫자, 특수문자 '-', '_', '.'를 조합하여 3~50자 이내로 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteGroup
      summary: 계정 그룹 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-delete-group
      parameters:
        - name: organizationGroupNo
          in: path
          required: true
          schema:
            type: integer
          description: 계정 그룹 번호 계정 그룹 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/org:
    get:
      operationId: GetOrg
      summary: Organization 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-org
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationNo:
                    type: integer
                    description: Organization 번호
                  organizationName:
                    type: string
                    description: Organization 이름
                  organizationDesc:
                    type: string
                    description: Organization 설명
                  masterMemberNo:
                    type: integer
                    description: 마스터 계정 회원 번호
                  masterMemberName:
                    type: string
                    description: 마스터 계정 사용자 이름
                  masterMemberEmailAddress:
                    type: string
                    description: 마스터 계정 사용자 메일 주소
                  masterMemberYn:
                    type: string
                    description: '마스터 계정 여부 Y | N Y : 마스터 계정 N : 마스터 계정 아님'
                  memberNo:
                    type: integer
                    description: 마스터 계정 회원 번호
                  joinYmdt:
                    type: integer
                    description: 가입 일시(밀리초) Unix Timestamp 형식
                  memberStatusCode:
                    type: string
                    description: 계정 상태 코드
                  regYmdt:
                    type: integer
                    description: 생성 일시(밀리초) Unix Timestamp 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: PostOrg
      summary: Organization 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-org
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organizationDesc:
                  type: string
                  description: Organization 설명
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  organizationNo:
                    type: integer
                    description: Organization 번호
                  organizationName:
                    type: string
                    description: Organization 이름
                  organizationDesc:
                    type: string
                    description: Organization 설명
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/org/{organizationNo}:
    delete:
      operationId: DeleteOrg
      summary: Organization 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-delete-org
      parameters:
        - name: organizationNo
          in: path
          required: true
          schema:
            type: integer
          description: Organization 번호 Organization 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy:
    post:
      operationId: PostPolicy
      summary: Quota Policy 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - policyDesc
                - policyName
                - resourceQuotaList
                - regionNo
                - resourceDetailList
                - resourceRestrictCount
                - resourceTypeCode
              properties:
                organizationGroupNoList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 적용 계정 그룹 번호 목록 계정 그룹 목록 조회 참조
                policyDesc:
                  type: string
                  description: 정책 설명 1~100자
                policyName:
                  type: string
                  description: 정책 이름 영문자, 숫자, 특수문자 '-', '_', '.'를 조합하여 3~50자 이내로 입력 문자열의 시작과 끝은 영문자 또는 숫자로 구성
                resourceQuotaList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '리소스 이용 한도: resourceQuotaList'
                regionNo:
                  type: integer
                  description: 리전 번호
                resourceDetailList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '리소스 유형 이용 한도: resourceDetailList 리소스 유형 구분이 없는 경우, 빈 값 [] 으로 표시'
                resourceRestrictCount:
                  type: integer
                  description: 리소스 이용 한도 최대한도 이내로 입력
                resourceTypeCode:
                  type: string
                  description: 리소스 코드 리소스 목록 조회 참조
                generationCode:
                  type: string
                  description: 세대 구분 코드 리소스 유형 목록 조회 참조
                productRestrictCount:
                  type: integer
                  description: 리소스 이용 한도 리소스 유형 목록 조회 응답의 maxProductRestrictCount 값 이내로 입력
                productTypeCode:
                  type: string
                  description: 리소스 유형 코드 리소스 유형 목록 조회 참조
                productTypeDetailCode:
                  type: string
                  description: 리소스 상세 유형 코드 리소스 유형 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  policyNo:
                    type: string
                    description: 정책 번호
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/allotment/{memberNo}/{regionNo}:
    get:
      operationId: GetPolicyAllOtment
      summary: 리소스 이용 한도 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-policy-allotment
      parameters:
        - name: memberNo
          in: path
          required: true
          schema:
            type: integer
          description: 계정 회원 번호 계정 목록 조회 참조
        - name: regionNo
          in: path
          required: true
          schema:
            type: string
          description: 리전 번호 리전 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceTypeCode:
                    type: string
                    description: 리소스 코드
                  resourceName:
                    type: string
                    description: 리소스 이름
                  customResourceName:
                    type: string
                    description: 리소스 이름 일반적으로 resourceName 값과 동일 일부 리소스의 경우, resourceName 과 달리 계층 정보를 포함
                  lowerResourceName:
                    type: string
                    description: 하위 리소스 이름
                  resourceCategoryTypeCode:
                    type: string
                    description: 리소스 카테고리 코드
                  resourceQuotaDetailConfigYn:
                    type: string
                    description: '리소스 상세 설정 필요 여부 Y | N Y : 필요 N : 필요 없음'
                  sortOrder:
                    type: integer
                    description: 목록 정렬 순서
                  useYn:
                    type: string
                    description: '리소스 사용 여부 Y | N Y : 사용 가능 N : 사용 불가'
                  exposureYn:
                    type: string
                    description: '리소스 노출 여부 Y | N Y : 노출 N : 비노출'
                  restrictionUnitCode:
                    type: string
                    description: 이용 한도 단위 코드
                  restrictionUnitDescription:
                    type: string
                    description: 이용 한도 단위 코드 설명
                  resourceQuotaList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '리소스 이용 한도: resourceQuotaList'
                  resourceQuotaDetailList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '리소스 유형 이용 한도: resourceQuotaDetailList resourceQuotaDetailConfigYn 값이 N 인 경우, 빈 값 [] 으로 표시'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/applied:
    get:
      operationId: GetPolicyApplied
      summary: Quota Policy 적용 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-policy-applied
      parameters:
        - name: policyNo
          in: query
          required: false
          schema:
            type: integer
          description: 정책 번호 Quota Policy 목록 조회 참조
        - name: organizationGroupNo
          in: query
          required: false
          schema:
            type: integer
          description: 계정 그룹 번호 계정 그룹 목록 조회 참조
        - name: organizationGroupName
          in: query
          required: false
          schema:
            type: string
          description: 계정 그룹 이름 계정 그룹 목록 조회 참조
        - name: organizationMemberName
          in: query
          required: false
          schema:
            type: string
          description: 멤버 계정 사용자 이름 계정 그룹 목록 조회 의 memberName 참조 URL 인코딩 필요
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  policyNo:
                    type: string
                    description: 정책 번호
                  policyName:
                    type: string
                    description: 정책 이름
                  organizationNo:
                    type: integer
                    description: Organization 번호
                  organizationGroupNo:
                    type: integer
                    description: 계정 그룹 번호
                  organizationMemberName:
                    type: string
                    description: 멤버 계정 사용자 이름
                  organizationGroupName:
                    type: string
                    description: 계정 그룹 이름
                  policyDescription:
                    type: string
                    description: 정책 설명
                  registrationYmdt:
                    type: integer
                    description: 정책 생성 일시(밀리초) Unix Timestamp 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/apply:
    post:
      operationId: PostPolicyApply
      summary: Quota Policy 적용
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-policy-apply
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organizationGroupNoList
                - policyNo
              properties:
                organizationGroupNoList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 계정 그룹 번호 목록 계정 그룹 목록 조회 참조
                policyNo:
                  type: integer
                  description: 정책 번호 Quota Policy 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/category/{regionNo}:
    get:
      operationId: GetPolicyCategory
      summary: 리소스 카테고리 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-policy-category
      parameters:
        - name: regionNo
          in: path
          required: true
          schema:
            type: integer
          description: 리전 번호 리전 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  sortOrder:
                    type: integer
                    description: 목록 정렬 순서
                  resourceCategoryTypeCode:
                    type: string
                    description: 리소스 카테고리 코드
                  resourceCategoryName:
                    type: string
                    description: 리소스 카테고리 이름
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/detail/{regionNo}/{resourceTypeCode}:
    get:
      operationId: GetPolicyDetail
      summary: 리소스 유형 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-policy-detail
      parameters:
        - name: regionNo
          in: path
          required: true
          schema:
            type: integer
          description: 리전 번호 리전 목록 조회 참조
        - name: resourceTypeCode
          in: path
          required: true
          schema:
            type: string
          description: 리소스 코드 리소스 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productTypeCode:
                    type: string
                    description: 리소스 유형 코드
                  productTypeName:
                    type: string
                    description: 리소스 유형 이름
                  resourceQuotaDetailConfigYn:
                    type: string
                    description: '리소스 상세 설정 필요 여부 Y | N Y : 필요 N : 필요 없음'
                  productTypeDetailList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '리소스 상세 유형 정보: productTypeDetailList'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/list:
    get:
      operationId: GetPolicyList
      summary: Quota Policy 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-policy-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  policyNo:
                    type: integer
                    description: 정책 번호
                  policyName:
                    type: string
                    description: 정책 이름
                  defaultPolicyYn:
                    type: string
                    description: '기본 정책 여부 Y | N Y : 기본 정책 N : 기본 정책 아님'
                  applyCount:
                    type: integer
                    description: 정책 적용 계정 그룹 수
                  registrationYmdt:
                    type: integer
                    description: 정책 생성 일시(밀리초) Unix Timestamp 형식
                  policyDescription:
                    type: string
                    description: 정책 설명
                  applyGroupNameList:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 정책 적용 대상 목록
                  modifyYmdt:
                    type: integer
                    description: 최종 수정 일시(밀리초) Unix Timestamp 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/region:
    get:
      operationId: GetPolicyRegion
      summary: 리전 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-policy-region
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  regionNo:
                    type: integer
                    description: 리전 번호
                  regionCode:
                    type: string
                    description: 리전 코드
                  regionName:
                    type: string
                    description: 리전 이름
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/remove:
    post:
      operationId: PostPolicyRemove
      summary: Quota Policy 적용 해제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-post-policy-remove
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - organizationGroupNoList
                - policyNo
              properties:
                organizationGroupNoList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 계정 그룹 번호 목록 계정 그룹 목록 조회 참조
                policyNo:
                  type: integer
                  description: 정책 번호 Quota Policy 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/resource/{regionNo}/{categoryCode}:
    get:
      operationId: GetPolicyResource
      summary: 리소스 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-get-policy-resource
      parameters:
        - name: regionNo
          in: path
          required: true
          schema:
            type: integer
          description: 리전 번호 리전 목록 조회 참조
        - name: categoryCode
          in: path
          required: true
          schema:
            type: string
          description: 리소스 카테고리 코드 리소스 카테고리 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  resourceTypeCode:
                    type: string
                    description: 리소스 코드
                  resourceName:
                    type: string
                    description: 리소스 이름
                  includeLowerResourceYn:
                    type: string
                    description: '하위 리소스 존재 여부 Y | N Y : 존재 N : 존재 안 함'
                  maxResourceRestrictCount:
                    type: integer
                    description: '리소스 이용 한도 null : 콘솔에서 확인 가능하며 API에서는 미지원'
                  resourceQuotaDetailConfigYn:
                    type: string
                    description: '리소스 상세 설정 필요 여부 Y | N Y : 필요 N : 필요 없음'
                  restrictionUnitCode:
                    type: string
                    description: 이용 한도 단위 코드
                  restrictionUnitDescription:
                    type: string
                    description: 이용 한도 단위 코드 설명
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /open-api/v1/policy/{policyNo}:
    delete:
      operationId: DeletePolicy
      summary: Quota Policy 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - organization

      x-ncloud-source: https://api.ncloud-docs.com/docs/organization-delete-policy
      parameters:
        - name: policyNo
          in: path
          required: true
          schema:
            type: integer
          description: 정책 번호 Quota Policy 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: API 처리 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
