openapi: 3.0.3
info:
  title: resource-manager
  description: |
    Resource Manager — NCP 리소스를 그룹화하고 태그를 부착합니다.
    Classic/VPC 환경에서 이용 가능합니다.
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: true

  x-ncloud-nrn:

    productName: ResourceManager
    resource_types:
      - Group
      - Tag
      - Observer

servers:
  - url: https://resourcemanager.apigw.ntruss.com/api/v1
    description: resource-manager 민간
    x-ncloud-env: public
  - url: https://resourcemanager.apigw.fin-ntruss.com/api/v1
    description: resource-manager 금융
    x-ncloud-env: financial
  - url: https://resourcemanager.apigw.gov-ntruss.com/api/v1
    description: resource-manager 공공
    x-ncloud-env: gov
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /groups:
    get:
      operationId: GetGroupList
      summary: 리소스 그룹 목록 조회
      tags:
        - resource-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-resourcemanager-getgrouplist
      parameters:
        - {name: groupName, in: query, schema: {type: string}, description: 리소스 그룹 이름}
        - {name: page, in: query, schema: {type: integer, default: 0}, description: 페이지 번호 (0~N)}
        - {name: size, in: query, schema: {type: integer, default: 20, minimum: 1, maximum: 100}, description: 페이지 출력 수 (1~100)}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /groups/{groupId}/resources:
    post:
      operationId: AttachGroup
      summary: 리소스를 그룹에 추가
      tags:
        - resource-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-resourcemanager-attachgroup
      parameters:
        - {name: groupId, in: path, required: true, schema: {type: string}, description: 그룹 아이디 (GetGroupList 참조)}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nrnList]
              properties:
                nrnList:
                  type: array
                  items: {type: string}
                  description: 추가할 리소스 NRN 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nrnList: {type: array, items: {type: string}}
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DetachGroup
      summary: 그룹에서 리소스 제거
      tags:
        - resource-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-resourcemanager-detachgroup
      parameters:
        - {name: groupId, in: path, required: true, schema: {type: string}, description: 그룹 아이디}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nrnList]
              properties:
                nrnList:
                  type: array
                  items: {type: string}
                  description: 제거할 리소스 NRN 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nrnList: {type: array, items: {type: string}}
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /resources:
    post:
      operationId: GetResourceList
      summary: 리소스 목록 조회
      description: |
        리소스 조회는 POST 메서드로 body에 필터 조건을 담아 전송합니다 (RESTful 관례와 다름 — 원본 문서 기준).
      tags:
        - resource-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-resourcemanager-getresourcelist
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                nrn: {type: string, description: "특정 리소스 1건 조회 시 NRN"}
                productName: {type: string, description: 서비스 코드}
                regionCode: {type: string}
                resourceType: {type: string}
                resourceId: {type: string}
                resourceName: {type: string}
                tag:
                  type: array
                  description: 리소스 태그 필터
                  items:
                    type: object
                    properties:
                      tagKey: {type: string}
                      tagValue: {type: string}
                groupName: {type: string, description: 리소스 그룹 이름}
                page: {type: integer, default: 0}
                size: {type: integer, default: 20, minimum: 1, maximum: 100}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedListResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /resource-tags:
    post:
      operationId: AttachTag
      summary: 리소스에 태그 부착
      tags:
        - resource-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-resourcemanager-attachtag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nrnList, tagKey, tagValue]
              properties:
                nrnList:
                  type: array
                  items: {type: string}
                  description: 태그를 부착할 리소스 NRN 목록
                tagKey:
                  type: string
                  minLength: 1
                  maxLength: 128
                  description: "태그 키 (특수문자 _, ., /, =, +, -, @ 허용). 기존 키면 값만 갱신."
                tagValue:
                  type: string
                  minLength: 1
                  maxLength: 256
                  description: "태그 값 (특수문자 _, ., /, =, +, -, @ 허용)"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nrn: {type: string, description: 리소스 NRN (GetResourceList 참조)}
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DetachTag
      summary: 리소스에서 태그 제거
      tags:
        - resource-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/management-resourcemanager-detachtag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [nrnList, tagKey]
              properties:
                nrnList:
                  type: array
                  items: {type: string}
                  description: 태그를 제거할 리소스 NRN 목록
                tagKey:
                  type: string
                  description: 태그 키
                tagValue:
                  type: string
                  description: 태그 값 (미지정 시 키로만 매칭)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  nrn: {type: string}
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    PagedListResponse:
      type: object
      properties:
        page: {type: integer}
        size: {type: integer}
        itemCount: {type: integer, description: 응답 결과 수}
        hasMore: {type: boolean, description: 추가 페이지 존재 여부}
        items:
          type: array
          description: 조회 결과 목록 (필드 구조는 리소스 타입별 상이)
          items:
            type: object
            additionalProperties: true
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
