openapi: 3.0.3
info:
  title: secret-manager
  description: secret-manager
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: false
    gov: false

  x-ncloud-nrn-todo: true
servers:
  - url: https://secretmanager.apigw.ntruss.com
    description: secret-manager 민간
    x-ncloud-env: public
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /action/v1/secrets/{secretId}/jobs/{jobToken}/complete:
    post:
      operationId: CompleteRotationJob
      summary: Complete Rotation Job
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-complete-rotation-job
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 또는 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
        - name: jobToken
          in: path
          required: true
          schema:
            type: string
          description: 작업 토큰 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /action/v1/secrets/{secretId}/jobs/{jobToken}/fail:
    post:
      operationId: FailRotationJob
      summary: Fail Rotation Job
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-fail-rotation-job
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 또는 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
        - name: jobToken
          in: path
          required: true
          schema:
            type: string
          description: 작업 토큰 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /action/v1/secrets/{secretId}/jobs/{jobToken}/generate-random-secret:
    post:
      operationId: GenerateRandomSecret
      summary: Generate Random Secret
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-generate-random-secret
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 또는 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
        - name: jobToken
          in: path
          required: true
          schema:
            type: string
          description: 작업 토큰 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - length
              properties:
                length:
                  type: integer
                  description: '랜덤 문자열 길이(자) 5~32 (기본값: 12)'
                excludeCharacters:
                  type: string
                  description: 제외 문자들 여러 개인 경우, 구분자 없이 하나의 문자열로 이어서 나열
                excludeNumbers:
                  type: boolean
                  description: '숫자 제외 여부 true | false (기본값) true : 제외 false : 제외 안 함'
                excludePunctuation:
                  type: boolean
                  description: '특수 문자 제외 여부 true | false (기본값) true : 제외 false : 제외 안 함'
                excludeUppercase:
                  type: boolean
                  description: '대문자 제외 여부 true | false (기본값) true : 제외 false : 제외 안 함'
                excludeLowercase:
                  type: boolean
                  description: '소문자 제외 여부 true | false (기본값) true : 제외 false : 제외 안 함'
                includeSpace:
                  type: boolean
                  description: '공백 포함 여부 true (기본값) | false true : 포함 false : 포함 안 함'
                requireEachIncludedType:
                  type: boolean
                  description: '제외하지 않은 문자 유형(대문자, 소문자, 숫자, 특수 문자, 공백) 모두 포함 여부 true (기본값) | false true : 모두 포함 false : 모두 포함 안 함'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  randomString:
                    type: string
                    description: 랜덤 문자열
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /action/v1/secrets/{secretId}/jobs/{jobToken}/pending:
    post:
      operationId: AddPendingStage
      summary: Add Pending Stage
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-add-pending-stage
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 또는 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
        - name: jobToken
          in: path
          required: true
          schema:
            type: string
          description: 작업 토큰 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdatePendingStage
      summary: Update Pending Stage
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-update-pending-stage
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 또는 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
        - name: jobToken
          in: path
          required: true
          schema:
            type: string
          description: 작업 토큰 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  description: 시크릿 값 JSON 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /action/v1/secrets/{secretId}/jobs/{jobToken}/start:
    post:
      operationId: StartRotationJob
      summary: Start Rotation Job
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-start-rotation-job
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 또는 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
        - name: jobToken
          in: path
          required: true
          schema:
            type: string
          description: 작업 토큰 Get Secret Logs 참조 트리거를 실행한 애플리케이션에 자동 주입되며, 환경 변수로 확인 가능 시크릿 교체 액션 예제 코드 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /keys:
    get:
      operationId: GetProtectionKeyList
      summary: Get Protection Key List
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-getprotectionkeylist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets:
    get:
      operationId: GetSecretList
      summary: Get Secret List
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-getsecretlist
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 1~N (기본값: 1)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CreateSecret
      summary: Create Secret
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-createsecret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - secretName
                - secretValue
                - secretType
                - autoRotationYN
                - protectionKeyType
              properties:
                secretName:
                  type: string
                  description: 시크릿 이름 영문자, 숫자, 특수 문자 '-', '_'를 허용하며, 3~15자 이내로 입력 문자열의 시작은 영문자
                memo:
                  type: string
                  description: 시크릿 설명(Byte) 0~1000
                secretValue:
                  type: object
                  additionalProperties: true
                  description: 시크릿 값 객체
                secretType:
                  type: string
                  description: '시크릿 타입 BASIC : 기본 시크릿 타입 (유효값)'
                autoRotationYN:
                  type: string
                  description: '자동 교체 여부 Y | N (기본값) Y : 자동 교체 N : 자동 교체 안 함'
                autoRotationPeriod:
                  type: integer
                  description: '시크릿 자동 교체 주기(일) 1~730 (기본값: 90) autoRotationYN 이 Y 인 경우, 필수 입력'
                triggerId:
                  type: string
                  description: 트리거 아이디 Get Trigger List 참조 autoRotationYN 이 Y 인 경우, 필수 입력
                protectionKeyType:
                  type: string
                  description: '보호 키 타입 DEFAULT (기본값) | USER_MANAGED_KEY DEFAULT : 기본 키 USER_MANAGED_KEY : 사용자 관리 키'
                kmsKeyTag:
                  type: string
                  description: KMS 키 태그 Get Protection Key List 참조 protectionKeyType 이 USER_MANAGED_KEY 인 경우, 필수 입력
                kmsBoundaryType:
                  type: string
                  description: 'KMS 리전 격리 타입 GLOBAL | ISOLATED GLOBAL : 전역 ISOLATED : 격리 신규 키 생성은 ISOLATED 만 지원'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}:
    get:
      operationId: GetSecretDetail
      summary: Get Secret Detail
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-getsecretdetail
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteSecret
      summary: Delete Secret
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-deletesecret
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/cancel-deletion:
    post:
      operationId: CancelSecretDeletion
      summary: Cancel Secret Deletion
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-cancelsecretdeletion
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/cancel-rotation:
    post:
      operationId: CancelRotationJob
      summary: Cancel Rotation Job
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-cancel-rotation-job
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 성공 여부
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/disable:
    post:
      operationId: DisableSecret
      summary: Disable Secret
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-disablesecret
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/disable-auto-rotation:
    post:
      operationId: DisableAutoRotation
      summary: Disable Auto Rotation
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-disable-auto-rotation
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/enable:
    post:
      operationId: EnableSecret
      summary: Enable Secret
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-enablesecret
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/enable-auto-rotation:
    post:
      operationId: EnableAutoRotation
      summary: Enable Auto Rotation
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-enable-auto-rotation
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rotationPeriod:
                  type: integer
                  description: '시크릿 자동 교체 주기(일) 1~730 (기본값: 90)'
                triggerId:
                  type: string
                  description: 트리거 아이디 연결된 트리거가 없거나 변경하려는 경우, 필수 입력 Get Trigger List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/logs:
    get:
      operationId: GetSecretLogS
      summary: Get Secret Logs
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-getsecretlogs
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
        - name: keyword
          in: query
          required: false
          schema:
            type: string
          description: 검색 키워드 GET 방식 이용 시 URL 인코딩 필요
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 1~N (기본값: 1)'
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 출력 수 1~N (기본값: 100)'
        - name: timestampFrom
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회 시작 일시(밀리초) Unix Timestamp 형식
        - name: timestampTo
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 조회 종료 일시(밀리초) Unix Timestamp 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/memo:
    put:
      operationId: UpdateSecretMemo
      summary: Update Secret Memo
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-updatesecretmemo
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - memo
              properties:
                memo:
                  type: string
                  description: 시크릿 설명
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/protection-key:
    put:
      operationId: UpdateProtectionKey
      summary: Update Protection Key
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-updateprotectionkey
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - protectionKeyType
              properties:
                protectionKeyType:
                  type: string
                  description: '보호 키 타입 DEFAULT (기본값) | USER_MANAGED_KEY DEFAULT : 기본 키 USER_MANAGED_KEY : 사용자 관리 키'
                kmsKeyTag:
                  type: string
                  description: KMS 키 태그 Get Protection Key List 참조 protectionKeyType 이 USER_MANAGED_KEY 인 경우, 필수 입력
                kmsBoundaryType:
                  type: string
                  description: 'KMS 리전 격리 타입 GLOBAL | ISOLATED GLOBAL : 전역 ISOLATED : 격리 한국(KR) 리전인 경우, 필수 입력 일본(JPN) 리전은 ISOLATED'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/request-deletion:
    post:
      operationId: RequestsEcretDeletion
      summary: Request Secret Deletion
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-requestsecretdeletion
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/retry-rotation:
    post:
      operationId: RetryRotationJob
      summary: Retry Rotation Job
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-retry-rotation-job
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/rollback-rotation:
    post:
      operationId: RollbackRotationJob
      summary: Rollback Rotation Job
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-rollback-rotation-job
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/rotation:
    post:
      operationId: ExecuteRotationJob
      summary: Execute Rotation Job
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-execute-rotation-job
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/rotation-period:
    put:
      operationId: UpdateRotationPerIod
      summary: Update Rotation Period
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-update-rotation-period
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rotationPeriod
              properties:
                rotationPeriod:
                  type: integer
                  description: 자동 교체 주기(일)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/triggers:
    put:
      operationId: UpdateRotationTrigger
      summary: Update Rotation Trigger
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-update-rotation-trigger
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - triggerId
              properties:
                triggerId:
                  type: string
                  description: 자동 교체 트리거 아이디 Get Trigger List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: DeleteRotationTrigger
      summary: Delete Rotation Trigger
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-delete-rotation-trigger
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: string
                    description: 응답 결과 성공 시 null 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/values:
    get:
      operationId: GetSecretValue
      summary: Get Secret Value
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-getsecretvalue
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: UpdateSecretValue
      summary: Update Secret Value
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-updatesecretvalue
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                previous:
                  type: string
                  description: ACTIVE 스테이지 기준으로 이전에 사용했던 시크릿 값(PREVIOUS 스테이지)
                active:
                  type: string
                  description: 현재 정상적으로 사용 중인 활성 시크릿 값(ACTIVE 스테이지)
                pending:
                  type: string
                  description: 교체가 새로 시작되어 교체 완료 대기 중인 시크릿 값(PENDING 스테이지)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/values/{secret-value-stage}:
    put:
      operationId: UpdateSecretStageValue
      summary: Update Secret Stage Value
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-update-secret-stage-value
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
        - name: secret-value-stage
          in: path
          required: true
          schema:
            type: string
          description: '시크릿 스테이지 previous | active | pending previous : PREVIOUS 스테이지(ACTIVE 스테이지 기준으로 이전에 사용했던 시크릿) active : ACTIVE 스테이지(현재 정상적으로 사용 중인 활성 시크릿) pending : PENDING 스테이지(교체가 새로 시작되어 교체 완료 대기 중인 시크릿)'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - value
              properties:
                value:
                  type: string
                  description: 시크릿 값 JSON 형식 Get Secret Value 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /secrets/{secretId}/{secret-value-stage}:
    get:
      operationId: GetSecretsTagEValue
      summary: Get Secret Stage Value
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-getsecretstagevalue
      parameters:
        - name: secretId
          in: path
          required: true
          schema:
            type: string
          description: 시크릿 아이디 Get Secret List 참조
        - name: secret-value-stage
          in: path
          required: true
          schema:
            type: string
          description: '시크릿 스테이지 previous | active | pending previous : PREVIOUS 스테이지(ACTIVE 스테이지 기준으로 이전에 사용했던 시크릿) active : ACTIVE 스테이지(현재 정상적으로 사용 중인 활성 시크릿) pending : PENDING 스테이지(교체가 새로 시작되어 교체 완료 대기 중인 시크릿)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /triggers:
    get:
      operationId: GetTriggerList
      summary: Get Trigger List
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - secret-manager

      x-ncloud-source: https://api.ncloud-docs.com/docs/secretmanager-gettriggerlist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 응답 코드
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
