openapi: 3.0.3
info:
  title: sens
  description: sens
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: true

  x-ncloud-nrn:

    productName: SENS
    resource_types:
      - Project
      - SmsCallingNumber
      - SmsBlockTelNumber
      - PushChannel
      - KakaoTalkChannel
      - AlimTalkTemplate
      - Schedule

servers:
  - url: https://sens.apigw.ntruss.com
    description: sens 민간
    x-ncloud-env: public
  - url: https://sens.apigw.fin-ntruss.com
    description: sens 금융
    x-ncloud-env: financial
  - url: https://sens.apigw.gov-ntruss.com
    description: sens 공공
    x-ncloud-env: gov
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /alimtalk/v2/services/{serviceId}/channels:
    get:
      operationId: AlimtalkKakaoChannelGet
      summary: 채널 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-alimtalk-kakao-channel-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  createTime:
                    type: string
                    description: 채널 생성 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  updateTime:
                    type: string
                    description: 채널 수정 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  serviceId:
                    type: string
                    description: Biz Message 서비스 아이디
                  channelId:
                    type: string
                    description: 채널 아이디
                  channelName:
                    type: string
                    description: 채널 이름
                  channelStatus:
                    type: string
                    description: '채널 상태 ACTIVE | DELETED | DELETING_PERMANETLY | PERMANENTLY_DELETED | BLOCKED | PENDING_DELETE ACTIVE : 정상 DELETED : 삭제 DELETING_PERMANETLY : 영구 삭제 중 PERMANENTLY_DELETED : 영구 삭제 BLOCKED : 차단 PENDING_DELETE : 삭제 지연 중'
                  useSmsFailover:
                    type: boolean
                    description: 'SMS 대체 발송 설정 여부 true | false true : 설정 false : 미설정'
                  failoverServiceId:
                    type: string
                    description: 대체 발송에 사용된 SMS 서비스 아이디
                  failoverTelNo:
                    type: string
                    description: 발신 번호
                  isBlock:
                    type: boolean
                    description: 채널 차단 여부
                  isDormant:
                    type: boolean
                    description: 채널 휴면 여부
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /alimtalk/v2/services/{serviceId}/messages:
    get:
      operationId: AlimtalkList
      summary: 메시지 발송 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-alimtalk-list
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: requestId
          in: query
          required: false
          schema:
            type: string
          description: 요청 아이디 메시지 발송 시 응답받은 요청 아이디 입력 requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력 requestStartTime + requestEndTime 과 completeStartTime + completeEndTime 는 동시 사용 불가
        - name: plusFriendId
          in: query
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 조회 참조 requestId 미입력 시 필수 입력
        - name: requestStartTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 요청 기준 조회 시작 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력 requestStartTime + requestEndTime 과 completeStartTime + completeEndTime 는 동시 사용 불가
        - name: requestEndTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 요청 기준 조회 종료 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestStartTime 과의 기간이 31일 이내여야 함
        - name: completeStartTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 완료 기준 조회 시작 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력 requestStartTime + requestEndTime 과 completeStartTime + completeEndTime 는 동시 사용 불가
        - name: completeEndTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 완료 기준 조회 종료 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) completeStartTime 과의 기간이 24시간 이내여야 함
        - name: messageId
          in: query
          required: false
          schema:
            type: string
          description: 메시지 아이디
        - name: requestStatusName
          in: query
          required: false
          schema:
            type: string
          description: '요청 상태 success | fail success : 성공 fail : 실패'
        - name: messageStatusName
          in: query
          required: false
          schema:
            type: string
          description: '수신 상태 success | processing | fail success : 성공 processing : 처리중 fail : 실패'
        - name: templateCode
          in: query
          required: false
          schema:
            type: string
          description: 템플릿 코드 템플릿 조회 참조
        - name: to
          in: query
          required: false
          schema:
            type: string
          description: 수신 번호 숫자만 입력 가능
        - name: nextToken
          in: query
          required: false
          schema:
            type: string
          description: 페이지 위치 토큰 다음 목록 조회 시 사용하며, 이전 호출에서 응답받은 토큰값 입력
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~100 (기본값: 20) requestId 입력 시 기본으로 100 적용'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    description: 요청 아이디 요청에 requestId 포함 시 표시
                  statusCode:
                    type: string
                    description: '상태 코드 HTTP 상태 코드 규칙을 따름 202 : 성공 그 외: 실패'
                  statusName:
                    type: string
                    description: '상태 success | processing | reserved | fail success : 성공 processing : 처리중 reserved : 예약 fail : 실패'
                  messages:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '메시지 발송 요청 목록: messages'
                  pageSize:
                    type: integer
                    description: 페이지당 항목 수
                  pageIndex:
                    type: integer
                    description: 페이지 인덱스
                  nextToken:
                    type: string
                    description: 페이지 위치 토큰 다음 페이지가 없을 경우, 표시되지 않음
                  itemCount:
                    type: integer
                    description: 응답 결과 수
                  hasMore:
                    type: boolean
                    description: '다음 페이지 존재 여부 true : 존재 false : 존재 안 함'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: AlimtalkSend
      summary: 지원 택배사 목록
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-alimtalk-send
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plusFriendId
                - templateCode
                - messages
                - to
                - content
                - description
                - type
                - name
              properties:
                plusFriendId:
                  type: string
                  description: 채널 아이디 채널 조회 참조
                templateCode:
                  type: string
                  description: 템플릿 코드 템플릿 조회 참조
                messages:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '메시지 정보: messages 최대 100건 입력 가능'
                reserveTime:
                  type: string
                  description: 예약 일시 YYYY-MM-DD HH:mm 형식 예약 발송할 경우, 입력
                reserveTimeZone:
                  type: string
                  description: 예약 타임존 Asia/Seoul (기본값) 타임존 목록 참조
                countryCode:
                  type: string
                  description: 국가 코드 82 (기본값) 국제 SMS 발송 국가 목록 참조
                to:
                  type: string
                  description: 수신 번호 숫자만 입력 가능
                title:
                  type: string
                  description: 강조 정보 제목 강조 표기형 템플릿에서만 사용 가능
                content:
                  type: string
                  description: 메시지 내용
                headerContent:
                  type: string
                  description: 알림톡 헤더(Bytes) 0~16 아이템 리스트형 템플릿에서만 사용 가능
                itemHighlight:
                  type: object
                  additionalProperties: true
                  description: 아이템 하이라이트 정보 아이템 리스트형 템플릿에서만 사용 가능
                item:
                  type: object
                  additionalProperties: true
                  description: 아이템 리스트 정보 아이템 리스트형 템플릿에서만 사용 가능
                buttons:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '메시지 버튼 정보: buttons'
                useSmsFailover:
                  type: boolean
                  description: 'SMS 대체 발송 사용 여부 true | false true : 사용 false : 사용 안 함 기본값: 카카오톡 채널의 설정을 따름 대체 발송이 설정된 카카오톡 채널에서만 사용 가능'
                failoverConfig:
                  type: object
                  additionalProperties: true
                  description: 대체 발송 설정
                description:
                  type: string
                  description: 아이템 내용 1~23자
                type:
                  type: string
                  description: '버튼 유형 DS | WL | AL | BK | MD | AC DS : 배송 조회 WL : 웹 링크 AL : 앱 링크 BK : 봇 키워드 MD : 메시지 전달 AC : 채널 추가 배송 관련 메시지를 발송하는 경우, WL 로 배송 조회 가능한 택배사는 지원 택배사 목록 참고'
                name:
                  type: string
                  description: 버튼 이름 최대 20자 type 이 AC 인 경우, 채널 추가 로 입력
                linkMobile:
                  type: string
                  description: 모바일 웹 링크 type 이 WL 인 경우, 필수 입력
                linkPc:
                  type: string
                  description: PC 웹 링크 type 이 WL 인 경우, 필수 입력
                schemeIos:
                  type: string
                  description: iOS 앱 링크 type 이 AL 인 경우, 필수 입력
                schemeAndroid:
                  type: string
                  description: Android 앱 링크 type 이 AL 인 경우, 필수 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    description: 요청 아이디
                  requestTime:
                    type: string
                    description: 요청 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  statusCode:
                    type: string
                    description: '상태 코드 HTTP 상태 코드 규칙을 따름 202 : 성공 그 외: 실패'
                  statusName:
                    type: string
                    description: '상태 success | processing | reserved | fail success : 성공 processing : 처리 중 reserved : 예약 fail : 실패'
                  messages:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '메시지 정보: messages 즉시 발송인 경우, 표시'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /alimtalk/v2/services/{serviceId}/messages/{messageId}:
    get:
      operationId: AlimtalkGet
      summary: 수신 결과 코드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-alimtalk-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: messageId
          in: path
          required: true
          schema:
            type: string
          description: 메시지 아이디 알림톡 발송 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    description: 요청 아이디
                  messageId:
                    type: string
                    description: 메시지 아이디
                  requestTime:
                    type: string
                    description: 요청 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  completeTime:
                    type: string
                    description: 완료 일시 YYYY-MM-DDTHH:mm:ss 형식
                  plusFriendId:
                    type: string
                    description: 채널 아이디
                  templateCode:
                    type: string
                    description: 템플릿 코드
                  countryCode:
                    type: string
                    description: 국가 코드
                  to:
                    type: string
                    description: 수신 번호
                  content:
                    type: string
                    description: 메시지 내용
                  requestStatusCode:
                    type: string
                    description: '요청 상태 코드 A000 : 성공 그 외: 실패'
                  requestStatusName:
                    type: string
                    description: '요청 상태 success | fail success : 성공 fail : 실패'
                  requestStatusDesc:
                    type: string
                    description: 요청 상태 설명
                  messageStatusCode:
                    type: string
                    description: '수신 상태 코드 0000 : 성공 그 외: 실패'
                  messageStatusName:
                    type: string
                    description: '수신 상태 success | processing | fail success : 성공 processing : 처리중. messageStatusCode 와 messageStatusDesc 가 표시되지 않음 fail : 실패'
                  messageStatusDesc:
                    type: string
                    description: 수신 상태 설명
                  useSmsFailover:
                    type: boolean
                    description: 'SMS 대체 발송 사용 여부 true | false true : 사용 false : 사용 안 함'
                  failover:
                    type: object
                    additionalProperties: true
                    description: SMS 대체 발송 정보 대체 발송이 실행된 경우, 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /alimtalk/v2/services/{serviceId}/reservations/{reserveId}:
    delete:
      operationId: AlimtalkReservationDelete
      summary: 메시지 예약 취소
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-alimtalk-reservation-delete
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: reserveId
          in: path
          required: true
          schema:
            type: string
          description: 예약 요청 아이디 메시지 발송 시 응답받은 요청 아이디( requestId ) 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /alimtalk/v2/services/{serviceId}/reservations/{reserveId}/reserve-status:
    get:
      operationId: AlimtalkReservationStatusGet
      summary: 메시지 예약 상태 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-alimtalk-reservation-status-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: reserveId
          in: path
          required: true
          schema:
            type: string
          description: 예약 요청 아이디 메시지 발송 시 응답받은 요청 아이디( requestId ) 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  reserveId:
                    type: string
                    description: 예약 요청 아이디
                  reserveTimeZone:
                    type: string
                    description: 예약 타임존 타임존 목록 참조
                  reserveTime:
                    type: string
                    description: 예약 일시 YYYY-MM-DDTHH:mm:ss±hh:mm 형식
                  reserveStatus:
                    type: string
                    description: '예약 상태 READY | PROCESSING | CANCELED | FAIL | DONE | STALE | SKIP READY : 대기중 PROCESSING : 처리중 CANCELED : 취소 FAIL : 실패 DONE : 완료 STALE : 실패(시간 초과) SKIP : 실패(서비스 없음)'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /alimtalk/v2/services/{serviceId}/templates:
    get:
      operationId: AlimtalkTemplateGet
      summary: 템플릿 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-alimtalk-template-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 조회 참조
        - name: templateCode
          in: query
          required: false
          schema:
            type: string
          description: 템플릿 코드 입력 시 템플릿 상세 정보 (검수 내용, 부가 정보 등) 반환
        - name: templateName
          in: query
          required: false
          schema:
            type: string
          description: 템플릿 이름 전체 또는 부분 일치하는 값 필터링
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~100 (기본값: 100)'
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 인덱스 0~N (기본값: 0)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  createTime:
                    type: string
                    description: 템플릿 생성 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  updateTime:
                    type: string
                    description: 템플릿 수정 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  channelId:
                    type: string
                    description: 채널 아이디
                  templateCode:
                    type: string
                    description: 템플릿 코드
                  templateName:
                    type: string
                    description: 템플릿 이름
                  categoryCode:
                    type: string
                    description: 템플릿 카테고리 코드
                  categoryName:
                    type: string
                    description: 템플릿 카테고리
                  messageType:
                    type: string
                    description: '메시지 타입 BA | EX | AD | MI BA : 기본형 EX : 부가 정보형 AD : 채널 추가형 MI : 복합형'
                  emphasizeType:
                    type: string
                    description: '강조 유형 NONE | TEXT | IMAGE | ITEM_LIST NONE : 기본형 TEXT : 강조 표기형 IMAGE : 이미지형 ITEM_LIST : 아이템 리스트형'
                  content:
                    type: string
                    description: 템플릿 내용
                  adContent:
                    type: string
                    description: 광고 내용 광고 내용 존재 시 표시
                  extraContent:
                    type: string
                    description: 부가 정보 내용 부가 정보 존재 시 표시
                  title:
                    type: string
                    description: 강조 정보 제목
                  additionalTitle:
                    type: string
                    description: 강조 정보 보조 제목
                  comments:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '검수 정보: comments 템플릿 상세 조회 시 표시'
                  templateInspectionStatus:
                    type: string
                    description: '검수 상태 ACCEPT | REGISTER | INSPECT | COMPLETE | REJECT ACCEPT : 접수 REGISTER : 대기중 INSPECT : 처리중 COMPLETE : 완료 REJECT : 반려'
                  templateStatus:
                    type: string
                    description: '템플릿 상태 ACTIVE | READY | NOT_REGISTER | STOP ACTIVE : 정상 READY : 등록 완료 NOT_REGISTER : 등록 대기중 STOP : 정지'
                  buttons:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '버튼 목록: buttons 최대 5개'
                  securityFlag:
                    type: boolean
                    description: '보안 설정 여부 true | false true : 설정 false : 미설정'
                  isBlock:
                    type: boolean
                    description: '차단 여부 true | false true : 차단 false : 차단되지 않음'
                  isDormant:
                    type: boolean
                    description: '휴면 여부 true | false true : 휴면 상태 false : 휴면 상태 아님'
                  useImage:
                    type: boolean
                    description: '이미지 사용 여부 true | false true : 사용 false : 사용 안 함'
                  imageName:
                    type: string
                    description: 이미지 파일 이름
                  imageUrl:
                    type: string
                    description: 이미지 URL
                  useHeaderContent:
                    type: boolean
                    description: '헤더 사용 여부 true | false true : 사용 false : 사용 안 함'
                  headerContent:
                    type: string
                    description: 헤더 내용
                  useItemHighlight:
                    type: boolean
                    description: '아이템 하이라이트 사용 여부 true | false true : 사용 false : 사용 안 함'
                  useItemHighlightImage:
                    type: boolean
                    description: '아이템 하이라이트 이미지 사용 여부 true | false true : 사용 false : 사용 안 함'
                  itemHighlight:
                    type: object
                    additionalProperties: true
                    description: 아이템 하이라이트 정보
                  item:
                    type: object
                    additionalProperties: true
                    description: 아이템 리스트 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /brandmessage/v2/services/{serviceId}/images:
    get:
      operationId: BrandMessageImageList
      summary: 이미지 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-image-list
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 인덱스 0~N (기본값: 0)'
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~200 (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이미지 목록: items'
                  pageIndex:
                    type: integer
                    description: 페이지 인덱스
                  pageSize:
                    type: integer
                    description: 페이지당 항목 수
                  itemCount:
                    type: integer
                    description: 응답 결과 수
                  hasPrevious:
                    type: boolean
                    description: '이전 페이지 존재 여부 true | false true : 존재 false : 존재 안 함'
                  hasNext:
                    type: boolean
                    description: '다음 페이지 존재 여부 true | false true : 존재 false : 존재 안 함'
                  totalCount:
                    type: integer
                    description: 전체 항목 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: BrandMessageImageCreate
      summary: 이미지 타입
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-image-create
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: imageType
          in: query
          required: true
          schema:
            type: string
          description: 이미지 타입 이미지 타입 참조
        - name: imageFile
          in: query
          required: true
          schema:
            type: string
          description: 이미지 파일
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageId:
                    type: string
                    description: 이미지 아이디
                  imageUrl:
                    type: string
                    description: 이미지 URL
                  imageType:
                    type: string
                    description: 이미지 파일 타입 이미지 타입 참조
                  imageName:
                    type: string
                    description: 이미지 파일 이름
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /brandmessage/v2/services/{serviceId}/images/{imageId}:
    get:
      operationId: BrandMessageImageGet
      summary: 이미지 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-image-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: imageId
          in: path
          required: true
          schema:
            type: string
          description: 이미지 아이디 이미지 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  imageId:
                    type: string
                    description: 이미지 아이디
                  imageUrl:
                    type: string
                    description: 이미지 URL
                  imageType:
                    type: string
                    description: 이미지 파일 타입 이미지 타입 정보 참조
                  imageName:
                    type: string
                    description: 이미지 파일 이름
                  createTime:
                    type: string
                    description: 이미지 업로드 시간
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: BrandMessageImageDelete
      summary: 이미지 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-image-delete
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: imageId
          in: path
          required: true
          schema:
            type: string
          description: 이미지 아이디 이미지 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /brandmessage/v2/services/{serviceId}/messages:
    get:
      operationId: BrandMessageList
      summary: 메시지 발송 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-list
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: requestId
          in: query
          required: false
          schema:
            type: string
          description: 요청 아이디 메시지 발송 시 응답받은 요청 아이디 입력 requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력 requestStartTime + requestEndTime 과 completeStartTime + completeEndTime 는 동시 사용 불가
        - name: requestStartTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 요청 기준 조회 시작 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력 requestStartTime + requestEndTime 과 completeStartTime + completeEndTime 는 동시 사용 불가
        - name: requestEndTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 요청 기준 조회 종료 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestStartTime 과의 기간이 31일 이내여야 함
        - name: completeStartTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 완료 기준 조회 시작 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력 requestStartTime + requestEndTime 과 completeStartTime + completeEndTime 는 동시 사용 불가
        - name: completeEndTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 완료 기준 조회 종료 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) completeStartTime 과의 기간이 24시간 이내여야 함
        - name: plusFriendId
          in: query
          required: false
          schema:
            type: string
          description: 채널 아이디 네이버 클라우드 플랫폼 콘솔의 Simple & Easy Notification Service > Biz MessageBrand > KakaoTalk Channel 에서 확인 requestId 미입력 시 필수 입력
        - name: messageId
          in: query
          required: false
          schema:
            type: string
          description: 메시지 아이디
        - name: requestStatusName
          in: query
          required: false
          schema:
            type: string
          description: '요청 상태 success | fail success : 성공 fail : 실패'
        - name: messageStatusName
          in: query
          required: false
          schema:
            type: string
          description: '수신 상태 success | processing | fail success : 성공 processing : 처리중 fail : 실패'
        - name: templateCode
          in: query
          required: false
          schema:
            type: string
          description: 템플릿 코드 네이버 클라우드 플랫폼 콘솔의 Simple & Easy Notification Service > Biz MessageBrand > Message Template 에서 확인
        - name: to
          in: query
          required: false
          schema:
            type: string
          description: 수신 번호 숫자만 입력 가능
        - name: nextToken
          in: query
          required: false
          schema:
            type: string
          description: 페이지 위치 토큰 다음 목록 조회 시 사용하며, 이전 호출에서 응답받은 토큰값 입력
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~100 (기본값: 20) requestId 입력 시 기본으로 100 적용'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    description: '상태 코드 HTTP 상태 코드 규칙을 따름 202 : 성공 그 외: 실패'
                  statusName:
                    type: string
                    description: '상태 success | processing | reserved | fail success : 성공 processing : 처리중 reserved : 예약 fail : 실패'
                  messages:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '메시지 발송 요청 목록: messages'
                  pageSize:
                    type: integer
                    description: 페이지당 항목 수
                  pageIndex:
                    type: integer
                    description: 페이지 인덱스
                  nextToken:
                    type: string
                    description: 페이지 위치 토큰 다음 페이지가 없을 경우, 표시되지 않음
                  itemCount:
                    type: integer
                    description: 응답 결과 수
                  hasMore:
                    type: boolean
                    description: '다음 페이지 존재 여부 true : 존재 false : 존재 안 함'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: BrandMessageSend
      summary: 텍스트형 메시지
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-send
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plusFriendId
                - messageType
                - messages
                - to
                - content
                - type
                - name
                - headerContent
                - item
                - title
                - imageId
                - commerce
                - carousel
                - message
                - video
                - templateCode
                - templateParameters
              properties:
                plusFriendId:
                  type: string
                  description: 채널 아이디 네이버 클라우드 플랫폼 콘솔의 Simple & Easy Notification Service > Biz MessageBrand > KakaoTalk Channel 에서 확인
                messageType:
                  type: string
                  description: '메시지 타입 TEXT (텍스트형) 입력 TEXT | IMAGE | WIDE_IMAGE | WIDE_ITEM_LIST | COMMERCE | CAROUSEL_COMMERCE | CAROUSEL_FEED | PREMIUM_VIDEO TEXT : 텍스트 IMAGE : 이미지형 WIDE_IMAGE : 와이드 이미지형 WIDE_ITEM_LIST : 와이드 리스트형 COMMERCE : 커머스형 CAROUSEL_COMMERCE : 캐러셀 커머스형 CAROUSEL_FEED : 캐러셀 피드형 PREMIUM_VIDEO : 프리미엄 동영상형'
                targeting:
                  type: string
                  description: '타겟팅 코드 M | N | I (기본값) M : 고객사의 광고성 정보 수신 동의 유저(카카오톡 수신 동의) N : 고객사의 광고성 정보 수신 동의 유저(카카오톡 수신 동의) 중 해당 채널 친구 제외 I : 광고성 정보 수신 동의 유저(카카오톡 수신 동의)이면서 해당 채널 친구'
                isAdult:
                  type: boolean
                  description: '대상 연령 true | false (기본값) true : 성인용 false : 전체 연령용'
                messages:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '메시지 정보: messages'
                reserveTime:
                  type: string
                  description: 예약 일시 YYYY-MM-DD HH:mm 형식 예약 발송할 경우, 입력
                reserveTimeZone:
                  type: string
                  description: 예약 타임존 Asia/Seoul (기본값) 타임존 목록 참조
                countryCode:
                  type: string
                  description: 국가 코드 82 (기본값) 국제 SMS 발송 국가 목록 참조
                to:
                  type: string
                  description: 수신 번호 숫자만 입력 가능
                content:
                  type: string
                  description: 메시지 내용 한/영 구분 없이 변수 및 URL 포함 1,300자 이내 입력 줄바꿈 최대 99회 URL 형식 입력 가능
                buttons:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '버튼 정보: buttons 쿠폰 사용 시 최대 4개, 그 외 최대 5개'
                coupon:
                  type: object
                  additionalProperties: true
                  description: 쿠폰 정보
                useSmsFailover:
                  type: boolean
                  description: 'SMS 대체 발송 사용 여부 true | false true : 사용 false : 사용 안 함 기본값: 카카오톡 채널의 설정을 따름 대체 발송이 설정된 카카오톡 채널에서만 사용 가능'
                failoverConfig:
                  type: object
                  additionalProperties: true
                  description: 대체 발송 설정
                type:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '버튼 유형 정보: type'
                name:
                  type: string
                  description: 버튼 이름 최대 14자
                linkMobile:
                  type: string
                  description: 모바일 웹 링크 최대 1,000자 type 이 WL 인 경우, 필수 입력
                linkPc:
                  type: string
                  description: PC 웹 링크 최대 1,000자
                schemeIos:
                  type: string
                  description: iOS 앱 링크 최대 1,000자 type 이 AL 인 경우, 필수 입력
                schemeAndroid:
                  type: string
                  description: Android 앱 링크 최대 1,000자 type 이 AL 인 경우, 필수 입력
                bizFormId:
                  type: string
                  description: 비즈니스 폼 아이디
                WL:
                  type: string
                  description: 웹 링크 http:// 또는 https://로 시작하는 URL linkMobile 의 경우, 필수 입력
                AL:
                  type: string
                  description: 앱 링크 linkMobile , schemeIos , schemeAndroid 중 2개는 필수 입력
                BF:
                  type: string
                  description: 비즈니스 폼 버튼명(name)에 5가지 형식만 사용 가능 톡에서 설명하기 톡에서 응모하기 톡에서 예약하기 TEXT , IMAGE 템플릿의 경우 첫 번째, 그 외에는 마지막 버튼으로만 사용 가능 AC 버튼과 함께 사용하는 경우, AC 순서가 우선하며, 첫 번째 버튼 위치에서는 AC -> BF 순서로, 마지막 버튼 위치에서는 BF -> AC 순서로 배치 최대 1개만 사용 가능
                AC:
                  type: string
                  description: 채널 추가 TEXT , IMAGE 템플릿의 경우 첫 번째, 그 외에는 마지막 버튼으로만 사용 가능
                BK:
                  type: string
                  description: 봇 키워드
                MD:
                  type: string
                  description: 메시지 전달
                BC:
                  type: string
                  description: 상담톡 전환 상담톡을 이용하는 채널만 사용 가능
                BT:
                  type: string
                  description: 챗봇 전환 카카오 오픈 빌더의 챗봇을 사용하는 채널만 사용 가능
                image:
                  type: object
                  additionalProperties: true
                  description: 이미지 정보 이미지 목록 조회 참조
                headerContent:
                  type: string
                  description: 헤더(제목) 최대 20자 줄바꿈 불가
                item:
                  type: object
                  additionalProperties: true
                  description: 와이드 리스트 정보
                title:
                  type: string
                  description: 아이템 제목 1번째 아이템 사용 시, 선택(Optional) 입력 최대 25자 줄바꿈 최대 1회 2~4번째 아이템 사용 시, 필수(Required) 입력 최대 30자 줄바꿈 최대 1회
                imageId:
                  type: string
                  description: 이미지 아이디 1번째 아이템 메인 와이드 아이템 리스트 이미지 2~4번째 아이템 서브 와이드 아이템 리스트 이미지 이미지 목록 조회 참조
                linPc:
                  type: string
                  description: PC 웹 링크 최대 1,000자
                additionalContent:
                  type: string
                  description: 부가 정보 최대 34자 줄바꿈 최대 1회
                commerce:
                  type: object
                  additionalProperties: true
                  description: 커머스 정보
                carousel:
                  type: object
                  additionalProperties: true
                  description: 캐러셀 정보
                message:
                  type: string
                  description: '내용 최대 180자 줄바꿈 최대 10회 변수는 #{변수명} 형태로 띄어쓰기 없이 입력'
                video:
                  type: object
                  additionalProperties: true
                  description: 동영상 정보
                templateCode:
                  type: string
                  description: 메시지 템플릿 코드 네이버 클라우드 플랫폼 콘솔의 Simple & Easy Notification Service > Biz MessageBrand > Message Template 에서 확인
                templateParameters:
                  type: object
                  additionalProperties: true
                  description: '템플릿 파라미터 템플릿 변수 포함 시, 필수 입력 <예시> 템플릿 변수명이 #{할인금액} 이고, 값이 10000 인 경우, "templateParameters": {"할인금액": "10000"}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    description: 요청 아이디
                  requestTime:
                    type: string
                    description: 요청 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  statusCode:
                    type: string
                    description: '요청 상태 코드 202 : 성공 그 외: 실패 HTTP Status 규격을 따름'
                  statusName:
                    type: string
                    description: '상태 success | processing | fail success : 성공 processing : 처리 중 fail : 실패'
                  messages:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '메시지 정보: messages'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /brandmessage/v2/services/{serviceId}/messages/{messageId}:
    get:
      operationId: BrandMessageGet
      summary: 수신 결과 코드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: messageId
          in: path
          required: true
          schema:
            type: string
          description: 메시지 아이디 메시지 발송 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    description: 요청 아이디
                  messageId:
                    type: string
                    description: 메시지 아이디
                  requestTime:
                    type: string
                    description: 요청 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  completeTime:
                    type: string
                    description: 완료 일시 YYYY-MM-DDTHH:mm:ss 형식
                  plusFriendId:
                    type: string
                    description: 채널 아이디
                  messageType:
                    type: string
                    description: '메시지 타입 TEXT | IMAGE | WIDE_IMAGE | WIDE_ITEM_LIST | COMMERCE | CAROUSEL_COMMERCE | CAROUSEL_FEED | PREMIUM_VIDEO TEXT : 텍스트 IMAGE : 이미지형 WIDE_IMAGE : 와이드 이미지형 WIDE_ITEM_LIST : 와이드 리스트형 COMMERCE : 커머스형 CAROUSEL_COMMERCE : 캐러셀 커머스형 CAROUSEL_FEED : 캐러셀 피드형 PREMIUM_VIDEO : 프리미엄 동영상형'
                  templateCode:
                    type: string
                    description: 메시지 템플릿 코드
                  countryCode:
                    type: string
                    description: 국가 코드
                  to:
                    type: string
                    description: 수신 번호
                  content:
                    type: string
                    description: 메시지 내용
                  requestStatusCode:
                    type: string
                    description: '요청 상태 코드 A000 : 성공 그 외: 실패'
                  requestStatusName:
                    type: string
                    description: '요청 상태 success | fail success : 성공 fail : 실패'
                  requestStatusDesc:
                    type: string
                    description: 요청 상태 설명
                  messageStatusCode:
                    type: string
                    description: '수신 상태 코드 0000 : 성공 그 외: 실패'
                  messageStatusName:
                    type: string
                    description: '수신 상태 success | processing | fail success : 성공 processing : 처리중. messageStatusCode 와 messageStatusDesc 가 표시되지 않음 fail : 실패'
                  messageStatusDesc:
                    type: string
                    description: 수신 상태 설명
                  useSmsFailover:
                    type: boolean
                    description: 'SMS 대체 발송 사용 여부 true | false true : 사용 false : 사용 안 함'
                  failover:
                    type: object
                    additionalProperties: true
                    description: SMS 대체 발송 정보 대체 발송이 실행된 경우, 표시
                  isAdult:
                    type: boolean
                    description: '대상 연령 true | false (기본값) true : 성인용 false : 전체 연령용'
                  targeting:
                    type: string
                    description: '타겟팅 코드 M | N | I (기본값) M : 고객사의 광고성 정보 수신동의 유저(카카오톡 수신 동의) N : 고객사의 광고성 정보 수신동의 유저(카카오톡 수신 동의) 중 해당 채널 친구 제외 I : 광고성 정보 수신동의 유저(카카오톡 수신 동의)이면서 해당 채널 친구 F : 채널 친구가 아닌 대상 제외(지원 예정)'
                  templateParameters:
                    type: object
                    additionalProperties: true
                    description: 템플릿 파라미터
                  headerContent:
                    type: string
                    description: 헤더 내용
                  additionalContent:
                    type: string
                    description: 부가 내용
                  buttons:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '버튼 목록: buttons'
                  image:
                    type: object
                    additionalProperties: true
                    description: 이미지 정보
                  item:
                    type: object
                    additionalProperties: true
                    description: 와이드 리스트 정보
                  carousel:
                    type: object
                    additionalProperties: true
                    description: 캐러셀 정보
                  commerce:
                    type: object
                    additionalProperties: true
                    description: 커머스 정보
                  coupon:
                    type: object
                    additionalProperties: true
                    description: 쿠폰 정보
                  video:
                    type: object
                    additionalProperties: true
                    description: 동영상 정보 (프리미엄 동영상형)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /brandmessage/v2/services/{serviceId}/templates:
    get:
      operationId: BrandMessageTemplateList
      summary: 템플릿 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-brandmessage-template-list
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: Biz Message 서비스 아이디 프로젝트 목록 조회 참조
        - name: plusFriendId
          in: query
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 조회 참조
        - name: templateCode
          in: query
          required: false
          schema:
            type: string
          description: 템플릿 코드
        - name: templateName
          in: query
          required: false
          schema:
            type: string
          description: 템플릿 이름 전체 또는 부분 일치하는 값 필터링
        - name: messageType
          in: query
          required: false
          schema:
            type: string
          description: '메시지 타입 TEXT | IMAGE | WIDE_IMAGE | WIDE_ITEM_LIST | COMMERCE | CAROUSEL_COMMERCE | CAROUSEL_FEED | PREMIUM_VIDEO TEXT : 텍스트 IMAGE : 이미지형 WIDE_IMAGE : 와이드 이미지형 WIDE_ITEM_LIST : 와이드 리스트형 COMMERCE : 커머스형 CAROUSEL_COMMERCE : 캐러셀 커머스형 CAROUSEL_FEED : 캐러셀 피드형 PREMIUM_VIDEO : 프리미엄 동영상형'
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~100 (기본값: 100)'
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 인덱스 0~N (기본값: 0)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이미지 목록: items'
                  pageIndex:
                    type: integer
                    description: 페이지 인덱스
                  pageSize:
                    type: integer
                    description: 페이지당 항목 수
                  itemCount:
                    type: integer
                    description: 응답 결과 수
                  hasPrevious:
                    type: boolean
                    description: '이전 페이지 존재 여부 true | false true : 존재 false : 존재 안 함'
                  hasNext:
                    type: boolean
                    description: '다음 페이지 존재 여부 true | false true : 존재 false : 존재 안 함'
                  totalCount:
                    type: integer
                    description: 전체 항목 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /common/v2/projects:
    get:
      operationId: ProjectList
      summary: 프로젝트 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-project-list
      parameters:
        - name: projectName
          in: query
          required: false
          schema:
            type: string
          description: 프로젝트 이름 전체 또는 부분 일치하는 값 필터링
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~100 (기본값: 100)'
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 인덱스 0~N (기본값: 0)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: |
                  Top-level array of projects. Verified against the live NCP API
                  on 2026-04-26 — earlier docparse-derived shape was a single
                  object representing one project.
                items:
                  type: object
                  properties:
                    projectId:
                      type: string
                      description: 프로젝트 아이디
                    projectName:
                      type: string
                      description: 프로젝트 이름
                    projectDesc:
                      type: string
                      description: 프로젝트 설명
                    useSms:
                      type: boolean
                      description: 'SMS 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                    useKkoBizMsg:
                      type: boolean
                      description: 'Biz Message 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                    smsService:
                      type: object
                      additionalProperties: true
                      description: SMS 서비스 메타 정보
                    kkoBizMsgService:
                      type: object
                      additionalProperties: true
                      description: Biz Message 서비스 메타 정보
                    createTime:
                      type: string
                      description: 프로젝트 생성 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                    updateTime:
                      type: string
                      description: 프로젝트 최종 수정 일시 YYYY-MM-DDTHH:mm:ss.sss 형식 수정 이력이 없는 경우, 미표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ProjectCreate
      summary: 프로젝트 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-project-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectName
              properties:
                projectName:
                  type: string
                  description: 프로젝트 이름 영문 소문자, 숫자, 특수 문자 '-', '_'를 허용하며, 24자 이내로 입력
                projectDesc:
                  type: string
                  description: 프로젝트 설명 0~128자
                useKkoBizMsg:
                  type: boolean
                  description: 'Biz Message 서비스 사용 여부 true | false (기본값) true : 사용 false : 사용 안 함 false 인 경우에도 서비스 메타 정보가 생성되며 추후 변경 가능'
                useSms:
                  type: boolean
                  description: 'SMS 서비스 사용 여부 true | false (기본값) true : 사용 false : 사용 안 함 false 인 경우에도 서비스 메타 정보가 생성되며 추후 변경 가능'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    description: 프로젝트 아이디
                  projectName:
                    type: string
                    description: 프로젝트 이름
                  projectDesc:
                    type: string
                    description: 프로젝트 설명
                  useSms:
                    type: boolean
                    description: 'SMS 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                  useKkoBizMsg:
                    type: boolean
                    description: 'Biz Message 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                  smsService:
                    type: object
                    additionalProperties: true
                    description: SMS 서비스 메타 정보 useSms 가 false 여도 메타 정보는 생성됨
                  kkoBizMsgService:
                    type: object
                    additionalProperties: true
                    description: Biz Message 서비스 메타 정보 useKkoBizMsg 가 false 여도 메타 정보는 생성됨
                  createTime:
                    type: string
                    description: 프로젝트 생성 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /common/v2/projects/{projectId}:
    get:
      operationId: ProjectGet
      summary: 프로젝트 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-project-get
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: 프로젝트 아이디 프로젝트 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    description: 프로젝트 아이디
                  projectName:
                    type: string
                    description: 프로젝트 이름
                  projectDesc:
                    type: string
                    description: 프로젝트 설명
                  useSms:
                    type: boolean
                    description: 'SMS 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                  useKkoBizMsg:
                    type: boolean
                    description: 'Biz Message 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                  smsService:
                    type: object
                    additionalProperties: true
                    description: SMS 서비스 메타 정보
                  kkoBizMsgService:
                    type: object
                    additionalProperties: true
                    description: Biz Message 서비스 메타 정보
                  createTime:
                    type: string
                    description: 프로젝트 생성 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  updateTime:
                    type: string
                    description: 프로젝트 최종 수정 일시 YYYY-MM-DDTHH:mm:ss.sss 형식 수정 이력이 없는 경우, 미표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: ProjectUpdate
      summary: 프로젝트 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-project-update
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: 프로젝트 아이디 프로젝트 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                projectDesc:
                  type: string
                  description: 프로젝트 설명 0~128자
                useKkoBizMsg:
                  type: boolean
                  description: 'Biz Message 서비스 사용 여부 true | false (기본값) true : 사용 false : 사용 안 함 미입력 시 기본값인 false 로 설정'
                useSms:
                  type: boolean
                  description: 'SMS 서비스 사용 여부 true | false (기본값) true : 사용 false : 사용 안 함 미입력 시 기본값인 false 로 설정'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  projectId:
                    type: string
                    description: 프로젝트 아이디
                  projectName:
                    type: string
                    description: 프로젝트 이름
                  projectDesc:
                    type: string
                    description: 프로젝트 설명
                  useSms:
                    type: boolean
                    description: 'SMS 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                  useKkoBizMsg:
                    type: boolean
                    description: 'Biz Message 서비스 사용 여부 true | false true : 사용 false : 사용 안 함'
                  smsService:
                    type: object
                    additionalProperties: true
                    description: SMS 서비스 메타 정보
                  kkoBizMsgService:
                    type: object
                    additionalProperties: true
                    description: Biz Message 서비스 메타 정보
                  createTime:
                    type: string
                    description: 프로젝트 생성 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  updateTime:
                    type: string
                    description: 프로젝트 최종 수정 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ProjectDelete
      summary: 프로젝트 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-project-delete
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
          description: 프로젝트 아이디 프로젝트 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /sms/v2/services/{serviceId}/files:
    post:
      operationId: SmsAttachMentCreate
      summary: 첨부 파일 업로드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-attachment-create
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fileName
                - fileBody
              properties:
                fileName:
                  type: string
                  description: 첨부 파일 이름 0~40자 jpg, jpeg 확장자를 가진 파일 이름
                fileBody:
                  type: string
                  description: 첨부 파일 내용(Kbyte) 0~300 jpg, jpeg 이미지를 Base64로 인코딩한 값 해상도 최대 1500x1440 허용 접두어가 있는 경우, 삭제 필요(<예시> data:image/png;base64, )
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  fileId:
                    type: string
                    description: 첨부 파일 아이디
                  createTime:
                    type: string
                    description: 첨부 파일 생성 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  expireTime:
                    type: string
                    description: 첨부 파일 만료 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /sms/v2/services/{serviceId}/messages:
    get:
      operationId: SmsList
      summary: 메시지 발송 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-list
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
        - name: requestId
          in: query
          required: false
          schema:
            type: string
          description: 요청 아이디 메시지 발송 시 응답받은 요청 아이디 입력 requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력
        - name: requestStartTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 요청 기준 조회 시작 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력
        - name: requestEndTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 요청 기준 조회 종료 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestStartTime 과의 기간이 30일 이내여야 함
        - name: completeStartTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 완료 기준 조회 시작 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) requestId , requestStartTime + requestEndTime , completeStartTime + completeEndTime 중 하나는 필수 입력
        - name: completeEndTime
          in: query
          required: false
          schema:
            type: string
          description: 발송 완료 기준 조회 종료 일시 YYYY-MM-DD HH:mm:ss 형식(URL 인코딩 필요) completeStartTime 과의 기간이 24시간 이내여야 함
        - name: messageId
          in: query
          required: false
          schema:
            type: string
          description: 메시지 아이디
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: '메시지 타입 SMS | LMS | MMS SMS : SMS 메시지 LMS : LMS 메시지 MMS : MMS 메시지'
        - name: contentType
          in: query
          required: false
          schema:
            type: string
          description: '메시지 콘텐츠 타입 COMM | AD COMM : 일반용 AD : 광고용'
        - name: countryCode
          in: query
          required: false
          schema:
            type: string
          description: 국가 코드
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: '요청 상태 READY | PROCESSING | COMPLETED READY : 대기중 PROCESSING : 처리중 COMPLETED : 완료'
        - name: from
          in: query
          required: false
          schema:
            type: string
          description: 발신 번호 숫자만 입력 가능
        - name: to
          in: query
          required: false
          schema:
            type: string
          description: 수신 번호 숫자만 입력 가능
        - name: statusName
          in: query
          required: false
          schema:
            type: string
          description: '수신 상태 success | fail success : 성공 fail : 실패'
        - name: nextToken
          in: query
          required: false
          schema:
            type: string
          description: 페이지 위치 토큰 다음 목록 조회 시 사용하며, 이전 호출에서 응답받은 토큰값 입력
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~100 (기본값: 20) requestId 입력 시 기본으로 1000 적용'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    description: '상태 코드 HTTP 상태 코드 규칙을 따름 202 : 성공 그 외: 실패'
                  statusName:
                    type: string
                    description: '상태 success | reserved | fail success : 성공 reserved : 예약 fail : 실패'
                  messages:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '메시지 발송 요청 목록: messages'
                  pageSize:
                    type: integer
                    description: 페이지당 항목 수
                  pageIndex:
                    type: integer
                    description: 페이지 인덱스
                  itemCount:
                    type: integer
                    description: 응답 결과 수
                  hasMore:
                    type: boolean
                    description: '다음 페이지 존재 여부 true : 존재 false : 존재 안 함'
                  nextToken:
                    type: string
                    description: 페이지 위치 토큰 다음 페이지가 없을 경우, 표시되지 않음
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: SmsSend
      summary: 메시지 발송
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-send
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - from
                - content
                - messages
                - to
                - fileId
              properties:
                type:
                  type: string
                  description: '메시지 타입 SMS | LMS | MMS SMS : SMS 메시지 LMS : LMS 메시지 MMS : MMS 메시지'
                contentType:
                  type: string
                  description: '메시지 콘텐츠 타입 COMM (기본값) | AD COMM : 일반용 AD : 광고용'
                countryCode:
                  type: string
                  description: 국가 코드 82 (기본값) 국제 SMS 발송 국가 목록 참조
                from:
                  type: string
                  description: 발신 번호 콘솔을 통해 등록된 번호만 사용 가능 발신 번호 등록 참조
                subject:
                  type: string
                  description: 기본 메시지 제목(Byte) 0~40 LMS, MMS에서만 사용 가능
                content:
                  type: string
                  description: '기본 메시지 내용(Byte) SMS: 0~90 LMS, MMS: 0~2000'
                messages:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '메시지 정보: messages 최대 100건 입력 가능'
                files:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '첨부 파일 목록: files MMS에서만 사용 가능 type 을 MMS 로 선택해도 첨부 파일이 없으면 LMS로 발송'
                reserveTime:
                  type: string
                  description: 예약 일시 YYYY-MM-DD HH:mm 형식 예약 발송할 경우, 입력
                reserveTimeZone:
                  type: string
                  description: 예약 타임존 Asia/Seoul (기본값) 타임존 목록 참조
                to:
                  type: string
                  description: 수신 번호 숫자만 입력 가능
                fileId:
                  type: string
                  description: 첨부 파일 아이디 파일 업로드 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    description: 요청 아이디
                  requestTime:
                    type: string
                    description: 요청 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  statusCode:
                    type: string
                    description: '상태 코드 HTTP 상태 코드 규칙을 따름 202 : 성공 그 외: 실패'
                  statusName:
                    type: string
                    description: '상태 success | fail success : 성공 fail : 실패'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /sms/v2/services/{serviceId}/messages/{messageId}:
    get:
      operationId: SmsGet
      summary: 수신 결과 코드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
        - name: messageId
          in: path
          required: true
          schema:
            type: string
          description: 메시지 아이디 메시지 발송 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: string
                    description: '상태 코드 HTTP 상태 코드 규칙을 따름 200 : 성공 그 외: 실패'
                  statusName:
                    type: string
                    description: '상태 success | reserved | fail success : 성공 reserved : 예약 fail : 실패'
                  messages:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '메시지 정보: messages'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /sms/v2/services/{serviceId}/reservations/{reserveId}:
    delete:
      operationId: SmsReservationDelete
      summary: 메시지 예약 취소
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-reservation-delete
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
        - name: reserveId
          in: path
          required: true
          schema:
            type: string
          description: 예약 요청 아이디 메시지 발송 시 응답받은 요청 아이디( requestId ) 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /sms/v2/services/{serviceId}/reservations/{reserveId}/reserve-status:
    get:
      operationId: SmsReservationStatusGet
      summary: 메시지 예약 상태 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-reservation-status-get
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
        - name: reserveId
          in: path
          required: true
          schema:
            type: string
          description: 예약 요청 아이디 메시지 발송 시 응답받은 요청 아이디( requestId ) 입력
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  reserveId:
                    type: string
                    description: 예약 요청 아이디
                  reserveTimeZone:
                    type: string
                    description: 예약 타임존 타임존 목록 참조
                  reserveTime:
                    type: string
                    description: 예약 일시 YYYY-MM-DDTHH:mm:ss±hh:mm 형식
                  reserveStatus:
                    type: string
                    description: '예약 상태 READY | PROCESSING | CANCELED | FAIL | DONE | STALE | SKIP READY : 대기중 PROCESSING : 처리중 CANCELED : 취소 FAIL : 실패 DONE : 완료 STALE : 실패(시간 초과) SKIP : 실패(서비스 없음)'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /sms/v2/services/{serviceId}/unsubscribes:
    get:
      operationId: SmsUnSubScribeList
      summary: 수신 거부 번호 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-unsubscribe-list
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
        - name: clientTelNo
          in: query
          required: false
          schema:
            type: string
          description: 수신 거부 전화번호 숫자만 입력 가능
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
          description: 페이지당 항목 수 1~100
        - name: pageIndex
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 인덱스 0~N (기본값: 0)'
        - name: startTime
          in: query
          required: false
          schema:
            type: integer
          description: 조회 시작 일시(밀리초) Unix Timestamp 형식 수신 거부 등록 일시 기준 미입력 시 기본값으로 전체 기간 적용
        - name: endTime
          in: query
          required: false
          schema:
            type: integer
          description: 조회 종료 일시(밀리초) Unix Timestamp 형식 수신 거부 등록 일시 기준 미입력 시 기본값으로 전체 기간 적용
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientTelNo:
                    type: string
                    description: 수신 거부 전화번호
                  registerTime:
                    type: string
                    description: 수신 거부 등록 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  registerType:
                    type: string
                    description: '수신 거부 유입 경로 C | M C : ARS M : 수동'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: SmsUnSubScribeCreate
      summary: 수신 거부 번호 등록
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-unsubscribe-create
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - clientTelNo
              properties:
                clientTelNo:
                  type: string
                  description: 수신 거부 전화번호 최대 1,000개까지 입력 가능
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  clientTelNo:
                    type: string
                    description: 수신 거부 전화번호
                  registerTime:
                    type: string
                    description: 수신 거부 등록 일시 YYYY-MM-DDTHH:mm:ss.sss 형식
                  registerType:
                    type: string
                    description: '수신 거부 유입 경로 C | M C : ARS M : 수동'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: SmsUnSubScribeDelete
      summary: 수신 거부 번호 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - sens

      x-ncloud-source: https://api.ncloud-docs.com/docs/sens-sms-unsubscribe-delete
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
          description: SMS 서비스 아이디 프로젝트 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - clientTelNo
              properties:
                clientTelNo:
                  type: string
                  description: 수신 거부 전화번호 최대 1,000개까지 입력 가능
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    SuccessResponse:
      type: object
      description: Trivial success envelope — returned by mutations that don't carry a body.
      required:
        - success
      properties:
        success:
          type: boolean
          description: API 호출 성공 여부
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
