openapi: 3.0.3
info:
  title: vod-station
  description: vod-station
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: true

  x-ncloud-nrn:

    productName: VODStation
    resource_types:
      - Category
      - Channel
      - EncodingOption
      - Subscription

servers:
  - url: https://vodstation.apigw.ntruss.com
    description: vod-station 민간
    x-ncloud-env: public
  - url: https://vodstation.apigw.fin-ntruss.com
    description: vod-station 금융
    x-ncloud-env: financial
  - url: https://vodstation.apigw.gov-ntruss.com
    description: vod-station 공공
    x-ncloud-env: gov
security:
  - ncpAccessKey: []
    ncpTimestamp: []
    ncpHmacV2: []
paths:
  /category:
    get:
      operationId: CategoryList
      summary: 카테고리 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-category-list
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 1~N (기본값: 1)'
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~N (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '카테고리 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: CategoryCreate
      summary: 카테고리 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-category-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - output
              properties:
                name:
                  type: string
                  description: 카테고리 이름 output.bucketName 에 카테고리 이름의 폴더가 자동 생성
                encodingOptions:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 카테고리에 설정할 인코딩 옵션 인코딩 옵션 목록 조회 참조 템플릿 이용 시 템플릿 조회 참조 encodingOptionTemplateId 값을 입력한 경우, 해당 템플릿 아이디에 포함된 encodingOptionId 외 다른 아이디는 설정 불가
                encodingOptionTemplateId:
                  type: integer
                  description: 인코딩 템플릿 아이디 템플릿 조회 참조 해당 템플릿 아이디에 포함된 encodingOptionId 값을 encodingOptions 값으로 설정
                thumbnail:
                  type: boolean
                  description: '섬네일 추출 설정 true | false (기본값) true : 설정 false : 설정 안 함'
                notificationUrl:
                  type: string
                  description: 콜백(Callback) URL 카테고리 콜백 사용 참조
                output:
                  type: object
                  additionalProperties: true
                  description: 카테고리 출력 설정
                advancedOptions:
                  type: object
                  additionalProperties: true
                  description: 고급 설정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /category/{categoryId}:
    get:
      operationId: CategoryInfo
      summary: 카테고리 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-category-info
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
          description: 카테고리 아이디 카테고리 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    put:
      operationId: CategoryUpdate
      summary: 카테고리 수정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-category-update
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
          description: 카테고리 아이디 카테고리 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - output
              properties:
                encodingOptions:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 카테고리에 설정할 인코딩 옵션 인코딩 옵션 목록 조회 참조 템플릿 이용 시 템플릿 조회 참조 encodingOptionTemplateId 값을 입력한 경우, 해당 템플릿 아이디에 포함된 encodingOptionId 외 다른 아이디는 설정 불가
                encodingOptionTemplateId:
                  type: integer
                  description: 인코딩 템플릿 아이디 템플릿 조회 참조 해당 템플릿 아이디에 포함된 encodingOptionId 목록 값을 encodingOptions 필드 값으로 설정
                thumbnail:
                  type: boolean
                  description: '섬네일 추출 설정 true | false (기본값) true : 설정 false : 설정 안 함'
                notificationUrl:
                  type: string
                  description: Callback 설정 자세한 내용은 카테고리 콜백 사용 참조
                output:
                  type: object
                  additionalProperties: true
                  description: 카테고리 출력 설정
                advancedOptions:
                  type: object
                  additionalProperties: true
                  description: 고급 설정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: CategoryDelete
      summary: 카테고리 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-category-delete
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
          description: 카테고리 아이디 카테고리 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /category/{categoryId}/add-files:
    put:
      operationId: CategoryAddFileS
      summary: 카테고리 파일 추가
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-category-addfiles
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: string
          description: 카테고리 아이디 카테고리 목록 조회 참조
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                bucketName:
                  type: string
                  description: 입력 파일이 저장되어 있는 버킷 이름 pathList 를 설정하는 경우, 필수 입력 httpDownloadURL 과 함께 사용 불가 httpDownloadURL 을 사용하지 않는 경우, 필수 입력
                pathList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 파일명을 포함한 입력 파일의 버킷 상세 경로 100개 이내로 입력 bucketName 을 설정하는 경우, 필수 입력 httpDownloadURL 과 함께 사용 불가 bucketName 과 pathList 를 사용하지 않는 경우, 필수 입력
                httpDownloadUrlList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '파일명을 포함한 입력 파일의 HTTP URL 경로 HTTP URL 형식으로 100개 이내 입력 bucketName , pathList 와 함께 사용 불가 입력 가능 확장자: AVI, MOV, MP4, MP3, 3GP, MPG, MPEG, M4V, VOB, WMV, ASF, MKV, FLV, WEBM, GIF, AV1, MXF 출력 파일의 공개 범위가 비공개인 경우, 접근 불가능 가능성 존재'
                notification:
                  type: string
                  description: 입력 파일에 대한 콜백(Callback) URL 설정 설정 시 추가하는 인코딩 파일에 한해 카테고리의 콜백 설정보다 우선 적용
                output:
                  type: object
                  additionalProperties: true
                  description: 입력 파일에 대한 출력 설정
                setAdvancedOptions:
                  type: boolean
                  description: '고급 설정 여부 true | false (기본값) true : 설정 false : 설정 안 함'
                advancedOptions:
                  type: object
                  additionalProperties: true
                  description: 고급 설정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '카테고리에 인코딩 파일 추가 결과: content'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels:
    get:
      operationId: ChannelList
      summary: 채널 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-list
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 1~N (기본값: 1)'
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~N (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '채널 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: ChannelCreate
      summary: 송출 영상 보안 설정
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - storageBucketName
                - protocolList
                - segmentDuration
                - createCdn
                - protocol
              properties:
                name:
                  type: string
                  description: 채널 이름 영문자, 숫자, 특수 문자 '-'를 조합하여 3~20자 이내로 입력
                storageBucketName:
                  type: string
                  description: 스트리밍 영상 저장 버킷 이름
                accessPrivateFiles:
                  type: boolean
                  description: '버킷 내 비공개 파일 접근 제한 설정 여부 true | false (기본값) true : 허용 false : 제한 허용 시 비공개 파일도 스트리밍 가능'
                protocolList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: 스트리밍 프로토콜 목록 HLS | DASH 중복 선택 가능
                encryptionList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: '채널의 콘텐츠 보호 설정: encryptionList'
                segmentDuration:
                  type: integer
                  description: 세그먼트당 재생 시간(초) 5~20 세그먼트 재생 시간이 길면 파일 크기가 커지고 로딩이 길어질 수 있음 세그먼트 재생 시간이 짧으면 파일 크기는 작아지지만, 버퍼링이 발생할 수 있음
                segmentDurationOption:
                  type: string
                  description: '세그먼트 분할 방식 설정 BASIC (기본값) | VARIABLE BASIC : segmentDuration 설정 간격으로 일정하게 세그먼트 생성 VARIABLE : 모든 세그먼트가 키 프레임(keyframe)으로 시작하도록 세그먼트 생성 VARIABLE 옵션을 선택한 경우, segmentDuration 값과 실제 생성된 세그먼트 재생 시간에 차이 발생 가능성 존재 안정적인 스트리밍 서비스를 위해서는 BASIC 옵션 사용 권장'
                createCdn:
                  type: boolean
                  description: 'CDN 신규 생성 여부 true | false true : 신규 생성 false : 신규 CDN 생성 하지 않음. false 인 경우, VOD Station CDN 수동 연동 참조'
                cdn:
                  type: object
                  additionalProperties: true
                  description: CDN 설정 createCdn 이 true 인 경우, 필수 입력 Global Edge 연동 시 사용
                drm:
                  type: object
                  additionalProperties: true
                  description: Multi DRM 설정 One Click Multi DRM 참조
                notificationUrl:
                  type: string
                  description: 채널(Callback) URL 채널 콜백 사용 참고
                drmContentId:
                  type: string
                  description: DRM 콘텐츠 아이디 영문자, 숫자를 조합하여 3~100자 이내로 입력 DRM Key 요청 시 해당 값을 포함해 요청하며, 라이선스(License) 발급 시 필요
                drmKeyUrl:
                  type: string
                  description: DRM Key URL DRM 제공사의 CPIX API URL VOD Station은 공식적으로 Inka Pallyacon DRM의 CPIX v1 API 와의 연동을 지원 DRM 패키징을 위해 VOD Station은 xml body를 포함해 POST로 요청 http(s):// 포함 Media Encryption를 설정하는 경우, 불필요
                systemIdList:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: DRM 시스템 아이디 DRM 시스템 고유 식별자 영문자, 숫자, 특수문자 '-'를 조합하여 공백 없이 1~256자 이내로 입력 Media Encryption를 설정하는 경우, 불필요 DRM 유형에 맞게 1~2개의 시스템 아이디 포함 필수
                drmTypeCode:
                  type: integer
                  description: 'DRM 유형 21 | 22 21 : FairPlay 22 : Widevine/PlayReady Media Encryption를 설정하는 경우, 불필요'
                mediaEncryptTypeCode:
                  type: integer
                  description: 'Media Encryption(HLS AES-128) 코드 설정 1 | 2 | 3 1 : AES-128 2 : Sample-AES 3 : CENC drmTypeCode 가 21 인 경우, 설정 불가 DRM을 설정하는 경우, 불필요'
                protocol:
                  type: string
                  description: '프로토콜 설정 HLS | DASH HLS : FairPlay/Media Encryption DASH : Widevine/PlayReady'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}:
    get:
      operationId: ChannelInfo
      summary: 채널 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-info
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    delete:
      operationId: ChannelDelete
      summary: 채널 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-delete
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/events:
    get:
      operationId: ChannelEvent
      summary: 채널 이벤트 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-event
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 1~N (기본값: 1)'
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 1~N (기본값: 20)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '채널 이벤트 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/start:
    put:
      operationId: ChannelStart
      summary: 채널 시작
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-start
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /channels/{channelId}/stop:
    put:
      operationId: ChannelStop
      summary: 채널 정지
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-stop
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: 채널 아이디 채널 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /encoding-option:
    get:
      operationId: EnCodingOptionList
      summary: 인코딩 옵션 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-encodingoption-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '인코딩 옵션 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
    post:
      operationId: EnCodingOptionCreate
      summary: 인코딩 옵션 생성
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-encodingoption-create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - format
                - video
                - audio
              properties:
                encodingOptionType:
                  type: string
                  description: '인코딩 옵션 타입 NORMAL (기본값) | AUDIO NORMAL : 사용자 지정 인코딩 옵션 타입 비디오 및 오디오 스트림을 포함하는 프리셋 AUDIO : 오디오 스트림만 포함하는 프리셋'
                name:
                  type: string
                  description: 사용자 지정 인코딩 옵션 이름 영문자, 숫자, 특수 문자 ':', '-', '_'를 조합하여 3~20자 이내로 입력
                format:
                  type: string
                  description: 변환된 미디어 파일 컨테이너 포맷 MP4 (유효 값)
                video:
                  type: object
                  additionalProperties: true
                  description: 비디오 인코딩 옵션 정보 encodingOptionType 이 AUDIO 인 경우, 객체 생략
                audio:
                  type: object
                  additionalProperties: true
                  description: 오디오 인코딩 옵션 정보
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /encoding-option/template:
    get:
      operationId: EnCodingOptionTemplateList
      summary: 인코딩 옵션 템플릿 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-encodingoption-template-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '템플릿 목록: content'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /encoding-option/{encodingOptionId}:
    get:
      operationId: EnCodingOptionInfo
      summary: 인코딩 옵션 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-encodingoption-info
      parameters:
        - name: encodingOptionId
          in: path
          required: true
          schema:
            type: string
          description: 인코딩 옵션 아이디 인코딩 옵션 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
                  defaultSet:
                    type: boolean
                    description: '기본 인코딩 옵션 설정 여부 true | false true : 시스템 제공 false : 사용자 생성'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /encodingOption/{encodingOptionId}:
    delete:
      operationId: EnCodingOptionDelete
      summary: 인코딩 옵션 삭제
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-encodingoption-delete
      parameters:
        - name: encodingOptionId
          in: path
          required: true
          schema:
            type: string
          description: 인코딩 옵션 아이디 인코딩 옵션 목록 조회 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
                  defaultSet:
                    type: boolean
                    description: '기본 인코딩 옵션 설정 여부 true | false true : 시스템 제공 false : 사용자 생성'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /protocols:
    get:
      operationId: ChannelProtocolList
      summary: 프로토콜 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-channel-protocol-list
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '스트리밍 프로토콜 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /status:
    get:
      operationId: StatusList
      summary: 카테고리 상태 목록 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-status-list
      parameters:
        - name: pageNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지 번호 1~N (기본값: 1)'
        - name: pageSizeNo
          in: query
          required: false
          schema:
            type: integer
          description: '페이지당 항목 수 10~N (기본값: 20)'
        - name: workStartTimeFrom
          in: query
          required: false
          schema:
            type: integer
          description: 조회 시작 일시(밀리초) Unix Timestamp 형식
        - name: workStartTimeTo
          in: query
          required: false
          schema:
            type: integer
          description: 조회 종료 일시(밀리초) Unix Timestamp 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '카테고리 인코딩 상태 목록: content'
                  total:
                    type: integer
                    description: 전체 응답 수
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /status/status-statistic:
    get:
      operationId: StatusStatistic
      summary: 카테고리 통계 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-status-statistic
      parameters:
        - name: workStartTimeFrom
          in: query
          required: false
          schema:
            type: integer
          description: 조회 시작 일시(밀리초) Unix Timestamp 형식
        - name: workStartTimeTo
          in: query
          required: false
          schema:
            type: integer
          description: 조회 종료 일시(밀리초) Unix Timestamp 형식
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /status/{fileId}:
    get:
      operationId: StatusInfoList
      summary: 카테고리 상태 조회
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - vod-station

      x-ncloud-source: https://api.ncloud-docs.com/docs/vodstation-status-info-list
      parameters:
        - name: fileId
          in: path
          required: true
          schema:
            type: string
          description: 파일 아이디 카테고리 콜백 사용 참조 카테고리 파일 추가 참조 응답 바디의 id (파일 인코딩 작업 아이디)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
                  categoryId:
                    type: integer
                    description: 카테고리 아이디
                  categoryName:
                    type: string
                    description: 카테고리 이름
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpHmacV2:
      type: apiKey
      in: header
      name: x-ncp-apigw-signature-v2
    ncpAccessKey:
      type: apiKey
      in: header
      name: x-ncp-iam-access-key
    ncpTimestamp:
      type: apiKey
      in: header
      name: x-ncp-apigw-timestamp
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
