openapi: 3.0.3
info:
  title: CLOVA Speech
  description: CLOVA Speech
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: false

  x-ncloud-nrn:

    productName: CLOVASpeech
    resource_types:
      - Domain

servers:
  - url: https://clovaspeech-gw.ncloud.com
    description: clova-speech 민간
    x-ncloud-env: public
  - url: https://clovaspeech.apigw.fin-ntruss.com
    description: clova-speech 금융
    x-ncloud-env: financial
security:
  # CLOVA Speech uses a single per-app secret header. NOT IAM HMAC.
  - clovaSpeechApiKey: []
paths:
  /recog/v1/stt:
    post:
      operationId: ShortSentence
      summary: 단문 인식
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - clova-speech

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-clovaspeech-shortsentence
      parameters:
        - name: lang
          in: query
          required: true
          schema:
            type: string
          description: '텍스트로 변환할 언어 Kor | Eng | Jpn | Chn Kor : 한국어 Eng : 영어 Jpn : 일본어 Chn : 중국어'
        - name: assessment
          in: query
          required: false
          schema:
            type: boolean
          description: '발음 평가 결과 반환 여부 lang 이. Kor , Eng 인 경우에만 지원 true | false (기본값) true : 결과 반환 false : 결과 미반환'
        - name: utterance
          in: query
          required: false
          schema:
            type: string
          description: 발음 평가 대상 텍스트 정확한 발음 평가를 위한 대상 텍스트 추가 권장
        - name: boostings
          in: query
          required: false
          schema:
            type: string
          description: '음성 인식률을 높이기 위한 키워드 목록 탭(\t)으로 구분된 문자열 총 길이: 512자 이하 한국어만 지원 각 키워드는 3자 이상 (3자 미만은 부스팅 미적용) utterance와 동시 사용 가능'
        - name: graph
          in: query
          required: false
          schema:
            type: boolean
          description: '음성 파형 그래프 반환 여부 true | false (기본값) true : 그래프 반환 false : 그래프 미반환'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: 인식한 음원의 결과 값
                  quota:
                    type: integer
                    description: 음원 길이(15초)
                  assessment_score:
                    type: integer
                    description: 문장 전체의 발음 점수 1~100
                  assessment_details:
                    type: string
                    description: 매 단어마다의 평가 점수
                  ref_graph:
                    type: string
                    description: 기준 발음에 대한 음성 파형 그래프 수치 값 양의 정수 초당 50 샘플
                  usr_graph:
                    type: string
                    description: 입력된 발음에 대한 음성 파형 그래프 수치 값 양의 정수 초당 50 샘플
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /recognizer/object-storage:
    post:
      operationId: LongSentence
      summary: Object Storage 파일 인식
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - clova-speech

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-clovaspeech-longsentence
      parameters:
        - name: datakey
          in: query
          required: true
          schema:
            type: string
          description: "오디오/비디오 파일이 저장된 Object Storage 경로 Domain 생성 시 지정한 '인식 대상 저장 경로'의 하위 항목부터 입력 <예시> Object Storage의 경로가 '/data/sample.wav'이고, Domain 생성 시 지정된 인식 대상 저장 경로가 '/data'일 때: \"dataKey\": \"/sample.wav\""
        - name: language
          in: query
          required: true
          schema:
            type: string
          description: '텍스트 인식 언어 ko-KR (기본값) | en-US | enko | ja | zh-cn | zh-tw ko-kR : 한국어 en-US : 영어 enko : 한/영 동시 인식 ja : 일본어 zh-cn : 중국어(간체) zh-tw : 중국어(번체)'
        - name: completion
          in: query
          required: false
          schema:
            type: string
          description: '인식 요청 후 응답 방식 sync | async (기본값) sync (동기): 결과를 JSON 형식으로 반환 async (비동기): Callback URL 또는 resultToObs (ObjectStorage) 형식으로 반환'
        - name: callback
          in: query
          required: false
          schema:
            type: string
          description: Callback URL completion 이 async 일 때 callback 또는 resultToObs 중 하나 필수 입력
        - name: userdata
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
          description: 사용자 데이터 세부 정보
        - name: wordAlignment
          in: query
          required: false
          schema:
            type: boolean
          description: '인식 결과의 음성과 텍스트 정렬 출력 여부 true (기본값) | false true : 출력 false : 미출력'
        - name: fullText
          in: query
          required: false
          schema:
            type: boolean
          description: '전체 인식 결과 텍스트 출력 여부 true (기본값) | false true : 출력 false : 미출력'
        - name: resultToObs
          in: query
          required: false
          schema:
            type: boolean
          description: 'Object Storage 내 결과 저장 여부 true | false (기본값) true : 결과 저장 false : 결과 미저장 completion 이 async 일 때 callback 또는 resultToObs 중 하나 필수 입력'
        - name: noiseFiltering
          in: query
          required: false
          schema:
            type: boolean
          description: '노이즈 필터링 여부 true (기본값) | false true : 필터링 동작 false : 필터링 미동작'
        - name: boostings
          in: query
          required: false
          schema:
            type: array
            items:
              type: object
              additionalProperties: true
          description: '키워드 부스팅 세부 정보: boostings 음성 인식률을 높일 키워드 목록 useDomainBoostings 와 동시 사용 불가 최대 1,000개까지 입력 가능 한글, 영어만 지원 영어: 기본적으로 소문자 변환, 대문자 키워드 부스팅 요청 시 대문자로 치환 1음절의 단어는 오인식의 위험이 있어 부스팅 미지원 <예시> 네 , 응 , no 띄어쓰기 여부와 관계 없이 부스팅 처리 <예시> "클로바스피치"와 "클로바 스피치" 중 한 개의 키워드만 부스팅 요청 키워드 길이의 제약은 없으나, 부스팅할 대상이 여러 단어들이 조합된 구문일 경우 해당 구문이 아니면 부스팅의 영향을 받기 어려움 <예시> "클로바 스피치"라고 키워드를 부스팅하는 경우, "클로바 스피치"가 포함된 모든 문장은 부스팅의 영향을 받음 <예시> "클로바 스피치의 미디어 음성인식 기술" 이라는 조합된 긴 길이의 키워드를 부스팅하는 경우, "클로바 스피치"만 들어간 문장은 부스팅의 영향을 받기 어려움'
        - name: useDomainBoostings
          in: query
          required: false
          schema:
            type: boolean
          description: '도메인 부스팅 사용 여부 true | false (기본값) true : 부스팅 사용 false : 부스팅 미사용 boostings 와 동시 사용 불가'
        - name: forbiddens
          in: query
          required: false
          schema:
            type: string
          description: 민감 키워드 음성 인식률을 낮출 키워드 목록(인식 결과에 표시하고 싶지 않은 경우) 키워드 개수 및 길이 제한 없음 띄어쓰기, 영문 대소문자 모두 완전 일치 필요
        - name: diarization
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
          description: 화자 인식 세부 설정
        - name: sed
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
          description: 이벤트 탐지 결과 세부 정보
        - name: format
          in: query
          required: false
          schema:
            type: string
          description: 응답 결과 반환 형식 JSON (기본값) | SRT | SMI
        - name: words
          in: query
          required: false
          schema:
            type: string
          description: 키워드 부스팅할 단어 목록
        - name: weight
          in: query
          required: false
          schema:
            type: string
          description: 키워드 부스팅 가중치
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  token:
                    type: string
                    description: 결과 토큰
                  version:
                    type: string
                    description: 엔진 버전
                  params:
                    type: object
                    additionalProperties: true
                    description: 파라미터 세부 정보
                  progress:
                    type: integer
                    description: 인식 진행률
                  keywords:
                    type: object
                    additionalProperties: true
                    description: 키워드 부스팅된 단어 목록
                  segments:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'segments 세부 정보: segments'
                  text:
                    type: string
                    description: 전체 텍스트
                  confidence:
                    type: number
                    description: 전체 정확도
                  speakers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '전체 화자 세부 정보: speakers'
                  events:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 세부 정보: events'
                  eventTypes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '인식된 모든 이벤트 세부 정보: eventTypes'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /recognizer/upload:
    post:
      operationId: LongSentenceLocal
      summary: 로컬 파일 인식
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - clova-speech

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-clovaspeech-longsentence-local
      parameters:
        - name: media
          in: query
          required: true
          schema:
            type: string
          description: '로컬 오디오/비디오 파일 지원 파일 형식 오디오: MP3 , AAC , AC3 , OGG , FLAC , WAV , M4A 비디오: AVI , MP4 , MOV , WMV , FLV , MKV'
        - name: params
          in: query
          required: true
          schema:
            type: object
            additionalProperties: true
          description: 파라미터 세부 정보
        - name: sed
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
          description: 이벤트 탐지 결과 세부 정보
        - name: format
          in: query
          required: false
          schema:
            type: string
          description: 응답 결과 반환 형식 JSON (기본값) | SRT | SMI
        - name: words
          in: query
          required: false
          schema:
            type: string
          description: 키워드 부스팅할 단어 목록
        - name: weight
          in: query
          required: false
          schema:
            type: string
          description: 키워드 부스팅 가중치
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  token:
                    type: string
                    description: 결과 토큰
                  version:
                    type: string
                    description: 엔진 버전
                  params:
                    type: object
                    additionalProperties: true
                    description: 파라미터 세부 정보
                  progress:
                    type: integer
                    description: 인식 진행률
                  keywords:
                    type: object
                    additionalProperties: true
                    description: 키워드 부스팅된 단어 목록
                  segments:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'segments 세부 정보: segments'
                  text:
                    type: string
                    description: 전체 텍스트
                  confidence:
                    type: number
                    description: 전체 정확도
                  speakers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '전체 화자 세부 정보: speakers'
                  events:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 세부 정보: events'
                  eventTypes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '인식된 모든 이벤트 세부 정보: eventTypes'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /recognizer/url:
    post:
      operationId: LongSentenceExternalUrl
      summary: 외부 파일 인식
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - clova-speech

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-clovaspeech-longsentence-externalurl
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
          description: 오디오/비디오 파일 URL
        - name: language
          in: query
          required: true
          schema:
            type: string
          description: '텍스트 인식 언어 ko-KR (기본값) | en-US | enko | ja | zh-cn | zh-tw ko-kR : 한국어 en-US : 영어 enko : 한/영 동시 인식 ja : 일본어 zh-cn : 중국어(간체) zh-tw : 중국어(번체)'
        - name: completion
          in: query
          required: false
          schema:
            type: string
          description: '인식 요청 후 응답 방식 sync | async (기본값) sync (동기): 결과를 JSON 형식으로 반환 async (비동기): Callback URL 또는 resultToObs (ObjectStorage) 형식으로 반환'
        - name: callback
          in: query
          required: false
          schema:
            type: string
          description: Callback URL completion 이 async 일 때 callback 또는 resultToObs 중 하나 필수 입력
        - name: userdata
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
          description: 사용자 데이터 세부 정보
        - name: wordAlignment
          in: query
          required: false
          schema:
            type: boolean
          description: '인식 결과의 음성과 텍스트 정렬 출력 여부 true (기본값) | false true : 출력 false : 미출력'
        - name: fullText
          in: query
          required: false
          schema:
            type: boolean
          description: '전체 인식 결과 텍스트 출력 여부 true (기본값) | false true : 출력 false : 미출력'
        - name: resultToObs
          in: query
          required: false
          schema:
            type: boolean
          description: 'Object Storage 내 결과 저장 여부 true | false (기본값) true : 결과 저장 false : 결과 미저장 completion 이 async 일 때 callback 또는 resultToObs 중 하나 필수 입력'
        - name: noiseFiltering
          in: query
          required: false
          schema:
            type: boolean
          description: '노이즈 필터링 여부 true (기본값) | false true : 필터링 동작 false : 필터링 미동작'
        - name: boostings
          in: query
          required: false
          schema:
            type: array
            items:
              type: object
              additionalProperties: true
          description: '키워드 부스팅 세부 정보: boostings 음성 인식률을 높일 키워드 목록 useDomainBoostings 와 동시 사용 불가 최대 1,000개까지 입력 가능 한글, 영어만 지원 영어: 기본적으로 소문자 변환, 대문자 키워드 부스팅 요청 시 대문자로 치환 1음절의 단어는 오인식의 위험이 있어 부스팅 미지원 <예시> 네 , 응 , no 띄어쓰기 여부와 관계 없이 부스팅 처리 <예시> "클로바스피치"와 "클로바 스피치" 중 한 개의 키워드만 부스팅 요청 키워드 길이의 제약은 없으나, 부스팅할 대상이 여러 단어들이 조합된 구문일 경우 해당 구문이 아니면 부스팅의 영향을 받기 어려움 <예시> "클로바 스피치"라고 키워드를 부스팅하는 경우, "클로바 스피치"가 포함된 모든 문장은 부스팅의 영향을 받음 <예시> "클로바 스피치의 미디어 음성인식 기술" 이라는 조합된 긴 길이의 키워드를 부스팅하는 경우, "클로바 스피치"만 들어간 문장은 부스팅의 영향을 받기 어려움'
        - name: useDomainBoostings
          in: query
          required: false
          schema:
            type: boolean
          description: '도메인 부스팅 사용 여부 true | false (기본값) true : 부스팅 사용 false : 부스팅 미사용 boostings 와 동시 사용 불가'
        - name: forbiddens
          in: query
          required: false
          schema:
            type: string
          description: 민감 키워드 음성 인식률을 낮출 키워드 목록(인식 결과에 표시하고 싶지 않은 경우) 키워드 개수 및 길이 제한 없음 띄어쓰기, 영문 대소문자 모두 완전 일치 필요
        - name: diarization
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
          description: 화자 인식 세부 설정
        - name: sed
          in: query
          required: false
          schema:
            type: object
            additionalProperties: true
          description: 이벤트 탐지 결과 세부 정보
        - name: format
          in: query
          required: false
          schema:
            type: string
          description: 응답 결과 반환 형식 JSON (기본값) | SRT | SMI
        - name: words
          in: query
          required: false
          schema:
            type: string
          description: 키워드 부스팅 할 단어 목록
        - name: weight
          in: query
          required: false
          schema:
            type: string
          description: 키워드 부스팅 가중치
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  token:
                    type: string
                    description: 결과 토큰
                  version:
                    type: string
                    description: 엔진 버전
                  params:
                    type: object
                    additionalProperties: true
                    description: 파라미터 세부 정보
                  progress:
                    type: integer
                    description: 인식 진행률
                  keywords:
                    type: object
                    additionalProperties: true
                    description: 키워드 부스팅된 단어 목록
                  segments:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 'segments 세부 정보: segments'
                  text:
                    type: string
                    description: 전체 텍스트
                  confidence:
                    type: number
                    description: 전체 정확도
                  speakers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '전체 화자 세부 정보: speakers'
                  events:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '이벤트 세부 정보: events'
                  eventTypes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '인식된 모든 이벤트 세부 정보: eventTypes'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /recognizer/{token}:
    get:
      operationId: LongSentenceGetJobsTatus
      summary: 작업 상태 확인
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - clova-speech

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-application-service-clovaspeech-longsentence-getjobstatus
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
          description: 결과 토큰
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    description: '상태 확인 결과 코드 WAITING | PROCESSING | FAILED | COMPLETED | TIMEOUT WAITING : 요청 작업 대기 중 PROCESSING : 요청 작업 처리 중 FAILED : 요청 작업 실패 COMPLETED : 요청 작업 성공 TIMEOUT : 요청 작업 시간 초과'
                  message:
                    type: string
                    description: 상태 확인 결과 메시지
                  token:
                    type: string
                    description: 결과 토큰
                  segments:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: Object Storage 파일 인식 , 외부 파일 인식 , 로컬 파일 인식 의 segments 세부 정보 참조
                  speakers:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: Object Storage 파일 인식 , 외부 파일 인식 , 로컬 파일 인식 의 speakers 세부 정보 참조
                  events:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: Object Storage 파일 인식 , 외부 파일 인식 , 로컬 파일 인식 의 events 세부 정보 참조
                  eventTypes:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: Object Storage 파일 인식 , 외부 파일 인식 , 로컬 파일 인식 의 eventTypes 세부 정보 참조
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    clovaSpeechApiKey:
      type: apiKey
      in: header
      name: X-CLOVASPEECH-API-KEY
      description: Per-app secret key issued in NCP console.
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
