openapi: 3.0.3
info:
  title: Naver OpenAPI
  description: Naver OpenAPI
  version: 1.0.0
  x-ncloud-availability:
    public: true
    financial: true
    gov: true

  x-ncloud-nrn-todo: true
servers:
  - url: https://naveropenapi.apigw.ntruss.com
    description: naver 민간
    x-ncloud-env: public
  - url: https://naveropenapi.apigw.fin-ntruss.com
    description: naver 금융
    x-ncloud-env: financial
  - url: https://naveropenapi.apigw.gov-ntruss.com
    description: naver 공공
    x-ncloud-env: gov
security:
  # APIGW Client Key — issued per registered app, distinct from IAM creds.
  - ncpApiKeyId: []
    ncpApiKey: []
paths:
  /dect:
    post:
      operationId: PapagolanguagedetectionDect
      summary: 언어 감지
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-papagolanguagedetection-dect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: 언어를 감지할 텍스트
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  langCode:
                    type: string
                    description: 언어 코드 ko(한국어) | en(영어) | ja(일본어) | zh-CN (중국어(간체)) | zh-TW (중국어(번체)) | vi (베트남어) | th (태국어) | id (인도네시아어) | fr (프랑스어) | es (스페인어) | ru (러시아어) | de (독일어) | it (이탈리아어) | pt (포르투갈어) | hi (힌두어)
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /download:
    get:
      operationId: PapagodoctranslationDownload
      summary: 문서 번역 결과 다운로드
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-papagodoctranslation-download
      parameters:
        - name: requestId
          in: query
          required: true
          schema:
            type: string
          description: 번역 요청으로 발급된 아이디(Request ID) 각 문서 번역 요청에 대한 고유한 식별 값
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  File:
                    type: string
                    description: Attachment 형식의 번역이 완료된 문서 파일
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /driving:
    get:
      operationId: Mapsdirections15Driving
      summary: Directions 15
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-mapsdirections15-driving
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
          description: 출발지(경도,위도) <예시> start=127.12345,37.12345
        - name: goal
          in: query
          required: true
          schema:
            type: string
          description: 목적지(경도,위도) ':'로 구분하여 최대 10개의 목적지 입력 가능 입력한 목적지 중 가장 적은 비용으로 도달할 수 있는 목적지에 대한 경로 조회 <예시> goal=123.45678,34.56789:124.56789,35.67890
        - name: waypoints
          in: query
          required: false
          schema:
            type: string
          description: 경유지(경도,위도) '| (Pipe char)'로 구분하여 최대 5개의 경유지 입력 가능 동일 경유지의 좌표가 2개인 경우, ':'로 구분하여 입력 <예시> waypoints=127.12345,37.12345:127.23456,37.23456|128.12345,38.12345:128.23456,38.23456
        - name: option
          in: query
          required: false
          schema:
            type: string
          description: "경로 조회 옵션 ':'로 구분하여 최대 3개의 옵션 입력 가능 trafast | tracomfort | traoptimal (기본값) | traavoidtoll | traavoidcaronly trafast : 실시간 빠른 길 tracomfort : 실시간 편한 길 traoptimal : 실시간 최적 traavoidtoll : 무료 우선 traavoidcaronly : 자동차 전용 도로 회피 우선"
        - name: cartype
          in: query
          required: false
          schema:
            type: integer
          description: '차량 타입 1 (기본값) | 2 | 3 | 4 | 5 | 6 1 : 1종 소형차 2축 차량(윤폭 279.4 mm 이하 승용차, 소형 승합차, 소형 화물차) 2 : 2종 2축 차량(윤폭 279.4 mm 초과, 윤거 1,800 mm 이하 중형 승합차, 중형 화물차) 3 : 3종 대형차 2축 차량(윤폭 279.4 mm 초과, 윤거 1,800 mm 초과 대형 승합차, 2축 대형 화물차) 4 : 4종 3축 대형 화물차 5 : 5종 4축 이상 특수 화물차 6 : 1종 경형 자동차(배기량 1000 cc 미만으로 길이 3.6m, 너비 1.6 m, 높이 2.0 m 이하) 일반적인 승용차는 모두 1 입력 톨게이트 요금 계산에 활용되며, 차종에 따른 중량 또는 크기는 판단하지 않음'
        - name: fueltype
          in: query
          required: false
          schema:
            type: string
          description: '연료 타입 gasoline (기본값) | highgradegasoline | diesel | lpg gasoline : 휘발유 highgradegasoline : 고급 휘발유 diesel : 경유 lpg : LPG 유류비 계산에 활용'
        - name: mileage
          in: query
          required: false
          schema:
            type: number
          description: 연비 사용하는 차량의 연비를 직접 설정하고자 할 때 입력 14 (기본값)
        - name: lang
          in: query
          required: false
          schema:
            type: string
          description: '응답 결과 언어 ko (기본값) | en | ja | zh ko : 한국어 en : 영어 ja : 일본어 zh : 중국어 간체'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 응답 코드
                  message:
                    type: string
                    description: 응답 메시지
                  currentDateTime:
                    type: string
                    description: 경로 조회 일시(yyyy-MM-ddTHH:mm:ss)
                  route:
                    type: object
                    additionalProperties: true
                    description: 경로 조회 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /gc:
    get:
      operationId: MapsReverseGeocodingGc
      summary: Reverse Geocoding
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-mapsreversegeocoding-gc
      parameters:
        - name: coords
          in: query
          required: true
          schema:
            type: string
          description: 좌표(X 좌표,Y 좌표) <예시> coords=128.12345,37.98776
        - name: sourcecrs
          in: query
          required: false
          schema:
            type: string
          description: '입력 좌표계 코드 EPSG:4326 (기본값) | EPSG:3857 | NHN:2048 EPSG:4326 : WGS84 경위도 EPSG:3857 : 구글 맵 NHN:2048 : UTM-K 지원되는 좌표계 코드는 좌표 체계 참조'
        - name: targetcrs
          in: query
          required: false
          schema:
            type: string
          description: '출력 좌표계 코드 EPSG:4326 (기본값) | EPSG:3857 | NHN:2048 EPSG:4326 : WGS84 경위도 EPSG:3857 : 구글 맵 NHN:2048 : UTM-K 지원되는 좌표계 코드는 좌표 체계 참조'
        - name: orders
          in: query
          required: false
          schema:
            type: string
          description: "변환 타입 legalcode (기본값) | admcode (기본값) | addr | roadaddr legalcode : 법정동으로 변환 admcode : 행정동으로 변환 addr : 지번 주소로 변환 roadaddr : 도로명 주소로 변환 ','로 구분하여 여러 옵션 값을 입력할 수 있으며, 입력순으로 결과 표시 해안선 부근이나 신규 택지 등 상세 주소가 없는 지역의 좌표 변환 시 addr 또는 roadaddr 로 요청하면 결과가 반환되지 않을 수 있으나, legalcode 또는 admcode 로 요청하면 법정동 또는 행정동 단위 주소 확인 가능 <예시> orders=legalcode,addr"
        - name: output
          in: query
          required: false
          schema:
            type: string
          description: 응답 결과의 포맷 유형 xml (기본값) | json
        - name: callback
          in: query
          required: false
          schema:
            type: string
          description: 콜백 이름 JSONP 통신을 위해 콜백 처리 시 이용 입력한 이름으로 JSON 데이터를 감싸서 반환 output 이 json 인 경우에만 입력 가능 <예시> callback=abc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    additionalProperties: true
                    description: 응답 상태에 대한 정보
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /geocode:
    get:
      operationId: MapsGeocodingGeoCode
      summary: Geocoding
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-mapsgeocoding-geocode
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: 검색할 주소
        - name: coordinate
          in: query
          required: false
          schema:
            type: string
          description: 검색 중심 좌표(경도,위도) 입력한 좌표와 근접한 순으로 검색 결과 표시
        - name: filter
          in: query
          required: false
          schema:
            type: integer
          description: '검색 결과 필터 HCODE | BCODE hCODE : 행정동 코드 BCODE : 법정동 코드 필터 타입@코드1;코드2;...... 형식으로 입력 <예시> HCODE@4113554500;4113555000'
        - name: language
          in: query
          required: false
          schema:
            type: string
          description: '응답 결과 언어 kor (기본값) | eng kor : 한국어 eng : 영어'
        - name: page
          in: query
          required: false
          schema:
            type: number
          description: 페이지 번호 1 (기본값)
        - name: count
          in: query
          required: false
          schema:
            type: number
          description: '결과 목록 크기 1~100 (기본값: 10)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: 응답 코드
                  meta:
                    type: object
                    additionalProperties: true
                    description: 메타 데이터
                  addresses:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: 주소 정보 목록
                  errorMessage:
                    type: string
                    description: 오류 메시지 500 오류(알 수 없는 오류) 발생 시에만 표시
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /map-static/v2/lastversion:
    get:
      operationId: MapsStaticMapRaster
      summary: Static Map
      description: VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-mapsstaticmap-raster
      parameters:
        - name: crs
          in: query
          required: false
          schema:
            type: string
          description: '좌표 체계 EPSG:4326 (기본값) | NHN:2048 | NHN:128 | EPSG:4258 | EPSG:4162 | EPSG:2096 | EPSG:2097 | EPSG:2098 | EPSG:3857 | EPSG:900913 | EPSG:5179 EPSG:4326 : WGS84 경위도 NHN:2048 : UTM-K NHN:128 : KATECH(TM128) EPSG:4258 : GRS80 경위도 EPSG:4162 : Bessel 경위도 EPSG:2096 : Korea East Belt EPSG:2097 : Korea Central Belt EPSG:2098 : Korea West Belt EPSG:3857 , EPSG:900913 : 구글 맵 EPSG:5179 : Korea 2000 / Unified CS'
        - name: center
          in: query
          required: false
          schema:
            type: string
          description: '중심 좌표(X 좌표,Y 좌표) X 좌표, Y 좌표 순서는 좌표 체계 정의에 따름 <예시> WGS84 경위도 좌표 체계: center=경도,위도 markers 미입력 시 반드시 입력 level 입력 시 반드시 입력'
        - name: level
          in: query
          required: false
          schema:
            type: integer
          description: 줌 레벨 0~20 markers 미입력 시 반드시 입력 level 입력 시 반드시 입력
        - name: w , h
          in: query
          required: true
          schema:
            type: integer
          description: '가로, 세로 이미지 크기 w=int&h=int 형식으로 1~1,024 픽셀 지원 w : 가로 크기 h : 세로 크기'
        - name: maptype
          in: query
          required: false
          schema:
            type: string
          description: '지도 유형 basic (기본값) | traffic | satellite | satellite_base | terrain basic : 일반 지도 traffic : 교통 정보 지도(일반 지도 기반) satellite : 위성 지도 satellite_base : 위성 배경 지도 terrain : 지형도'
        - name: format
          in: query
          required: false
          schema:
            type: string
          description: '지도 이미지 형식 jpg / jpeg (기본값) | png8 | png jpg / jpeg : 압축 품질 85%, 24비트 png8 : 8비트 png : 24비트'
        - name: scale
          in: query
          required: false
          schema:
            type: integer
          description: '해상도 1 (기본값) | 2 1 : 저해상도용 이미지 요청. 요청한 w , h 크기의 이미지를 256 x 256 타일 기반으로 생성해서 반환 2 : 고해상도용 이미지 요청. 요청한 w , h 크기의 이미지를 512 x 512 타일 기반으로 생성해서 반환( scale=1 과 동일한 지도 서비스 지역이 반환되지만 각 크기에 포함되는 픽셀은 2배 증가)'
        - name: markers
          in: query
          required: false
          schema:
            type: string
          description: 마커 설정 center , level 미입력 시 반드시 입력 center , level 미입력 시 설정한 마커에 최적화된 줌 레벨과 위치로 지도 표시 최대 20개 입력 가능 '| (Pipe char)'로 구분하여 옵션 설정 가능 markers 참조 <예시> markers=type:n|size:tiny|color:Blue|pos:126.9810479%2037.5695075&markers=type:d|size:mid|color:Default|pos:123.524712%2024.1236547
        - name: lang
          in: query
          required: false
          schema:
            type: string
          description: '라벨 언어 ko (기본값) | en | ja | zh ko : 한국어 en : 영어 ja : 일본어 zh : 중국어 간체'
        - name: dataversion
          in: query
          required: false
          schema:
            type: string
          description: 버전 정보 Static Map API의 이미지 캐싱으로, 클라이언트에서 동일 URL 요청 시 원본 서버의 배경 타일 업데이트가 반영되지 않는 문제를 해결하기 위해 입력 배경 타일에 대한 최신성 이슈가 있는 경우에 입력 권장 버전 정보가 주기적으로 업데이트되므로 작업의 효율성을 위해 배치성 작업을 권장 권장 업데이트 주기( interval )에 따라 일일 확인 횟수를 설정하여 정해진 시간에 확인한 버전 정보를 저장한 후 Static Map API 호출 시 사용하는 것을 권장 Data Version API 를 통해 version 확인
        - name: version
          in: query
          required: false
          schema:
            type: string
          description: '버전 정보 major_version.minor_version 형식 major_version : 정기 업데이트 시 변경, 원타일 맵 메이저 버전과 동일하게 유지(2달에 1번 업데이트) minor_version : 부분 업데이트 시 버전 올림(1달에 1~2번 업데이트)'
        - name: interval
          in: query
          required: false
          schema:
            type: integer
            format: int64
          description: 권장 업데이트 주기(초)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /ncaptcha:
    get:
      operationId: CaptchaImageRequest
      summary: 이미지 파일 요청
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-captcha-image-request
      parameters:
        - name: key
          in: query
          required: true
          schema:
            type: string
          description: CAPTCHA 키 발급 API 호출로 받은 키 값 CAPTCHA 키 발급 참조
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /nkey:
    get:
      operationId: CaptchaAudioCompare
      summary: 입력값 비교
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-captcha-audio-compare
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: integer
          description: 'CAPTCHA 키 비교를 위한 입력값 0 | 1 (기본값) 0 : 키 발급( CAPTCHA 키 발급 참조) 1 : 해당 키와 사용자의 입력값을 비교'
        - name: key
          in: query
          required: true
          schema:
            type: string
          description: CAPTCHA 키 발급 API 호출로 받은 키 값 CAPTCHA 키 발급 참조
        - name: value
          in: query
          required: true
          schema:
            type: string
          description: CAPTCHA 이미지에 대한 사용자의 입력값
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    description: '사용자의 CAPTCHA 입력값 정답 여부 true | false true : 정답 false : 오답'
                  responseTime:
                    type: number
                    description: 정답을 맞추는 데 걸린 시간(초) -1~7200 소수점 아래 2자리수까지 표현 <예시> 123.12
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /search:
    post:
      operationId: SearchTrEndSearch
      summary: search
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-searchtrend-search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - startDate
                - endDate
                - timeUnit
                - keywordGroups
                - groupName
                - keywords
              properties:
                startDate:
                  type: string
                  description: 데이터 조회 시작 날짜데이터 조회 시작 날짜 yyyy-MM-dd 형식 2016년 01월 01일부터 조회 가능
                endDate:
                  type: string
                  description: 데이터 조회 종료 날짜 yyyy-MM-dd 형식
                timeUnit:
                  type: string
                  description: '데이터 조회 구간 단위 date | week | month date : 일간 데이터 조회 week : 주간 데이터 조회 month : 월간 데이터 조회'
                keywordGroups:
                  type: string
                  description: '주제어, 검색어 그룹 정보: keywordGroups 최대 5개 그룹까지 동시 조회 지원'
                device:
                  type: string
                  description: '검색 디바이스 환경 필터 pc | mo pc : PC 환경 mo : 모바일 환경'
                ages:
                  type: string
                  description: '나이 필터 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 1 : 0~12세 2 : 13~18세 3 : 19~24세 4 : 25~29세 5 : 30~34세 6 : 35~39세 7 : 40~44세 8 : 45~49세 9 : 50~54세 10 : 55~59세 11 : 60세 이상'
                gender:
                  type: string
                  description: '성별 필터 m | f m : 남성 f : 여성'
                groupName:
                  type: string
                  description: 그룹 이름(주제어) 데이터를 조회할 검색어끼리 묶어서 그룹 단위로 통합
                keywords:
                  type: string
                  description: 그룹의 검색어 목록 데이터 그룹당 최대 20개 검색어 조회 지원
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  startDate:
                    type: string
                    description: 데이터 조회 시작 날짜 yyyy-MM-dd 형식 2016년 01월 01일부터 조회 가능
                  endDate:
                    type: string
                    description: 데이터 조회 종료 날짜 yyyy-MM-dd 형식
                  timeUnit:
                    type: string
                    description: '데이터 조회 구간 단위 date | week | month date : 일간 데이터 조회 week : 주간 데이터 조회 month : 월간 데이터 조회'
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: '그룹 정보: results'
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /skey:
    get:
      operationId: CaptchaAudioGetKey
      summary: 키 발급
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-captcha-audio-getkey
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: integer
          description: 'CAPTCHA 키 발급을 위한 입력값 0 (기본값) | 1 0 : 키 발급 1 : 해당 키와 사용자의 입력값을 비교( CAPTCHA 입력값 비교 참조)'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    description: CAPTCHA 키 발급 API 호출로 받은 키 값
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /status:
    get:
      operationId: PapagodoctranslationStatus
      summary: 문서 번역 상태 확인
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-papagodoctranslation-status
      parameters:
        - name: requestId
          in: query
          required: true
          schema:
            type: string
          description: 번역 요청으로 발급된 아이디(Request ID) 각 문서 번역 요청에 대한 고유한 식별 값
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                    description: 진행 상태 상세 정보
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /stt:
    post:
      operationId: ClovaSpeechRecognitionStt
      summary: STT (Speech-to-Text)
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-clovaspeechrecognition-stt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - lang
                - 변환할 음성 데이터
              properties:
                lang:
                  type: string
                  description: '변환될 텍스트의 언어 Kor | Eng | Jpn | Chn Kor : 한국어 Eng : 영어 Jpn : 일본어 Chn : 중국어(간체)'
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: 음성 파일에서 변환된 텍스트
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /translate:
    post:
      operationId: PapagowebsitetranslationTranslation
      summary: 웹 번역
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-papagowebsitetranslation-translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
                - target
                - html
              properties:
                source:
                  type: string
                  description: 원본 텍스트(Source)의 언어 코드 auto (자동 언어 감지) | ko (한국어) | en (영어) | ja (일본어) | zh-CN (중국어(간체)) | zh-TW (중국어(번체)) | vi (베트남어) | th (태국어) | id (인도네시아어) | fr (프랑스어) | es (스페인어) | ru (러시아어) 번역이 지원되는 언어쌍에 대한 정보는 번역 지원 언어 참조
                target:
                  type: string
                  description: 번역할 텍스트(Target)의 언어 코드 ko (한국어) | en (영어) | ja (일본어) | zh-CN (중국어(간체)) | zh-TW (중국어(번체)) | vi (베트남어) | th (태국어) | id (인도네시아어) | fr (프랑스어) | es (스페인어) | ru (러시아어) 번역이 지원되는 언어쌍에 대한 정보는 번역 지원 언어 참조
                glossaryKey:
                  type: string
                  description: 용어집 아이디 용어집 데이터를 기반으로 치환 번역 적용 한국어⇔영어, 한국어⇔일본어, 한국어⇔중국어(간체), 한국어⇔중국어(번체), 한국어⇔프랑스어, 영어⇔일본어, 영어⇔중국어(간체), 영어⇔중국어(번체), 영어⇔베트남어, 영어⇔태국어, 영어⇔인도네시아어, 영어⇔프랑스어, 일본어⇔중국어(간체), 일본어⇔중국어(번체)
                html:
                  type: string
                  description: 번역할 HTML 문서 전체 또는 특정 영역의 엘리먼트(Element) 최대 200,000 Bytes 입력 가능 (UTF-8 기준 태그, 공백 포함)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: 응답 상태
                  data:
                    type: string
                    description: 번역된 HTML 문서 전체 또는 특정 영역의 Element
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /translation:
    post:
      operationId: PapagonmtTranslation
      summary: 텍스트 번역
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-papagonmt-translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
                - target
                - text
              properties:
                source:
                  type: string
                  description: 원본 텍스트(Source)의 언어 코드 auto (자동 언어 감지) | ko(한국어) | en(영어) | ja(일본어) | zh-CN (중국어(간체)) | zh-TW (중국어(번체)) | vi (베트남어) | th (태국어) | id (인도네시아어) | fr (프랑스어) | es (스페인어) | ru (러시아어) | de (독일어) | it (이탈리아어)
                target:
                  type: string
                  description: 번역할 텍스트(Target)의 언어 코드 ko(한국어) | en(영어) | ja(일본어) | zh-CN (중국어(간체)) | zh-TW (중국어(번체)) | vi (베트남어) | th (태국어) | id (인도네시아어) | fr (프랑스어) | es (스페인어) | ru (러시아어) | de (독일어) | it (이탈리아어) 번역이 지원되는 언어쌍에 대한 정보는 번역 지원 언어 참조
                text:
                  type: string
                  description: 번역할 텍스트 1회 호출 시 최대 5,000자 번역 가능
                glossaryKey:
                  type: string
                  description: 용어집 아이디 용어집 데이터를 기반으로 치환 번역 적용 한국어⇔영어, 일본어, 중국어(간/번체), 프랑스어 | 영어⇔일본어, 중국어(간/번체), 베트남어, 태국어, 인도네시아어, 프랑스어| 일본어⇔중국어(간/번체) replaceInfo 와 동시 사용 시 replaceInfo 가 우선 용어집 내 용어에는 honorific (높임말) 미적용
                replaceInfo:
                  type: string
                  description: 치환 번역 인덱스 특정 인덱스( str )를 원하는 텍스트로 일괄 번역 str 이 미설정된 경우 원문 반환 한국어⇔영어, 일본어, 중국어(간/번체), 프랑스어 |영어⇔일본어, 중국어(간/번체), 베트남어, 태국어, 인도네시아어, 프랑스어|일본어⇔중국어(간/번체)
                honorific:
                  type: boolean
                  description: '높임말 적용 여부 true | false (기본값) true : 높임말 적용 false : 높임말 미적용 영어⇒한국어, 일본어⇒한국어, 중국어(간/번체)⇒한국어, 한국어⇒일본어, 영어⇒일본어, 중국어(간/번체)⇒일본어'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /tts:
    post:
      operationId: ClovavoiceTtsPremium
      summary: TTS (Premium)
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-clovavoice-ttspremium
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - speaker
                - text
              properties:
                speaker:
                  type: string
                  description: 음성 합성 시 사용할 목소리 종류 각 목소리에 대한 정보는 음성 합성 목소리 목록 참조
                text:
                  type: string
                  description: '음성으로 변환할 텍스트 UTF-8 인코딩된 텍스트만 지원 기호나 괄호 안의 텍스트는 미변환 언어별 최대 글자 수 제한 한국어, 일본어, 중국어, 대만어 : 2,000자 영어, 스페인어 : 3,000자'
                volume:
                  type: integer
                  description: '음성 크기 -5 ~ 5 (기본값: 0 ) -5 : 0.5배 작게 합성 0 : 정상 크기로 합성 5 : 1.5배 크게 합성'
                speed:
                  type: integer
                  description: '음성 속도 -5 ~ 10 (기본값: 0 ) -5 : 2.0배 속도 (duration: 0.5배 / 빠르게) 0 : 원음의 속도 10 : 0.5배 속도 (duration: 2.0배 / 느리게)'
                pitch:
                  type: integer
                  description: '음성 높낮이 -5 ~ 5 (기본값: 0 ) -5 : 1.2배 높게 합성 0 : 정상 높낮이로 합성 5 : 0.8배 낮게 합성'
                emotion:
                  type: integer
                  description: '음성의 감정 정도 지원 목소리: nara | vara | vmikyung | vdain | vyuna | vgoeun | vdaeseong 각 목소리에 대한 정보는 음성 합성 목소리 목록 참조 0 ~ 3 (기본값: 0 ) 0 : 중립 1 : 슬픔 2 : 기쁨 3 : 분노 ( nara 미지원)'
                emotion-strength:
                  type: integer
                  description: '음성의 감정 강도 지원 목소리: vara | vmikyung | vdain | vyuna | vgoeun | vdaeseong 각 목소리에 대한 정보는 음성 합성 목소리 목록 참조 0 ~ 2 (기본값: 1 ) 0 : 약함 1 : 보통 2 : 강함'
                format:
                  type: string
                  description: 음성 파일 형식 mp3 (기본값) | wav
                sampling-rate:
                  type: integer
                  description: 음성의 샘플링 레이트 wav 형식만 지원 8000 | 16000 | 24000 (기본값)| 48000 예외적으로 mijin 은 16000 레이트만 지원
                alpha:
                  type: integer
                  description: '음색 -5 ~ 5 (기본값: 0 ) 0 보다 클 경우: 높은 음색 0 보다 작을 경우: 낮은 음색'
                end-pitch:
                  type: integer
                  description: '음성의 끝음 처리 지원 목소리: clara | matt | meimei | liangliang | chiahua | kuanlin | carmen | jose | d- 로 시작하는 목소리 전체(<예시> dara ) 각 목소리에 대한 정보는 음성 합성 목소리 목록 참조 -5 ~ 5 (기본값: 0 ) 0 보다 클 경우: 높은 끝음 0 보다 작을 경우: 낮은 끝음'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
                additionalProperties: true
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
  /v1/translate:
    post:
      operationId: ImageTotextApi
      summary: Image Translation (Text)
      description: Classic/VPC 환경에서 이용 가능합니다.
      tags:
        - naver

      x-ncloud-source: https://api.ncloud-docs.com/docs/ai-naver-imagetotextapi
      parameters:
        - name: source
          in: query
          required: true
          schema:
            type: string
          description: 원본 텍스트(Source)의 언어 코드 auto (자동 언어 감지) | ko (한국어) | en (영어) | ja (일본어) | zh-CN (중국어(간체)) | zh-TW 중국어(번체) | vi (베트남어) | th (태국어) | id (인도네시아어) | fr (프랑스어) | es (스페인어) | ru (러시아어)
        - name: target
          in: query
          required: true
          schema:
            type: string
          description: 번역할 텍스트(Target)의 언어 코드 ko (한국어) | en (영어) | ja (일본어) | zh-CN (중국어(간체)) | zh-TW 중국어(번체) | vi (베트남어) | th (태국어) | id (인도네시아어) | fr (프랑스어) | es (스페인어) | ru (러시아어) | de (독일어) | it (이탈리아어)
        - name: image
          in: query
          required: true
          schema:
            type: string
          description: 원본 이미지 파일
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    additionalProperties: true
                    description: 응답 결과
        4XX:
          $ref: '#/components/responses/NcloudClientError'
        5XX:
          $ref: '#/components/responses/NcloudServerError'
components:
  securitySchemes:
    ncpApiKeyId:
      type: apiKey
      in: header
      name: X-NCP-APIGW-API-KEY-ID
      description: APIGW Client ID issued when an app is registered in NCP console.
    ncpApiKey:
      type: apiKey
      in: header
      name: X-NCP-APIGW-API-KEY
      description: APIGW Client Secret issued when an app is registered in NCP console.
  schemas:
    NcloudErrorEnvelope:
      type: object
      description: 'Naver Cloud Platform standard error envelope. Most products return this shape; some (Object Storage, CLOVA) wrap differently — `additionalProperties: true` keeps clients tolerant.'
      properties:
        responseError:
          type: object
          description: 'Error detail (present on most NCP product errors). Field shape varies; `additionalProperties: true` keeps clients tolerant.'
          properties:
            returnCode:
              type: string
              description: NCP error code.
            returnMessage:
              type: string
              description: Human-readable error message.
          additionalProperties: true
        error:
          description: 'Alternative error field. Type varies: object (CLOVA, NCP standard), string (cert-manager Spring Boot 404), or null.'
      additionalProperties: true
  responses:
    NcloudClientError:
      description: Client error (4xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
    NcloudServerError:
      description: Server error (5xx) — NCP error envelope
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NcloudErrorEnvelope'
